<label *ngIf="label">{{label}}</label>
<div class="workgroup-selector" id="{{htmlid}}" [style.margin]="margin " [style.width]="width + 'px'"
    [style.display]="display">
</div>
<span>{{selectedObject?.label}}</span>