label {
    padding-top: 4px;
    vertical-align: top;
}

span {
    display: none;
    padding-bottom:4px;
}

:host ::ng-deep .jqx-tree {
    overflow: scroll !important;
}

:host ::ng-deep .oneworkgroup-mode {
    margin-bottom: 5px;
}

@media print {
    span {
        display: inline-block;
    }
    .workgroup-selector {
        display: none !important;
    }
}