.left-ellipsis {
    overflow: hidden;
}

.text-right-pad {
    margin-right: 120px;
}

.left-ellipsis span.ellipsistext {
    white-space: nowrap;
}

.left-ellipsis span.ellipsis {
    float: right;
}

.left-ellipsis span.ellipsis:before {
    content: "...";
}

.left-ellipsis .fulltext {
    display: none;
    overflow-wrap: break-word;
}

@media print {

    /* no wrapping for print views. */
    .left-ellipsis {
        overflow: visible;
    }

    .left-ellipsis .ellipsistext {
        display: none;
    }

    .left-ellipsis .fulltext {
        display: inline;
    }
}