﻿@{
  ViewBag.ParentId = Request["parentId"];
}
<script>
	require(["/RecHubConfigViews/Assets/SystemSettings/EditDocumentType.js?v=20191105"], function (editDocumentType) {
	    editDocumentType.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
	});
</script>
<legend>Edit Document Type</legend>
<div class="editDocumentTypeModal">
	<div class="row" id="formDiv">
		<div class="col-sm-12">
			<form class="form-horizontal" role="form" id="documentTypeForm">
				<table style="border-spacing: 5px; border-collapse: separate;">
					<tr>
						<td>
							<label for="inputWorkgroup" class="control-label" >FileDescriptor: </label>
						</td>
						<td>
							<p class="form-control-static" data-bind="text: model.FileDescriptor" style="width: 330px;"/>
						</td>
					</tr>
					<tr>
						<td>
							<label for="inputDescription" class="control-label">Description: </label>
						</td>
						<td>
							<input type="text" class="form-control" id="inputDescription" name="inputDescription" placeholder="Description" data-bind="value: model.Description" maxlength="60" required="" style="min-width: 200px; max-width: 300px;" />
						</td>
					</tr>
					<tr>
						<td/>
						<td>
							<button type="submit" class="btn btn-primary" id="formSubmit">Save</button>
							<button type="button" class="btn btn-inverse" id="formCancel">Cancel</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
