﻿@{
  ViewBag.ParentId = Request["parentId"];
}

<style>
    #editSystemSettingsModal label
    {
        font-size: 0.8em;
    }

    #editSystemSettingsModal .card-header
    {
        font-size: 0.8em;
        font-weight: bolder;
    }

    .user-preference-label {
        display: block;
    }

    .subtext {
        font-size: 0.5em;
        position: relative;
        top: -6px;
    }

    .user-preferences td {
        vertical-align: top;
    }
</style>

<script>
		require(["/RecHubConfigViews/Assets/SystemSettings/EditSystemSettings.js?v=20191105"], function (editDataRetrieval) {
			editDataRetrieval.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
		});
</script>

<div id="editSystemSettingsModal">
	<form role="form" id="editSystemSettingForm" name="editSystemSettingsForm">
		<fieldset>
			<legend><span>Edit System Settings</span></legend>
			<div class="row">
			    <div class="col-md-6">
                     <div class="card">
                        <div class="card-header">General Options</div>
                        <div class="card-body" id="generalOptionsPanel">
                            <table style="width: 100%;">
                                <!--  hidden until 2.02
                                <tr>
                                    <td>
                                        <label>Minutes to apply to in-process exception deadline</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="inputMinutesToApply" name="inputMinutesToApply" data-bind="value: minutesToApply" />
                                    </td>
                                </tr>
                                -->
                                <tr>
                                    <td>
                                        <label>Maximum Number of Queries a User May Save</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="inputMaxQueries" name="inputMaxQueries" data-bind="value: maxQueries" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Maximum Number of Workgroups</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="inputMaxWorkgroups" name="inputMaxWorkgroups" data-bind="value: maxWorkgroups" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="user-preference-label">Maximum Number of Rows for Print/Download</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="inputMaxPrintableRows" name="inputMaxPrintableRows" data-bind="value: maxPrintableRows" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Default Viewing Days</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="inputDefaultViewingDays" name="inputDefaultViewingDays" data-bind="value: defaultViewingDays" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">Image Retrieval Options</div>
                        <div class="card-body" id="imageRetrievalOptionsPanel">
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <label>Payment Image Display</label>
                                    </td>
                                    <td style="text-align: center;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="checkImageDisplayModeSelect" style="margin-bottom: 15px;"></div>
                                        <label class="error" style="display: none;" id="checkModeSelectError" for="checkImageDisplayModeSelect">A display status must be selected.</label>
                                    </td>
                                    <td>
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Document Image Display</label>
                                    </td>
                                    <td style="text-align: center;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="documentImageDisplayModeSelect" style="margin-bottom: 15px;"></div>
                                        <label class="error" style="display: none;" id="displayModeSelectError" for="documentImageDisplayModeSelect">A display status must be selected.</label>
                                    </td>
                                    <td>   
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <style>
                    .spacer
                    {
                        width: 20px;
                    }
                </style>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">User Preferences</div>
                        <div class="card-body" id="userPreferencesPanel">
                            <div style="border: 1px solid #ccc; border-radius: 10px; padding: 8px; margin-bottom: 10px;">
                                <table style="width: 100%;" class="user-preferences">
                                    <tr>
                                        <td>
                                            <label class="user-preference-label">Rows Displayed Per Page</label>
                                            <label class="user-preference-label subtext">(Batch Summary, Search, Notifications)</label>
                                        </td>
                                        <td class="spacer"></td>
                                        <td style="text-align: center;">
                                            <label class="user-preference-label">Allow User Override</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="inputRecordsPerPage" name="inputRecordsPerPage" data-bind="value: recordsPerPage" />
                                        </td>
                                        <td class="spacer"></td>
                                        <td style="text-align: center;">
                                            <div class="">
                                                <label class="radio-inline" for="BatchRecordsPerPageOverride-0">
                                                    <input name="BatchRecordsPerPageOverride-0" id="BatchRecordsPerPageOverride-0" type="radio" 
                                                           data-bind="checkedValue: true, checked: isRecordsOverride"><span> Yes</span>
                                                </label>
                                                <label class="radio-inline" for="BatchRecordsPerPageOverride-1" >
                                                    <input name="BatchRecordsPerPageOverride-1" id="BatchRecordsPerPageOverride-1" type="radio" 
                                                           data-bind="checkedValue: false, checked: isRecordsOverride"><span> No</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="border: 1px solid #ccc; border-radius: 10px; padding: 8px;">
                                <table style="width: 100%;" class="user-preferences">
                                    <tr>
                                        <td>
                                            <label class="user-preference-label">Display Payer Name</label>
                                            <label class="user-preference-label subtext">(in Image PDF)</label>
                                        </td>
                                        <td class="spacer"></td>
                                        <td style="text-align: center;">
                                            <label>Allow User Override</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="">
                                                <label class="radio-inline" for="DisplayRemitterName-0">
                                                    <input name="DisplayRemitterName-0" id="DisplayRemitterName-0" type="radio" 
                                                            data-bind="checkedValue: true, checked: isDisplayRemitterName"><span> Yes</span>
                                                </label>
                                                <label class="radio-inline" for="DisplayRemitterName-1" >
                                                    <input name="DisplayRemitterName-1" id="DisplayRemitterName-1" type="radio" 
                                                            data-bind="checkedValue: false, checked: isDisplayRemitterName"><span> No</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="spacer"></td>
                                        <td style="text-align: center;">
                                            <div class="">
                                                <label class="radio-inline" for="DisplayRemitterNameOverride-0">
                                                    <input name="DisplayRemitterNameOverride-0" id="DisplayRemitterNameOverride-0" type="radio" 
                                                            data-bind="checkedValue: true, checked: isDisplayRemitterNameOverride"><span> Yes</span>
                                                </label>
                                                <label class="radio-inline" for="DisplayRemitterNameOverride-1" >
                                                    <input name="DisplayRemitterNameOverride-1" id="DisplayRemitterNameOverride-1" type="radio" 
                                                            data-bind="checkedValue: false, checked: isDisplayRemitterNameOverride"><span> No</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">Display Options</div>
                        <div class="card-body" id="displayOptionsPanel">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 70%;">
                                        <label style="margin-top: 15px;">Display Batch Cue ID</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <label class="radio-inline" for="DisplayBatchQue-0">
                                                <input name="DisplayBatchQue-0" id="DisplayBatchQue-0" type="radio" 
                                                       data-bind="checkedValue: true, checked: isDisplayBatchQue"><span> Yes</span>
                                            </label>
                                            <label class="radio-inline" for="DisplayBatchQue-1" >
                                                <input name="DisplayBatchQue-1" id="DisplayBatchQue-1" type="radio" 
                                                       data-bind="checkedValue: false, checked: isDisplayBatchQue"><span> No</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Display Account Site Code</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <label class="radio-inline" for="ShowAcctSite-0">
                                                <input name="ShowAcctSite-0" id="ShowAcctSite-0" type="radio" 
                                                       data-bind="checkedValue: true, checked: isShowAcctSite"><span> Yes</span>
                                            </label>
                                            <label class="radio-inline" for="ShowAcctSite-1" >
                                                <input name="ShowAcctSite-1" id="ShowAcctSite-1" type="radio" 
                                                       data-bind="checkedValue: false, checked: isShowAcctSite"><span> No</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Display Bank ID</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <label class="radio-inline" for="ShowBankId-0">
                                                <input name="ShowBankId-0" id="ShowBankId-0" type="radio" 
                                                       data-bind="checkedValue: true, checked: isShowBankId"><span> Yes</span>
                                            </label>
                                            <label class="radio-inline" for="ShowBankId-1" >
                                                <input name="ShowBankId-1" id="ShowBankId-1" type="radio" 
                                                       data-bind="checkedValue: false, checked: isShowBankId"><span> No</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Display Batch Site Code</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <label class="radio-inline" for="ShowBatchCode-0">
                                                <input name="ShowBatchCode-0" id="ShowBatchCode-0" type="radio" 
                                                       data-bind="checkedValue: true, checked: isShowBatchCode"><span> Yes</span>
                                            </label>
                                            <label class="radio-inline" for="ShowBatchCode-1" >
                                                <input name="ShowBatchCode-1" id="ShowBatchCode-1" type="radio" 
                                                       data-bind="checkedValue: false, checked: isShowBatchCode"><span> No</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Display Payment Sequence</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <label class="radio-inline" for="ShowCheckSeq-0">
                                                <input name="ShowCheckSeq-0" id="ShowCheckSeq-0" type="radio" 
                                                       data-bind="checkedValue: true, checked: isShowCheckSeq"><span> Yes</span>
                                            </label>
                                            <label class="radio-inline" for="ShowCheckSeq-1" >
                                                <input name="ShowCheckSeq-1" id="ShowCheckSeq-1" type="radio" 
                                                       data-bind="checkedValue: false, checked: isShowCheckSeq"><span> No</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Display Transaction Invoice Sequence</label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <label class="radio-inline" for="ShowTransSeq-0">
                                                <input name="ShowTransSeq-0" id="ShowTransSeq-0" type="radio" 
                                                       data-bind="checkedValue: true, checked: isShowTransSeq"><span> Yes</span>
                                            </label>
                                            <label class="radio-inline" for="ShowTransSeq-1" >
                                                <input name="ShowTransSeq-1" id="ShowTransSeq-1" type="radio" 
                                                       data-bind="checkedValue: false, checked: isShowTransSeq"><span> No</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a id="saveButton" class="btn wausauBtn btn-primary" href="#">Save</a>
					<a id="cancelButton" class="btn wausauBtn btn-inverse" href="#">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>
</div>