﻿@{
    ViewBag.ParentId = Request["parentId"];
}

<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />

<style>

    .tab-pane {

        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
    }

    .nav-tabs {
        margin-bottom: 0;
    }
    .nav-tabs > li.active {
        font-weight: bold;
    }

    .form-control-static {
        position: relative;
    }

    td {
        width: 310px;
    }

    .user-preferences td {
        vertical-align: top;
    }

    .user-preference-label {
        display: block;
    }

    .subtext {
        font-size: 0.6em;
        position: relative;
        top: -6px;
    }
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
     border: 1px solid #d3d3d3; 
     background: #e6e6e6;  
    }

</style>

<script type="text/javascript">
      	require(["/RecHubConfigViews/Assets/SystemSettings/Index.js?v=20191105"], function (systemSettings) {
            systemSettings.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
        });
</script>

<div id="tabbase" class="card">
    <div class="card-header">
        <span class="portlet-text">System Settings</span>
    </div>
    <div class="card-body">
        <div class="systemSettingsPortlet col-md-12">
            <div id="tabbase" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#systemsettings" data-toggle="tab" id="system-settings-tab" role="tab">System Settings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#documenttypes" data-toggle="tab" id="document-type-tab" role="tab">Document Types</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notificationtypes" data-toggle="tab" id="notification-type-tab" role="tab">Notification Types</a></li>
                </ul>

                <div class="tab-pane">
                    <div role="tabpanel" class="tab-pane active" id="systemsettings" style="width: 100%;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a id="editSystemSettings" data-bind="visible: CanEditSystemSettings" class="btn wausauBtn btn-primary" href="#">Edit</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">General Options</div>
                                        <div class="card-body" id="generalOptionsPanel">
                                            <table style="width: 100%;">
                                                <!--  hiding this until 2.02
                                                <tr>
                                                    <td style="width: 73%">
                                                        <label>Minutes to apply to in-process exception deadline:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: minutesToApply"></span>
                                                    </td>
                                                </tr>
                                                -->
                                                <tr>
                                                    <td>
                                                        <label>Maximum Number of Queries a User May Save:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: maxQueries"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Maximum Number of Workgroups:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: maxWorkgroups"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Maximum Number of Rows for Print/Download:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: maxPrintableRows"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Default Viewing Days:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: defaultViewingDays"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="card">
                                        <div class="card-header">Image Retrieval Options</div>
                                        <div class="card-body" id="imageRetrievalOptionsPanel">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td style="width: 45%">
                                                        <label>Payment Image Display:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: checkPDFText"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Document Image Display:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: displayPDFText"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">User Preferences</div>
                                        <div class="card-body" id="userPreferencesPanel">
                                            <table class="user-preferences" style="width: 100%;">
                                                <tr>
                                                    <td style="width: 45%;">
                                                        <label class="user-preference-label">Rows Displayed Per Page:</label>
                                                        <label class="user-preference-label subtext">(Search, Notifications)</label>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: recordsPerPage"></span>
                                                    </td>
                                                    <td style="width: 30%;">
                                                        <label>Allow User Override:</label>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: isRecordsOverride"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 45%;">
                                                        <label class="user-preference-label">Display Payer Name:</label>
                                                        <label class="user-preference-label subtext">(in Image PDF)</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: isDisplayRemitterName"></span>
                                                    </td>
                                                    <td style="width: 30%;">
                                                        <label>Allow User Override:</label>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: isDisplayRemitterNameOverride"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="card">
                                        <div class="card-header">Display Options</div>
                                        <div class="card-body" id="displayOptionsPanel">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td style="width: 60%;">
                                                        <label>Display Batch Cue ID:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: isDisplayBatchQue"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Display Account Site Code:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: isShowAcctSite"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Display Bank ID:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: isShowBankId"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Display Batch Site Code:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: isShowBatchCode"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Display Payment Sequence:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: isShowCheckSeq"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Display Transaction Invoice Sequence:</label>
                                                    </td>
                                                    <td>
                                                        <span class="form-control-static" data-bind="text: isShowTransSeq"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane container" id="documenttypes">
                        <div class="card" style="border:0px">
                            <div class="row">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="document-types-grid" class="slickStyle"></div>
                                            <div id="document-pager" style="width:100%;height:20px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane container" id="notificationtypes">
                        <div class="card" style="border:0px">
                            <div class="row">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span data-bind="visible: canEditNotifications">
                                                <a href="#" class="btn btn-primary" id="add-notification-button">Add</a>
                                            </span>
                                            <div id="notification-types-grid" class="slickStyle" style="margin-top: 10px !important;"></div>
                                            <div id="notification-pager" style="width:100%;height:20px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
