﻿@{
    ViewBag.ParentId = Request["parentId"];
}

<script>
	require(["/RecHubConfigViews/Assets/RecHubEntityMaintenance/EditEntity.js?v=20191105"], function (EditEntity) {
        EditEntity.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
    });
</script>

<div id="entityEdit">
    <form class="form" id="entityEditForm">
        <fieldset>
            <!-- Form Name -->
            <legend><span data-bind="text: formLegend"></span></legend>

            <input type="hidden" name="hashtoken" value="@ViewBag.SessionToken" />

            <div class="form-group">
                <label for="PaymentImageDisplayModeSelect" class="control-label" data-bind="text: labels.PaymentImageDisplayModeLabel"></label>
                <div class="PaymentImageDisplayModeSelect"></div>
            </div>

            <div class="form-group">
                <label for="DocumentImageDisplayModeSelect" class="control-label" data-bind="text: labels.DocumentImageDisplayModeLabel"></label>
                <div class="DocumentImageDisplayModeSelect"></div>
            </div>

            <div class="form-group">
                <label for="DisplayBatchID" class="control-label" data-bind="text: labels.DisplayBatchIDLabel"></label>
                <div class="">
                    <label class="radio-inline" for="DisplayBatchID-0">
                        <input name="DisplayBatchID" id="DisplayBatchID-0" type="radio"
                               data-bind="checkedValue: true, checked: selectedEntity().DisplayBatchID"><span> Yes</span>
                    </label>
                    <label class="radio-inline" for="DisplayBatchID-1">
                        <input name="DisplayBatchID" id="DisplayBatchID-1" type="radio"
                               data-bind="checkedValue: false, checked: selectedEntity().DisplayBatchID"><span> No</span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="ViewingDays" data-bind="text: labels.ViewingDaysLabel"></label>
                <input id="ViewingDays" name="ViewingDays" placeholder="<Number of Days>" class="form-control input-md" type="text" data-bind="value: selectedEntity().ViewingDays">
            </div>

            <div class="form-group">
                <label class="control-label" for="MaximumSearchDays" data-bind="text: labels.MaximumSearchDaysLabel"></label>
                <input id="MaximumSearchDays" name="MaximumSearchDays" placeholder="<Number of Days>" class="form-control input-md" type="text" data-bind="value: selectedEntity().MaximumSearchDays">
            </div>

            <div class="form-group">
                <label class="control-label" for="EntityBillingAccount" data-bind="text: labels.BillingAccountLabel"></label>
                <input id="EntityBillingAccount" name="EntityBillingAccount" placeholder="<Optional>" class="form-control input-md" type="text" data-bind="value: selectedEntity().BillingAccount" />
            </div>
            <div class="form-group">
                <label class="control-label" for="EntityBillingField1" data-bind="text: labels.BillingField1Label"></label>
                <input id="EntityBillingField1" name="EntityBillingField1" placeholder="<Optional>" class="form-control input-md" type="text" data-bind="value: selectedEntity().BillingField1" />
            </div>
            <div class="form-group">
                <label class="control-label" for="EntityBillingField2" data-bind="text: labels.BillingField2Label"></label>
                <input id="EntityBillingField2" name="EntityBillingField2" placeholder="<Optional>" class="form-control input-md" type="text" data-bind="value: selectedEntity().BillingField2" />
            </div>


            <div class="row">
                <div class="col-md-12">
                    <a id="saveButton" class="btn wausauBtn btn-primary" href="#" data-bind="text: labels.Save"><i class="fa"></i></a>
                    <a id="cancelButton" class="btn wausauBtn btn-inverse" href="#" data-bind="text: labels.Cancel"><i class="fa"></i></a>
                </div>
            </div>
        </fieldset>
    </form>
</div>