﻿@{
    Layout = "~/Views/Shared/_Panel.cshtml";
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.summer.css" type="text/css" />
<style>
    .control-span {
        text-align: left !important;
        font-weight: normal !important;
    }
    .recHub-entity-label {
        width: 250px;
    }
</style>
<script>
    $LAB    
    .script("/Assets/jqwidgets/jqx-all.js")
    .script("/Assets/slickgrid/lib/jquery.event.drag-2.3.0.js")
    .script("/Assets/slickgrid/lib/jquery.event.drop-2.3.0.js").wait(function() {
    	require(["/RecHubConfigViews/Assets/RecHubEntityMaintenance/Index.js?v=20191105"], function (RecHubEntityFrame) {
            RecHubEntityFrame.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
        });
    });
</script>
<div id="recHubEntityFrameBase">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text" data-bind="text: labels.Title"></span>
            <div class="titleRefreshIcon">
                <a title="Refresh" class="icon-no-text" href="#" data-bind="attr: {title: labels.PageRefresh}, click: refreshScreen"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
	    <div class="card-body" style="font-size: 12px !important;">
			<div class="row">
				<div class="col-md-12">
					<div id="listLoadErrors" data-bind="foreach: loadErrors"><span class="col-md-12 error" data-bind="text: $data" /></div>
				</div>
			</div>
			<div class="row" style="min-height: 300px;">
				<div class="col-md-3">
					<div id="entitySelector"></div>
				</div>
				<div class="col-md-9">
					<div data-bind="visible: selectedEntityError">
						<div class="row" style="vertical-align:middle; text-align: center">
							<span class="col-md-12 help-block" data-bind="text: selectedEntityErrorText"></span>
						</div>
					</div>
					<div style="display: none" data-bind="visible: validEntitySelected">
					   <div class="row" data-bind="visible: entityExistsInHub">
							<div id="entityDetails" class="form-horizontal">
								<div class="form-group">
									<label for="PaymentImageDisplayMode" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.PaymentImageDisplayModeLabel"></label>
									<span class="col-md-8 control-span control-label" data-bind="text: imageDisplayModeText(selectedEntity().PaymentImageDisplayMode)"></span>
								</div>
								<div class="form-group">
									<label for="DocumentImageDisplayMode" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.DocumentImageDisplayModeLabel"></label>
									<span class="col-md-8 control-span control-label" data-bind="text: imageDisplayModeText(selectedEntity().DocumentImageDisplayMode)"></span>
								</div>
								<div class="form-group">
									<label for="DisplayBatchID" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.DisplayBatchIDLabel"></label>
									<span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().DisplayBatchID === undefined ? '' : selectedEntity().DisplayBatchID ? 'Yes' : 'No'"></span>
								</div>
								<div class="form-group">
									<label for="ViewingDays" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.ViewingDaysLabel"></label>
									<span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().ViewingDays"></span>
								</div>                        
								<div class="form-group">
									<label for="MaximumSearchDays" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.MaximumSearchDaysLabel"></label>
									<span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().MaximumSearchDays"></span>
								</div> 
                                <div class="form-group">
                                    <label for="EntityBillingAccount" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.BillingAccountLabel"></label>
                                    <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().BillingAccount"></span>
                                </div>
                                <div class="form-group">
                                    <label for="EntityBillingField1" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.BillingField1Label"></label>
                                    <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().BillingField1"></span>
                                </div>
                                <div class="form-group">
                                    <label for="EntityBillingField2" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.BillingField2Label"></label>
                                    <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().BillingField2"></span>
                                </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" style="padding-left: 200px">
								<a id="editEntityButton" class="btn wausauBtn btn-primary" href="#" data-bind="text: entityExistsInHub() ? labels.Edit : labels.Add"><i class="fa"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
