.canvas-parent {
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 225px;
}

.legendlist {
    padding-left: 0px;
}

.legendlist li {
    list-style: none;
    cursor: pointer;
}

.legendlist li ::ng-deep .strike {
    text-decoration: line-through;
}

.legendlist .block {
    /* 
        So we're using a thick-border instead of a background-color. 
        This is because printer friendly modes don't show background colors.
    */
    width: 0px;
    height: 10px;
    border-left: 10px solid;
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

#refreshPageButton {
    cursor: pointer;
}

.fieldset {
    margin-right: 10px;
}

.fieldset:nth-child(2)>div>label {
    width: 7em;
}

@media (max-width: 946px) {
    .fieldset:nth-child(2)>div>label {
        width: 12em;
    }
}

.fieldset:nth-child(2)>div:nth-child(1)>label {
    margin-bottom: 2px;
}

.fieldset:nth-child(1)>div:nth-child(1)>label {
    margin-bottom: 7px;
}

.fieldset:nth-child(1)>div:nth-child(2)>label {
    margin-bottom: 7px;
}


.fieldset div {
    display: flex;
    align-items: center;
}

.fieldset label {
    width: 12em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapser {
    width: 28px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    padding-top: 1px;
    padding: 0px;
    text-align: center;
    background-color: #aaa;
    border: 1px solid #999;
    color: #444;
}

.expand {
    height: auto;
    transition: height 0.8s;
}

.collapse {
    height: 0px;
}

#selectbox-printmode {
    display: none;
}

.col-md-3 {
    overflow: none;
}

@media print {
    #selectbox-printmode {
        display: inline-block;
    }

    #selectbox-grouping {
        display: none;
    }

    .collapser {
        display: none;
    }

}