<div class="box">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-left portlet-header-text">
                        <ng-container *ngIf="permissionsLoading">
                            <breadcrumb></breadcrumb>
                        </ng-container>Dashboard
                    </span>
                    <refresh (onRefresh)="refresh()" hoverMessage="Refresh dashboard page"
                        printHoverMessage="Print dashboard page (Ctrl+P)"></refresh>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class=col-sm-12>
                    <div class="fieldset pull-left">
                        <div>
                            <label>Entity/Workgroup: </label>
                            <workgroupselector label="" htmlid="dashboard-wgs" allowEntitySelection="true"
                                [(selectedWorkgroup)]="selectedWorkgroup" (selectedWorkgroupChange)="workgroupChange()"
                                width="280"></workgroupselector>
                        </div>
                        <div>
                            <label>Deposit Date: </label>
                            <datepicker text="" width="300" (dateChange)="dateChange($event)" [loading]="loading"
                                [date]="depositDate"></datepicker>
                        </div>
                    </div>
                    <div class="fieldset pull-left">
                        <div>
                            <label>Grouping: </label>
                            <select [disabled]="loading" class="form-control" id="selectbox-grouping"
                                [(ngModel)]="selectedGrouping" (change)="rebuildData()" [style.width]="280 + 'px'">
                                <ng-container *ngFor="let option of groupingOptions">
                                    <option [ngValue]="option">{{option.name}}</option>
                                </ng-container>
                            </select>
                            <span id="selectbox-printmode">{{selectedGrouping.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="loading || permissionsLoading">
                <loading></loading>
            </ng-container>

            <div *ngIf="!loading && !permissionsLoading">
                <ng-container *ngIf="hasChartPermission">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card ">
                                <div class="card-header">
                                    <div class="flex-container">
                                        <div>
                                            <label>Summary Amounts and Counts</label>
                                        </div>
                                        <div>
                                            <button class="btn collapser" (click)="toggleChartClass()">
                                                {{expanderLabel}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="chart-panel" class="card-body" [ngClass]="chartMinimizer">
                                    <div *ngIf="!loading">
                                        <div *ngIf="legendData.length > 0 && legendData.length <= MAX_CHART_GROUPS"
                                            class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="canvas-parent">
                                                            <canvas #amountChart baseChart [data]="chartAmountData"
                                                                [labels]="chartAmountLabels" [chartType]="'doughnut'"
                                                                [options]="chartOptionsCurrency" [colors]="chartColors"
                                                                [legend]="false">
                                                            </canvas>
                                                        </div>
                                                        <br>
                                                        <p class="text-center">
                                                            <strong class="chart-total">Total Amount:
                                                                {{totalAmount}}</strong>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul class="legendlist">
                                                            <ng-container
                                                                *ngFor="let item of legendData, let i = index">
                                                                <li *ngIf="item.PaymentType || item.PaymentType == '' || item.ItemCount > 0 || item.ItemTotal > 0"
                                                                    (click)="toggleItem(item)"
                                                                    title="{{buildChartLabel(item.PaymentType, (item.ItemTotal | tocurrency), item.ItemTotalPercent)}}">
                                                                    <div class="block"
                                                                        [style.borderColor]="chartColors[0].backgroundColor[i]">
                                                                    </div>
                                                                    <div class="ellipsis">
                                                                        <ellipsis #el1
                                                                            [class]="item.Enabled ? '' : 'strike'"
                                                                            [text]="buildChartLabel(item.PaymentType, (item.ItemTotal | tocurrency), item.ItemTotalPercent)">
                                                                        </ellipsis>
                                                                    </div>
                                                                </li>
                                                            </ng-container>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="canvas-parent">
                                                            <canvas #totalChart baseChart [data]="chartTransactionData"
                                                                [labels]="chartTransactionLabels"
                                                                [chartType]="'doughnut'" [options]="chartOptionsTotals"
                                                                [colors]="chartColors" [legend]="false">
                                                            </canvas>
                                                        </div>
                                                        <br>
                                                        <p class="text-center">
                                                            <strong>Total Payments: {{totalCount | number:0}}</strong>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul class="legendlist">
                                                            <ng-container
                                                                *ngFor="let item of legendData, let i = index">
                                                                <li *ngIf="item.PaymentType || item.PaymentType == '' || item.ItemCount > 0 || item.ItemTotal > 0"
                                                                    (click)="toggleItem(item)"
                                                                    title="{{buildChartLabel(item.PaymentType, (item.ItemCount | number:0), item.ItemCountPercent)}}">
                                                                    <div class="block"
                                                                        [style.borderColor]="chartColors[0].backgroundColor[i]">
                                                                    </div>
                                                                    <div class="ellipsis">
                                                                        <ellipsis #el2
                                                                            [class]="item.Enabled ? '' : 'strike'"
                                                                            [text]="buildChartLabel(item.PaymentType, (item.ItemCount | number:0), item.ItemCountPercent)">
                                                                        </ellipsis>
                                                                    </div>
                                                                </li>
                                                            </ng-container>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="legendData.length == 0" class="row">
                                            <div class="col-xs-12">
                                                <p>
                                                    <i class="ml-2">No data available.</i>
                                                </p>
                                            </div>
                                        </div>
                                        <div *ngIf="legendData.length > MAX_CHART_GROUPS" class="row">
                                            <div class="col-xs-12">
                                                <p>
                                                    <i>There are too many groups to display the charts. Try a different
                                                        filter
                                                        or grouping selection.</i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-sm-12">
                        <receivablesSummary [receivablesData]="receivablesData" [selectedGrouping]="selectedGrouping"
                            [depositDate]="depositDate" (onNavigateAwayClick)="saveQuery()">
                        </receivablesSummary>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>