<div class="form-group">
    <div class="checkbox checkbox-primary">
        <input id="{{htmlid}}" type="checkbox" [checked]="checked" (change)="toggleChecked()">
        <label for="{{htmlid}}">
            {{text}}
            <br />
            <small>{{subtext}}</small>
        </label>
    </div>
</div>