<div class="card card-default">
    <div class="card-header">
        <strong>Payment Items</strong>
    </div>
    <div class="card-body">
        <ng-container *ngIf="loading">
            <loading size="100"></loading>
        </ng-container>
        <ng-container *ngIf="!loading">
            <div class="col-sm-12">
                <div id="paymentgrid-panel" class="card-body">
                    <datatable htmlid="paymentgrid-grid" [columns]="columns" [data]="paymentDataDTO.paymentData"
                        (createdRow)="createdRow($event)" [order]="columnOrder" [footerFunction]="buildFooter"
                        [lengthOptions]="lengthOptions">
                    </datatable>
                </div>
            </div>
        </ng-container>
    </div>
</div>