﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="KeepActiveCookie.aspx.cs" Inherits="HuntingtonKeepAlive.KeepActiveCookie" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Huntington Test Keep Alive Site</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
