﻿.daterangedash{
    margin: 10px;
}

.horizontalMargins {
    margin: 0 5px;
}

.rightMargins {
    margin: 0 5px 0 0;
}


#selectedtransaction{
    width: 80px;
}

.checkicon, .documenticon, .reporticon{
    cursor: pointer;
}

.iconbox i{
    margin-left: 5px;
    margin-right: 5px;
}

.iconbox {
    min-width: 55px;
}

.defields {
    font-weight: bold;
}

/* With scrollable datatables, the headers are rendered seperate from the table. */
#stubsTable thead tr th:after{
    content: '';
}

#stubsTable{
    table-layout: fixed;
    word-wrap: break-word;
}