﻿.page-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
}
.header-title {
    font-weight: bold;
    font-size: 12px;
}
.header-locked-warning .locked-warning {
    width: 100%;
    opacity: 0.7;
    height: 25px;
    font-size: 14px;
    z-index: 100; /*Just keeps it above anything else*/
    text-align: center;
    line-height: 25px;

}
.fixed {
    position: fixed;
    top: 0;
}

#postDepositTable tr {
    cursor: pointer;
}

.fake-button {
    cursor: default !important;
}

#postDepositTable td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* With scrollable datatables, the headers are rendered seperate from the table. */
#postDepositTable thead tr th:after,
#payments-table thead tr th:after,
#stubs-table thead tr th:after {
    content: '';
}

#postDepositTable,
#payments-table,
#stubs-table {
    table-layout: fixed;
    word-wrap: break-word;
}

#payments-table tr,
#stubs-table tr {
    cursor: default;
}

#stubs-table tr td {
    padding-top: 9px; /* existing 3px + 6px to shift non-textbox text downward to align with textboxes */
}

#stubs-table tr td input,
#stubs-table tr td button {
    margin-top: -6px; /* shift textboxes back up to align with non-textbox text */
}

#stubs-table tr td .data-type-error {
    margin: 0 9px; /* horizontal margins so the error under the textbox aligns with the text in the textbox */
}

#stubs-table_wrapper tfoot td {
    text-align: left;
    padding-left: 0px;
}

#stubs-table-container table,
#payments-table-container table {
    margin-bottom: 0px !important;
}

.table-total {
    margin-left: 12px;
}
.table-total .total-amount {
    font-weight: normal;
}

/*Image viwer styles*/
.viewer-wrapper {
    height: 300px;
    width: 100%;
    position: relative;
}

.viewer-wrapper:hover .overlay {
    height: 15%;
    display: block;
}

.overlay {
    position: absolute;
    top: 85%;
    width: 100%;
    display: none;
    background: #778899;
    opacity: 0.8;
    transition: .4s ease;
    border-radius: 3px;
}

.img-viewer {
    max-width: 100%;
    cursor: grab;
    cursor: -webkit-grab;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS style. Because IE doesnt support grab...yeah. */
    .img-viewer{
        cursor: move;
    }
}
#scroll {
    height: 300px;
    overflow: hidden;
}

.overlay button {
    font-size: 14px;
    cursor: pointer
}
.image-buttons {
    left: 50%;
    margin-left: -61px;
    top: 8px;
    position:absolute;
}

.drawer {
    max-width: 8px;
    height: 290px;
    padding-left: 0;
    padding-right: 0;
    background-image: url('grabby.png');
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;    
    border-left: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.col-md-0 {
    width: 0;
    padding:0;
    float: left;
}

.row div {
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.hide {
    display: none;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateX(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

.imageDrawer{
    cursor: pointer;
    width: 5px;
}

.imageDrawer:hover {
    animation: bounce 0.7s;
}

.unlock-button .fa-lock {
    font-size: 1.3em;
    cursor: pointer;
    margin-left: -5px;
}

.unlock-button img {
    width: 80px;
    height: 60px;
}

.image-info {
    font-size: 1.3em;
    margin-top: 10px;
    margin-right: 5px;
}

.flip-image {
    padding-top: 3px;
    padding-bottom: 0px;
}

.flip-image-icon {
    display: block;
    width: 17px;
    height: 18px;
}

/*overrides the default bs panel margins*/
.panel {
    margin-bottom: 5px;
    margin-top: 5px;
}

.aligner {
    display: flex; 
    flex-direction: column; 
    justify-content: center; /* align items vertically,  */
    align-items: center;     /* align items horizontally */
    height: 300px;
}

.no-images{
    font-size:14px;
}

input.has-exception {
    /* same as bootstrap 'text-danger' */
    background-color: #ff9d9d !important;
    color: #000;
}

#payments-table input.has-exception:disabled {
    opacity: .65;
}

input.has-payer-suggestion{
    background-color: yellow;
    opacity: 0.75;
}

@media screen and (min-width:0\0) {
    #postDepositTable {
        margin-bottom: 20px !important;
    }
}