﻿<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="~/Assets/BatchDetail/Css/BatchDetail.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/BatchDetail/BatchDetailApp.js"></script>
<script type="text/javascript">
    initBatchDetail(@Html.Raw(Json.Encode(Model)));
</script>
<!-- The Page HTML -->
<div id="batchDetailPortlet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Batch Detail</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row" data-bind="visible: ShowBank">
                        <div class="col-md-3">
                            <strong>Bank:</strong>
                        </div>
                        <div class="col-md-4"><span data-bind="text:Bank"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Workgroup:</strong>
                        </div>
                        <div class="col-md-4"><span data-bind="text:Workgroup"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Deposit Date:</strong>
                        </div>
                        <div class="col-md-4"><span data-bind="text:DepositDate"></span></div>
                    </div>
                    <div class="row" data-bind="visible: ShowAccountSiteCode">
                        <div class="col-md-3">
                            <strong>Account Site Code:</strong>
                        </div>
                        <div class="col-md-4"><span data-bind="text:AccountSiteCode"></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row"  data-bind="visible: ShowBatchId">
                        <div class="col-md-6">
                            <strong>Batch ID:</strong>
                        </div>
                        <div class="col-md-6"><span data-bind="text:SourceBatchId"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Batch:</strong>
                        </div>
                        <div class="col-md-6"><span data-bind="text:Batch"></span></div>
                    </div>
                    <div class="row" data-bind="visible: ShowBatchSiteCode">
                        <div class="col-md-6">
                            <strong>Batch Site Code:</strong>
                        </div>
                        <div class="col-md-6"><span data-bind="text:BatchSiteCode"></span></div>
                    </div>
                    <div class="row" data-bind="visible: ShowBatchCue">
                        <div class="col-md-6">
                            <strong>Batch Cue Code:</strong>
                        </div>
                        <div class="col-md-6"><span data-bind="text:BatchCue"></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="pull-right">
                        <button class="btn btn-primary btnPrint" id="printerlink"><i class="fa fa-print" style="margin-right: 5px;"></i>Print</button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="batchDetailsTable" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Transaction</th>
                                <th>Payment Amount</th>
                                <th></th>
                                <th>R/T</th>
                                <th>Account Number</th>
                                <th>Check/Trace/Ref Number</th>
                                <th>Payer</th>
                                <th>DDA</th>
                                <th data-bind="visible:showImageRpsAudit"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="2"></th>
                                <th colspan="1"><a class="allBatchImage" class="showTip" title="View All Images for Batch" href="#" style="display: none"><i class="fa fa-picture-o fa-lg allBatchImage"></i> View All</a></th>
                                <th colspan="3"></th>
                                <th colspan="3" id="totalsFooter">
                                    <span class="pull-right">
                                        <strong>Total: <span data-bind="text:Total"></span></strong>
                                    </span>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
