﻿<link rel="stylesheet" type="text/css" href="/Assets/bootstrap/css/bootstrap.min.css" />
@using HubViews.Helpers;
@model HubViews.Models.BatchDetailResultsModel
<!-- The Page HTML -->
<div id="batchDetailPortlet">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Data != null)
            {
                <h3><strong>Batch Detail</strong></h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="@(Model.ShowBank ? "display:block" : "display:none")">
                            <div class="col-md-3">
                                <strong>Bank:</strong>
                            </div>
                            <div class="col-md-4"><span>@Html.DisplayFor(model => model.Bank)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Workgroup:</strong>
                            </div>
                            <div class="col-md-4"><span>@Html.DisplayFor(model => model.Workgroup)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Deposit Date:</strong>
                            </div>
                            <div class="col-md-4"><span>@Html.DisplayFor(model => model.DepositDate)</span></div>
                        </div>
                        <div class="row" style="@(Model.ShowAccountSiteCode ? "display:block" : "display:none")">
                            <div class="col-md-3">
                                <strong>Account Site Code:</strong>
                            </div>
                            <div class="col-md-4"><span >@Html.DisplayFor(model => model.AccountSiteCode)</span></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="@(Model.ShowBatchId ? "display:block" : "display:none")">
                            <div class="col-md-3">
                                <strong>Batch ID:</strong>
                            </div>
                            <div class="col-md-4"><span>@Html.DisplayFor(model => model.SourceBatchId)</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Batch:</strong>
                            </div>
                            <div class="col-md-4"><span>@Html.DisplayFor(model => model.Batch)</span></div>
                        </div>
                        <div class="row" style="@(Model.ShowBatchSiteCode ? "display:block" : "display:none")">
                            <div class="col-md-3">
                                <strong>Batch Site Code:</strong>
                            </div>
                            <div class="col-md-4"><span>@Html.DisplayFor(model => model.BatchSiteCode)</span></div>
                        </div>
                        <div class="row" style="@(Model.ShowBatchCue ? "display:block" : "display:none")">
                            <div class="col-md-3">
                                <strong>Batch Cue Code:</strong>
                            </div>
                            <div class="col-md-4"><span>@Html.DisplayFor(model => model.BatchCue)</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="batchDetailsTable" class="table dataTable">
                            <thead>
                            <tr>
                                <th class="alignRight">Transaction</th>
                                <th class="alignRight">Payment Amount</th>
                                <th>R/T</th>
                                <th>Account Number</th>
                                <th>Check/Trace/Ref Number</th>
                                <th>Payer</th>
                                <th>DDA</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model.Data)
                            {
                                var amountstring = AmountHelper.FormatAmountUsingNumberPattern(Convert.ToDecimal(item.Amount));
                                <tr>
                                    <td class="alignRight">@Html.DisplayFor(i => item.TxnSequence)</td>
                                    <td class="alignRight">@Html.DisplayFor(i => amountstring)</td>
                                    <td>@Html.DisplayFor(i => item.RT)</td>
                                    <td>@Html.DisplayFor(i => item.Account)</td>
                                    <td>@Html.DisplayFor(i => item.Serial)</td>
                                    <td>@Html.DisplayFor(i => item.RemitterName)</td>
                                    <td>@Html.DisplayFor(i => item.DDA)</td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="6"></th>
                                <th colspan="1" id="totalsFooter">
                                    <span>
                                        @{
                                            var batchtotalstring = AmountHelper.FormatAmountUsingNumberPattern(Convert.ToDecimal(Model.BatchTotal));
                                        }
                                        <strong>Total: <span>@Html.DisplayFor(model => batchtotalstring)</span></strong>
                                    </span>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12"><span>@Html.DisplayFor(model => model.Error)</span></div>
            }
        </div>
    </div>
</div>
