﻿@*
    /******************************************************************************
    ** WAUSAU Financial Systems (WFS)
    ** Copyright © 2014 WAUSAU Financial Systems, Inc. All rights reserved
    *******************************************************************************
    *******************************************************************************
    ** DO NOT DISCLOSE THESE MATERIALS TO ANY THIRD PARTY.
    *******************************************************************************
    * Copyright © 2014 WAUSAU Financial Systems, Inc. All rights reserved. All
    * other trademarks cited herein are property of their respective owners.
    * These materials are unpublished confidential and proprietary information
    * of WFS and contain WFS trade secrets. These materials may not be used,
    * copied, modified or disclosed except as expressly permitted in writing by
    * WFS (see the WFS license agreement for details). All copies, modifications
    * and derivative works of these materials are property of WFS.
    *
    * Author: Brandon Resheske, Dave Wanta
    * Date: 04/01/2014
    *
    * Purpose:
    *
    * Modification History
    *   WI 132768 BLR 04/02/2014
    *     - Initial Version
    ******************************************************************************/
*@
<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />

<link rel="stylesheet" href="/RecHubExtractScheduleViews/Assets/EWStyle.css" type="text/css" />


@RenderBody()