<div class="card">
    <div class="card-header">
        <strong>Documents</strong>
    </div>
    <div class="card-body">
        <ng-container *ngIf="loading">
            <loading size="100"></loading>
        </ng-container>
        <ng-container *ngIf="!loading">
            <div class="col-sm-12">
                <div id="documentgrid-panel" class="card-body">
                    <datatable htmlid="documentgrid-grid" [columns]="columns" [data]="documentDataDTO.documentData"
                        (createdRow)="createdRow($event)" [order]="columnOrder" [lengthOptions]="lengthOptions">
                    </datatable>
                </div>
            </div>
        </ng-container>
    </div>
</div>