/*this gives thead col-1 a width of 1.5 */
.half-col {
    width: 12.499999995%
}
.selectbox-attachmenttypes, .attachment-name{
    width:330px;
}

.date-range-dash {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.frm-btn{
    width:160px ;
}
.btn-primary{
    margin-right: 10px;
}

