<div class="card">
   <div class="card-header">
      <div class="row">
         <div class="col-md-12">
            <span class="portlet-header-text">
               <breadcrumb></breadcrumb>Notifications
            </span>
         </div>
      </div>
   </div>
   <div class="card-body">
      <br />
      <div class="row">
         <div class="col-md-12">
            <ng-container *ngIf="loading">
               <loading size="100"></loading>
            </ng-container>
            <ng-container *ngIf="!loading">

               <div class="form-group row">
                  <label for="workgroup-selector" class="col-md-2 col-form-label">Entity/Workgroup:</label>
                  <div class="col-md-10">
                     <workgroupselector label="" htmlid="notifications-wgs" allowEntitySelection="true"
                        [(selectedWorkgroup)]="selectedWorkgroup" (selectedWorkgroupChange)="workgroupChanged()"
                        width="330" (workgroupFinishedLoading)="workgroupSelectorLoaded()"></workgroupselector>
                  </div>
               </div>
               <div class="form-group row" style="height:40px">
                  <label for="startDate" class="col-md-2 col-form-label">Date Range:</label>
                     <div class="row form-group col-md-10" >
                        <datepicker style="margin-left:14px;" id="startDate" text="" htmlId="startDate" width="150"
                           (dateChange)="startDateChanged($event)" [loading]="loading" [date]="selectedStartDate">
                        </datepicker>
                        <span><i class="fa fa-minus date-range-dash"></i></span>
                        <datepicker id="endDate" text="" htmlId="endDate" width="150"
                           (dateChange)="endDateChanged($event)" [loading]="loading" [date]="selectedEndDate">
                        </datepicker>
                     </div>
               </div>
               <div class="form-group row">
                  <label for="notifications-name" class="col-md-2 col-form-label">Attachment Name:</label>
                  <div class="col-md-10 ">
                     <input type="text" class="form-control attachment-name" [(ngModel)]="enteredFileName" />
                  </div>
               </div>
               <div class="form-group row">
                  <label for="notifications-type" class="col-md-2 col-form-label">Attachment Type:</label>
                  <div class="col-md-10">
                     <select [disabled]="loading" class="form-control selectbox-attachmenttypes"
                        id="selectbox-attachmenttypes" [(ngModel)]="selectedNotificationFileType"
                        (change)="fileTypeChanged(selectedNotificationFileType.NotificationFileTypeKey)">
                        <option *ngFor="let type of notificationFileTypes; let i = index" [(ngValue)]="type"
                           [selected]="i == 0 ? true : null">{{ type.FileTypeDescription }}</option>
                     </select>
                  </div>
               </div>

               <div class="form-group row">
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-4">
                     <button class="btn btn-primary frm-btn" (click)="search()" [disabled]="loading">
                        Search
                     </button>
                     <button class="btn btn-inverse frm-btn" (click)="reset()">
                        Clear
                     </button>
                  </div>
               </div>

            </ng-container>
         </div>
      </div>
      <div class="row">
         <ng-container *ngIf="!loading">
            <div class="col-md-12">
               <div id="notifications-panel" class="card-body">
                  <br />
                  <datatable htmlid="notifications-grid" [columns]="columns" [data]="notificationsdata"
                     [loading]="loading" [preDataFunction]="setSearchValues" (clickedRow)="clickedRow($event)"
                     [pageLength]="10" [searching]="false" [isServerSide]="true"
                     dataUrl="/RechubViews/Notifications/GetNotifications" [isSuppressDefaultErrors]="true"
                     dataRowHoverMessage="Click to view notification detail."
                     emptyTable="No notifications found for the selected criteria" isDeferLoading="true"
                     [preLoadFunction]="setOrder">
                  </datatable>
               </div>
            </div>
         </ng-container>
      </div>
   </div>
</div>