<div class="form-group">
    <label>Workgroup</label>
    <workgroupselector #wgs htmlid="wgs-alertextract" [(selectedWorkgroup)]="currentAlert.Workgroup" (selectedWorkgroupChange)="onBlur()"></workgroupselector>
    <div [hidden]="currentAlert.IsWorkgroupValid || currentAlert.Pristine" class="alert alert-danger alertInput">
        Workgroup is required
    </div>
</div>
<div class=form-group>
    <entityuserselector htmlid="extract-user-selector" [(selectedUsers)]="currentAlert.AlertUsers" (selectedUsersChange)="onBlur()" ></entityuserselector>
</div>
<div class="form-group">
    <checkbox htmlid="active-extractcomplete" text="Active" [(checked)]="currentAlert.IsActive" checkedChange="onBlur()"></checkbox>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control alertInput" [(ngModel)]="currentAlert.Description" required maxlength="30" (blur)="onBlur()">
    <div [hidden]="currentAlert.IsDescriptionValid || currentAlert.Pristine" class="alert alert-danger alertInput" alertInput>
        Description is required
    </div>
</div>