.flexbox {
    display: flex;
}

.flexitem {
    flex: 1;
}

.bootstrap-control {
    min-height: 30px;
    width: 70px;
}

.bootstrap-button {
    cursor: pointer;
    width: auto;
    font-size: 1em;
}

.divImagesTrans {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    width: 390px;
}