<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-left portlet-header-text">
                    <breadcrumb></breadcrumb>Transaction Detail
                </span>
                <refresh hoverMessage="Refresh transaction detail page"
                    printHoverMessage="Print transaction detail page (Ctrl+P)" (onRefresh)="reload()">
                </refresh>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <strong>Transaction Details</strong>
            </div>
            <div class="card-body">
                <div class="flexbox">
                    <div class="flexitem">
                        <p *ngIf="showBankIdOnline"><strong>Bank: </strong> {{transactionData?.BankID}}</p>
                        <p><strong>Workgroup: </strong> {{transactionData?.WorkgroupID}} -
                            {{transactionData?.WorkgroupDisplayName}}</p>
                        <p><strong>Deposit Date: </strong> {{transactionData?.DepositDateString}}</p>
                        <p><strong>Batch: </strong> {{transactionData?.BatchNumber}}</p>
                        <p *ngIf="displayBatchId"><strong>Batch ID: </strong> {{transactionData?.SourceBatchID}}</p>
                    </div>
                    <div class="flexitem">
                        <p *ngIf="showLockboxSiteCodeOnline"><strong>Account Site Code: </strong>
                            {{transactionData?.AccountSiteCode}}</p>
                        <p *ngIf="showBatchSiteCodeOnline"><strong>Batch Site Code: </strong>
                            {{transactionData?.BatchSiteCode}}</p>
                        <p *ngIf="displayBatchCueIdOnline"><strong>Batch Cue ID: </strong>
                            {{transactionData?.BatchCueID}}</p>
                        <p><strong>Transaction: </strong> {{transactionData?.TransactionNumber}}</p>
                    </div>
                    <div class="flexitem hideOnPrint">
                        <div class="input-group pull-right divImagesTrans">
                            <span *ngIf="viewAllImagesIconVisible" class="input-group-addon bootstrap-button"
                                (click)="viewAllImages()"><span class="fa fa-picture-o fa-lg"></span> View All
                                Images</span>
                            <input type="number" class="form-control bootstrap-control small"
                                placeholder="Transaction Id" [(ngModel)]="selectedTransactionSequence">
                            <span class="input-group-addon bootstrap-button" (click)="goToTransaction()">Go to
                                Transaction {{selectedTransactionSequence}} <span
                                    class="fa fa-long-arrow-right"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <paymentgrid [paymentDataDTO]="paymentDataDTO" [loading]="loading"></paymentgrid>
        <relatedgrid [stubDataDTO]="stubDataDTO" [loading]="loading"></relatedgrid>
        <documentgrid [documentDataDTO]="documentDataDTO" [loading]="loading"></documentgrid>
    </div>
</div>