.cpYearNavigation,.cpMonthNavigation { background-color:#C0C0C0; text-align:center; vertical-align:center; text-decoration:none; color:#000000; font-weight:bold; }
.cpDayColumnHeader, .cpYearNavigation,.cpMonthNavigation,.cpCurrentMonthDate,.cpCurrentMonthDateDisabled,.cpOtherMonthDate,.cpOtherMonthDateDisabled,.cpCurrentDate,.cpCurrentDateDisabled,.cpTodayText,.cpTodayTextDisabled,.cpText { font-family:arial; font-size:8pt; }
TD.cpDayColumnHeader { text-align:right; border:solid thin #C0C0C0;border-width:0px 0px 1px 0px; }
.cpCurrentMonthDate, .cpOtherMonthDate, .cpCurrentDate  { text-align:right; text-decoration:none; }
.cpCurrentMonthDateDisabled, .cpOtherMonthDateDisabled, .cpCurrentDateDisabled { color:#D0D0D0; text-align:right; text-decoration:line-through; }
.cpCurrentMonthDate, .cpCurrentDate { color:#000000; }
.cpOtherMonthDate { color:#808080; }
TD.cpCurrentDate { color:white; background-color: #C0C0C0; border-width:1px; border:solid thin #800000; }
TD.cpCurrentDateDisabled { border-width:1px; border:solid thin #FFAAAA; }
TD.cpTodayText, TD.cpTodayTextDisabled { border:solid thin #C0C0C0; border-width:1px 0px 0px 0px;}
A.cpTodayText, SPAN.cpTodayTextDisabled { height:20px; }
A.cpTodayText { color:black; }
.cpTodayTextDisabled { color:#D0D0D0; }
.cpBorder { border:solid thin #808080; }


/*These styles are here only as an example of how you can over-ride the default
    styles that are included in the script itself.*/
.TESTcpYearNavigation,
.TESTcpMonthNavigation{background-color:#6677DD; text-align:center; vertical-align:center; text-decoration:none; color:#FFFFFF; font-weight:bold; }
.TESTcpDayColumnHeader,
.TESTcpYearNavigation,
.TESTcpMonthNavigation,
.TESTcpCurrentMonthDate,
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDate,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDate,
.TESTcpCurrentDateDisabled,
.TESTcpTodayText,
.TESTcpTodayTextDisabled,
.TESTcpText {font-family:arial; font-size:8pt; }
TD.TESTcpDayColumnHeader {text-align:right; border:solid thin #6677DD; border-width:0 0 1 0; }
.TESTcpCurrentMonthDate,
.TESTcpOtherMonthDate,
.TESTcpCurrentDate { text-align:right; text-decoration:none; }
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDateDisabled { color:#D0D0D0; text-align:right; text-decoration:line-through; }
.TESTcpCurrentMonthDate { color:#6677DD; font-weight:bold; }
.TESTcpCurrentDate { color: #FFFFFF; font-weight:bold; }
.TESTcpOtherMonthDate { color:#808080; }
TD.TESTcpCurrentDate { color:#FFFFFF; background-color: #6677DD; border-width:1; border:solid thin #000000; }
TD.TESTcpCurrentDateDisabled { border-width:1; border:solid thin #FFAAAA; }
TD.TESTcpTodayText,
TD.TESTcpTodayTextDisabled { border:solid thin #6677DD; border-width:1 0 0 0; }
A.TESTcpTodayText,
SPAN.TESTcpTodayTextDisabled { height:20px; }
A.TESTcpTodayText { color:#6677DD; font-weight:bold; }
SPAN.TESTcpTodayTextDisabled { color:#D0D0D0; }
.TESTcpBorder { border:solid thin #6677DD; }
