﻿h5
{
	margin-top: 1px;
	margin-bottom: 1px;
}


.popit
{
	margin-top: 37px;
}

.account-heading
{
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 0.97em;
	font-weight : normal;
	font-style : normal;
	color : #000000;
	text-decoration : none;
	margin-left: 7px;
	margin-top: 5px;
	margin-bottom: -10px;
}
.wfs-icon-flip {
  background-image: url(Images/flip.png) !important;
}
