﻿/*Page Layout*/
#container { margin: 0 10px; background: #ffffff; }

#header { background: #ffffff; padding: 10px; }
#header h1 { margin: 0; font-size: 20px; text-decoration : underline;text-align:center }
#header h2 { margin: 0; font-size: 20px; text-align:center}
#header h3 { margin: 0; font-size: 11px; text-align:center} 

#subheader { background: #ffffff; padding: 10px; }
#subheader h1 { margin: 0; font-size: 14px; }

#content { clear: left; padding: 10px; }
#content h1 { font-size: 14px; margin: 0 0 .5em;}
#content h2 { color: #000000; font-size: 12px; margin: 0 0 .5em; }

#footer { background: #ffffff; text-align: right; padding: 10px; height: 1%; }


/*Content Title*/
.contentsubtitle { font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : normal; font-style : normal; color : #000000; text-decoration : none; }


/*Reports*/
.reporttitle { background-color : #FFFFFF; font-family : arial, helvetica, sans-serif; font-size: 14px; font-weight : bold; color : #000000; text-decoration : none; text-decoration : underline;text-align:center }
.reportcaption { font-family : arial, helvetica, sans-serif; font-size : 14px; font-weight : bold; color : #000000; text-decoration : none; text-align : left; background-color : #FFFFFF; }
.reportheading { background-color : #000000; font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : bold; color : #F3F3F3; text-decoration : none; }
.reportdata { font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : normal; color : #000000; text-decoration : none; }

.evenrow { background-color : #FFFFFF; }
.oddrow { background-color : #E0E0E0; }

/*HOAReports*/
.hoareportheading {font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : bold; color : #000000; text-decoration : none; border-bottom : 1px solid black }
.hoareportfooter {font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : bold; color : #000000; text-decoration : none; background-color : #FFFFFF; border-top : 1px solid black  }
.hoagrandtotalfooter {font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : bold; color : #000000; text-decoration : none; background-color : #FFFFFF; border-top : 10px double black  }




