/*body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 11px; font-weight: normal; color: #000000; background-color : #ffffff; margin : 0px }
p { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; font-size : 11px; font-weight : normal; color : #666666; background-color : #FFFFFF; }*/
body
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #dedede;
}

.brandheaderstyle { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #FFFFFF; font-size : 12px; background-color : #ffffff; }

.menustyle { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #F3F3F3; font-size : 12px; text-decoration : none; background-color : #000000; padding-top : 0px; padding-bottom : 0px; }

.mainmenustyle { position : relative; }
.mainmenustyle a { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #F3F3F3; font-size : 12px; font-weight : bold; text-decoration : none;}
.mainmenustyle a:hover { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #000000; font-size : 12px; text-decoration : none; background-color : #F3F3F3; }

.submenu { position : absolute; top : 0; left : 0; visibility : hidden; }
.submenuparent { background-color : #000000; }
.submenuchild { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #F3F3F3; font-size : 9pt; text-decoration : none; background-color :#000000; }
.submenuchild a { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #F3F3F3; font-size : 9pt; position : relative; display : block; text-decoration : none; }
.submenuchild a:hover { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; display : block; color : #000000; font-size : 9pt; text-decoration : none; background-color : #F3F3F3; }

.copyright { vertical-align : middle; font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 8pt; font-weight : normal; color : #000000; text-decoration : none; }
.copyright A { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight : normal; font-size : 8pt; color : #6c276a; text-decoration : underline; }
.copyright A:LINK { color : #6c276a; }
.copyright A:VISITED { color : #6c276a; }
.copyright A:HOVER { color : #6c276a; }

/*User Information*/
.userlabel { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; color : #000000; text-decoration : none; }
.userlabel a { color: #6c276a; }
.userdata { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; color : #FF0000; text-decoration : none; }
.userdata A { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; color : #FF0000; text-decoration : underline; }
.userdata A:Link { color : #FF0000; }
.userdata A:Visited { color : #FF0000; }
.userdata A:Hover { color : #FF0000; }

/*Content Title*/
.contenttitle {  }
.contentsubtitle { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; font-style : normal; color : #000000; text-decoration : none; }
.contentbreak { background-color : #333399; }

/*Reports*/
.reportmain { background-color : #DDDDDD; }
.reportsub { background-color : #DDDDDD; }
.reportcaption { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size : 14px; font-weight : bold; color : #000000; text-decoration : none; text-align : left; background-color : #FFFFFF; }
.recordcount { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 11px; font-weight : bold; color : #A9A9A9; text-decoration : none; background-color : #FFFFFF; }

.reportheading { background-color : #000000; font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : bold; color : #F3F3F3; text-decoration : none; }
.reportheading A:LINK { color : #F3F3F3; text-decoration : underline; }
.reportheading A:VISITED { color : #F3F3F3; text-decoration : underline; }
.reportheading A:HOVER { color : #F3F3F3; text-decoration : underline; }

.reportdata { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; color : #000000; text-decoration : none; }
.reportdata A:LINK { color : #6c276a; text-decoration : underline; }
.reportdata A:VISITED {	color : #6c276a; }
.reportdata A:HOVER { color : #6c276a; }


.reportfooter { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : bold; color : #000000; text-decoration : none; background-color : #FFFFFF; }
.reportfooter A { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 11px; font-weight : bold; color : #333399; text-decoration : underline; background-color : #FFFFFF; }
.reportfooter A:LINK { color : #6c276a; }
.reportfooter A:VISITED { color : #6c276a; }
.reportfooter A:HOVER { color : #6c276a; }


.pagelinkssymbolson { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 11px; font-weight : bold; color : #FF0000; text-decoration : none; background-color : #FFFFFF; }
.pagelinkssymbolsoff { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 11px; font-weight : bold; color : #A9A9A9; text-decoration : none; background-color : #FFFFFF; }
.pagelinks { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 11px; font-weight : bold; color : #A9A9A9; text-decoration : none; background-color : #FFFFFF; }
.pagelinks A:LINK { color : #6c276a; }
.pagelinks A:VISITED { color : #6c276a; }
.pagelinks A:HOVER { color : #6c276a; }

.evenrow { background-color : #F2F2F2; }
.oddrow { background-color : #FFFFFF; }

/*Forms*/
.formmain { background-color : #DDDDDD; }
.formsub { background-color : #FFFFFF; }
.formtitle { vertical-align : middle; background-color : #000000; font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : bold; color : #F3F3F3; text-decoration : none; }
.formlabel { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight : bold; font-size : 12px; color : #000000; }
.formfield { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight : normal; font-size : 12px; color : #000000; }
.formfield a {color: #6c276a}

/*Error Box*/
.errormain { background-color : #dddddd; }
.errorsub { background-color : #ffffff; border: 1px #000000 solid; }
.errortitle { vertical-align : middle; background-color : #000000; font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : bold; color : #F3F3F3; text-decoration : none; }
.errordetail { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; color : #000000; text-decoration : none; }
.errordetail LI { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; color : #000000; text-decoration : none; }

/*Logn Page*/
.logon { color : #000000; background-color : #FFFFFF; font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; font-weight : normal; text-decoration : none }
.logon A { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight : normal; font-size : 12px; color : #0031CE; text-decoration : none; }
.logon A:LINK {	color :#0031CE; }
.logon A:VISITED { color : #990000; }
.logon A:HOVER { color : #630063; text-decoration : underline; }
.logonlabel { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight : bold; font-size : 16px;	color : #000000; }
.logontitle { font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; font-weight : normal; color : #000000; text-decoration : none; }

/*Text Alignment*/
.left { text-align: left; }
.center { text-align : center; }
.right { text-align : right; }
.justify { text-align : justify; }
.smalltext { font-size : 10pt; }
.tinytext { font-size : 8pt; }

/*Standard Link Menu*/
.standardmenu { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #000000; font-size : 12px; font-weight : normal; text-decoration : none; background-color : #FBFBFB; }
.standardmenu A { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; color : #000000; font-size : 12px; font-weight : normal; text-decoration : none; }
.standardmenu A:LINK { color : #000000; }
.standardmenu A:VISITED { color : #000000; }
.standardmenu A:HOVER { color : #000000; }

/*Contact Page*/
.contact { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; font-size : 12px; font-weight : normal; color : #1155A0; background-color : #FFFFFF; margin : 0px }
.contact P { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; font-size : 12px; font-weight : normal; color : #1155A0; }
.contactlabel { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; font-size : 12px; font-weight : bold; color : #1155A0; }

/*Help Page*/
.help { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; font-size : 11px; font-weight : normal; color : #666666; background-color : #FFFFFF; margin : 10px }
.help P { font-family :  "Helvetica Neue",Helvetica,Arial,sans-serif; font-size : 11px; font-weight : normal; color : #666666; background-color : #FFFFFF; }

/* Containers expand 98% of the screen's width */
.container {
    margin-left: 1%;
    margin-right: 1%;
}

.containerrow {
    display:block;
}

.containercell {
    display:inline-block;
}

.containerhead {
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 12px; 
    font-weight : bold; 
    text-decoration : none; 
}

/* SlickGrid Mimic for table cells */
.grid-cell
{
	border-bottom: 1px solid silver;
	border-right: 1px dotted silver;
	border-bottom-color: silver;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	z-index: 1;
	padding: 1px 2px 2px 5px;
	margin: 1px;
	white-space: nowrap;
	cursor: default;
}

.grid-cell-left
{
	border-left: 1px solid silver;
}

.grid-header
{
	background: url('/Assets/slickgrid/images/header-columns-bg.gif') repeat-x center bottom;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 4px 4px 4px 5px;
	border-right: 1px solid silver;
	border-left: 0px;
	border-top: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.0em;

}

.grid-header-left
{
	border-left: 1px solid silver;
}

.cell-last
{
	padding-right: 10px;
}

 .cell-right-align 
 {
      text-align: right;
 }

 .cell-center-align 
 {
      text-align: center;
 }

.grid-pager
{
	width: 100%;
	height: 26px;
	border: 1px solid silver;
	border-top: 0;
	background: url('/Assets/slickgrid/images/header-columns-bg.gif') repeat-x center bottom;
	vertical-align: middle;
}

.grid
{
	font-size: 1.0em;
	border-top: 1px solid silver;
}

.totals-row
{
	font-size: 1em;
	font-weight: bold;
}

.page-portlet-view
{
	margin: 0 15px 0 15px;
	background-color: #ffffff;
}

#MainPageTable
{
	background-color: #dedede;
}

#loadFooter
{
	background-color: #dedede;
}

#loadHeader
{
	background-color: #ffffff;
	margin: 0 0 0 0;
}
