﻿@{
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/Assets/bootstrap-duallistbox/bootstrap-duallistbox.css" type="text/css" media="all">
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.summer.css" type="text/css" />

<script>
    $LAB
    .script("/Assets/jqwidgets/jqx-all.js")
	.script("/Assets/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js").wait(function () {
		require(["mapping", "/RecHubConfigViews/Assets/Alerts/AddEventRule.js"], function (mapping, addEventRule) {
	        window.ko.mapping = mapping;
	        addEventRule.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
		});
	});
</script>
<style>
    .control-label {
        font-size: 12px;
    }

    .alert-message {
        font-size: 10px;
    }

    fieldset.appliesto-border {
        border: 1px solid #000 !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0 0 0 0 #000;
        box-shadow: 0 0 0 0 #000;
    }

    legend.appliesto-border {
        width: inherit;
        font-size: 0.8em !important;
        font-weight: bold !important;
        padding: 0 10px;
        border-bottom: none;
    }
</style>

<div id="addEventRuleModal">
    <form role="form" id="eventRuleForm">
        <fieldset>

            <legend><span data-bind="text: labels.Add + ' ' + labels.Title"></span></legend>

            <div class="form-group">
                <label class="control-label" for="eventSelect" data-bind="text: labels.EventsLabel"></label>
                <div>
                    <div id="eventSelect"></div>
                    <input type="hidden" id="hdnEvent" name="hdnEvent" data-bind="value: selectedEvent()" />
                </div>
            </div>

            <div id="workgroupGroup" style="display: block;">
                <div class="form-group">
                    <label class="control-label" for="workgroupSelect" data-bind="text: labels.WorkgroupLabel"></label>
                    <div>
                        <div id="treeBase" style="width: 375px"></div>
                        <label class="error" style="display: none;" id="workgroupSelectError" for="workgroupSelect">A workgroup must be selected.</label>
                    </div>
                </div>
            </div> @*Workgroup Group*@

            <div class="form-group">
                <label class="control-label" for="" data-bind="text: labels.UsersLabel"></label>
                <div id="userSelect" style="width: 375px;"></div>
            </div>

            <div class="form-group">
                <label class="control-label" for="messageText" data-bind="text: labels.MessageLabel"></label>
                <textarea class="form-control" rows="5" disabled="disabled" data-bind="value: message"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label" for="isActive" data-bind="text: labels.ActiveLabel"></label>
                <div>
                    <input id="activeCheck" name="activeCheck" type="checkbox" data-bind="checked: isChecked">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="description" data-bind="text: labels.DescriptionLabel"></label>
                <input id="description" name="description" type="text" class="form-control" data-bind="value: description" maxlength="30" style="width: 330px;">
            </div>

            <div id="mainGroup" style="display: none;">
                <div id="appliesToGroup" style="display: none;">
                    <fieldset class="appliesto-border">
                        <legend class="appliesto-border">Applies To</legend>

                        <div class="form-group">
                            <label class="control-label" for="" data-bind="text: labels.TableLabel"></label>
                            <div>
                                <span data-bind="text: table"></span>
                            </div>
                        </div>

                        <div id="columnGroup" style="display: none;">
                            <div class="form-group">
                                <label class="control-label" for="" data-bind="text: labels.ColumnLabel"></label>
                                <div>
                                    <span data-bind="text: column"></span>
                                </div>
                            </div>
                        </div> @*Column Group*@

                        <div id="operatorsGroup" style="display: none;">
                            <div class="form-group">
                                <label class="control-label" for="operatorsSelect" data-bind="text: labels.OperatorsLabel"></label>
                                <div>
                                    <div id="operatorsSelect"></div>
                                    <input type="hidden" id="hdnOperator" name="hdnOperator" data-bind="value: selectedOperator()" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="eventValue col-md-2" data-bind="text: labels.ValueLabel"></label>
                                <div class="input-group">
                                    <span id="dollarIcon" class="input-group-addon"></span>
                                    <input id="eventValue" name="eventValue" type="text" class="form-control" data-bind="value: eventValue" maxlength="80" style="width: 330px;">
                                </div>

                            </div>
                        </div> @*Operators Group*@
                    </fieldset>
                </div> @*AppliesToGroup*@
            </div> @*Main Group*@

            <div class="row">
                <div class="col-md-12">
                    <button id="saveButton" class="btn wausauBtn btn-primary" href="#" data-bind="text: labels.Save, disable:isLoading"><i class="fa"></i></button>
                    <button id="cancelButton" class="btn wausauBtn btn-inverse" href="#" data-bind="text: labels.Cancel"><i class="fa"></i></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>