﻿@{
    ViewBag.ParentId = Request["parentId"];
}

<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />
<script>
    $LAB
      .script("/Assets/slickgrid/slick.core.js").wait()
      .script("/Assets/slickgrid/lib/jquery.event.drag-2.3.0.js") 
      .script("/Assets/slickgrid/lib/jquery.event.drop-2.3.0.js").wait() 
      .script("/Assets/jquery-validation/dist/jquery.validate.min.js").wait()
      .script("/Assets/slickgrid/slick.formatters.js")
      .script("/Assets/slickgrid/slick.editors.js")
      .script("/Assets/slickgrid/plugins/slick.cellrangedecorator.js")
      .script("/Assets/slickgrid/plugins/slick.cellrangeselector.js")
      .script("/Assets/slickgrid/plugins/slick.cellselectionmodel.js")
      .script("/Assets/slickgrid/slick.dataview.js")
      .script("/Assets/slickgrid/controls/slick.pager.js")
      .script("/Assets/slickgrid/controls/slick.columnpicker.js").wait()
      .script("/Assets/slickgrid/slick.grid.js").wait()
      .script("/Assets/slickgrid/slick.remotemodel.js").wait(function () {
          require(["/RecHubConfigViews/Assets/Alerts/Index.js"], function (alerts) {
              alerts.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
          });
      })
</script>
<style type="text/css">
    .inactive-check {
        margin-right:20px;
    }
</style>
<div class="alertPortlet col-xs-12">
    <div id="tabbase" class="card">
        <div class="card-header">
            <span class="portlet-text">Alert Manager</span>
            <div class="titleRefreshIcon">
                <a href="#" class="refresh icon-no-text"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="card-body" style="font-size: 12px !important;">
            <div class="row">
                <div class="col-lg-6" data-bind="visible: canEditAlerts()">
                    <a id="addEventRule" class="btn wausauBtn btn-primary" href="#" style="margin-left: 18px;">Add<i class="fa"></i></a>
                </div>
                <div class="pull-right inactive-check">
                    <label for="InactiveCheck">Hide Inactive Alerts</label>
                    <input type="checkbox" id="InactiveCheck" data-bind="checked: showInactive" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="margin-top: 10px;">
                    <div id="alertGrid" class="slickStyle"></div>
                    <div id="pager" style="width: 100%; height: 20px;"></div>
                </div>
            </div>
            <div id="alertNoItemsMessage"></div>


        </div>
    </div>
</div>

