﻿.daterangedash{
    margin: 10px;
}

.horizontalMargins {
    margin: 0 5px;
}

.rightMargins {
    margin: 0 5px 0 0;
}

.alignRight {
  text-align: right;
  margin-right: 1em;
}

#treeBase{
    min-width: 375px;
}

.dataTables_filter input {
    margin-left: 0 !important;
}

.dataTables_filter .input-group {
    width: 100px;
}

/* Rows are clickable on Batch summary. */
.dataTable tr {
    cursor: pointer;
}