﻿<!-- Page-Specific CSS -->
<link href="~/Assets/AdvancedSearch/Css/AdvancedSearch.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/AdvancedSearch/AdvancedSearchApp.js"></script>
<script type="text/javascript">
    initAdvancedSearch(@Html.Raw(Json.Encode(Model)), 'advancedSearchQueryDialogController');
</script>
<!-- The Page HTML -->
<div id="advancedSearchQueryDialog">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text" data-bind="text:HeaderText"></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="name" class="control-label">Name:</label>
                    <div>
                        <input class="form-control" name="name" data-bind="value: QueryName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="name" class="control-label">Description:</label>
                    <div>
                        <input class="form-control" name="name" data-bind="value: QueryDescription">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary btn-submit-query">Save</button>
                    <button type="button" class="btn btn-inverse btn-cancel-query">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>