﻿<!-- Page-Specific CSS -->
<link href="~/Assets/AdvancedSearch/Css/AdvancedSearch.css" rel="stylesheet" />
<link href="~/Assets/Shared/TableDesign.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/AdvancedSearch/AdvancedSearchApp.js"></script>
<script type="text/javascript">
    initAdvancedSearch(@Html.Raw(Json.Encode(Model)), 'advancedSearchResultsController');
</script>
<!-- The Page HTML -->
<div id="advancedSearchResultsPortlet">
    <input type="hidden" name="hashtoken" data-bind="value: Token" />
    <div class="card">
        <div class="card-header">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Search Results</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Workgroup:</strong>
                            <span data-bind="text:WorkgroupText"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table id="resultsTable" class="table dataTable table-striped table-hover">
                        <thead></thead>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" data-bind="visible:HasDownloadPermission() === true" style="display: none;">
                    <button class="btn btn-primary" id="pdf-view-button" data-bind="enable:IsInSelectivePrintMode() === false && TotalRecords() <= MaxPrintableRows() && TotalRecords() > 0">PDF View</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="text-view-button" data-bind="enable:IsInSelectivePrintMode() === false && TotalRecords() <= MaxPrintableRows() && TotalRecords() > 0">Download as Text</button>
                        <button type="button" class="btn btn-primary  dropdown-toggle"  id="download-as-text-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="enable:IsInSelectivePrintMode() === false && TotalRecords() <= MaxPrintableRows() && TotalRecords() > 0">
                            <span class="caret"></span>
                            <span class="sr-only">Download as Text</span>
                        </button>
                        <ul class="dropdown-menu" id="download-as-text-options">
                            <li><a class="dropdown-item" href="#"><input type="checkbox" id="ExcludeCommasFromNumeric" />&nbsp;Remove Commas From Currency Fields</a></li>
                            <li><a class="dropdown-item" href="#"><input type="checkbox" id="DoNotQuoteFields" />&nbsp;Remove Enclosing Quotes</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" id="download-results-button" data-bind="enable:IsInSelectivePrintMode() === false && TotalRecords() <= MaxPrintableRows() && TotalRecords() > 0">Download Results</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" data-bind="visible:HasDownloadPermission() === true" style="display: none;">
                    <button class="btn btn-inverse" id="selective-print-mode-button" data-bind="text:PrintModeText,enable:TotalRecords() > 0"></button>
                    <span id="selective-type-picker"></span>
                    <button class="btn btn-primary" id="view-selected-button" data-bind="visible:IsInSelectivePrintMode">View Selected</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p/>
                    <p>Payment Count: <span data-bind="text:TotalPaymentCount()"></span>
                    </p>
                    <p>Payment Total: <span data-bind="text:TotalPaymentSum()"></span>
                    </p>
                    <p>Search Criteria: <span data-bind="text:SearchCriteriaText()"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>