svg {
    display: block;
    margin: auto;
    width: auto;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

:host ::ng-deep .spinnerDiv {
    background-color: transparent;
    z-index: 999999999999999999;
}