<div class="unify spinnerDiv"
    [ngStyle]="{'position':static?'relative':'fixed','top':static?'':'40%','left':static?'':'50%'}">
    <div class="spinner" [style.width]="size + 'px'" [style.height]="size + 'px'"></div>
</div>