<div class=form-group>
    <entityuserselector htmlid="fatal-user-selector" [(selectedUsers)]="currentAlert.AlertUsers" (selectedUsersChange)="onBlur()"></entityuserselector>
</div>
<div class="form-group">
    <checkbox htmlid="active-extractcomplete" text="Active" [(checked)]="currentAlert.IsActive" checkedChange="onBlur()"></checkbox>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control alertInput" required maxlength="30" [(ngModel)]="currentAlert.Description" name="description" (blur)="onBlur()">
    <div [hidden]="currentAlert.IsDescriptionValid || currentAlert.Pristine" class="alert alert-danger alertInput">
        Description is required
    </div>
</div>