﻿<link href="~/Assets/PostDepositExceptions/Css/PostDepositExceptions.css?v=20171020" rel="stylesheet" />
<link href="~/Assets/Shared/TableDesign.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/Decisioning/Css/Decisioning.css" rel="stylesheet" />
<script src="~/Assets/PostDepositExceptions/PostDepositApp.js?v=20171219"></script>
<script type="text/javascript">
    initPostDeposit(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'postDepositDetailViewModel',
        'detailContainer');
</script>
<div id="detailContainer">
    <div class="header-locked-warning" style="display: none;" data-bind="visible:true">
        <div class="locked-warning btn-primary" data-bind="visible: LockOwnerWarning()">This transaction is currently locked by another user</div>
    </div>
    <div class="card">
        <div class="card-header">
            <span class="card-title page-title"><strong><span class="breadcrumbheader"></span>Exceptions Transaction Detail</strong></span>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <span class="card-title header-title">
                        <strong>Transaction <span data-bind="text: TransactionId"></span> Details</strong></span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="colimage" class="col-md-7">
                            <div class="viewer-wrapper">
                                <div id="scroll" data-bind="visible: ImageAvailable() == true">                                    
                                    <img class="img-viewer front" data-bind="visible: ShowFrontImage() == true, attr:{src: CurrentImage}"/>
                                    <img class="img-viewer back" data-bind="visible: ShowFrontImage() == false, attr:{src: CurrentBackImage}"/>                                    
                                </div>
                                <div class="aligner" data-bind="visible: ImageAvailable() == false">
                                    <div class="no-images">
                                        There are no images for this transaction
                                    </div>
                                </div>

                                <div class="overlay">
                                    <span class="image-buttons">
                                        <button id="previous-image" class="btn btn-inverse">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-inverse fake-button">
                                            <span data-bind="text:ImageNavigationText"></span>
                                        </button>
                                        <button id="next-image" class="btn btn-inverse">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-inverse flip-image"
                                                data-bind="enable: CurrentBackImage() != '', attr: {title: CurrentBackImage() != '' ? 'Click to view the other side' : ''}">
                                            <i class="fa"><img class="flip-image-icon" src="/RecHubViews/Assets/PostDepositExceptions/Css/FlipImage.svg"></img></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="colinfo" class="col-md-5">
                            <div class="row">
                                <div id="imageDrawer" class="col-md-1 drawer imageDrawer"></div>
                                <div class="col-md-11">
                                    <dl class="row">
                                        <dt class="col-sm-4">Deposit Date:</dt>
                                        <dd class="col-sm-8" data-bind="text:DepositDate"></dd>
                                    
                                        <dt class="col-sm-4">Entity:</dt>
                                        <dd class="col-sm-8" data-bind="text:Entity"></dd>
                                   
                                        <dt class="col-sm-4">Workgroup:</dt>
                                        <dd class="col-sm-8" data-bind="text:Workgroup"></dd>
                                    
                                        <dt class="col-sm-4">Payment Source:</dt>
                                        <dd class="col-sm-8" data-bind="text:PaymentSource"></dd>
                                    
                                        <dt class="col-sm-4">Payment Type:</dt>
                                        <dd class="col-sm-8" data-bind="text:PaymentType"></dd>
                                    
                                        <dt class="col-sm-4">Batch ID:</dt>
                                        <dd class="col-sm-8" data-bind="text:BatchId"></dd>
                                    
                                        <dt class="col-sm-4">Locked By:</dt>
                                        <dd class="col-sm-8" data-bind="text:LockedByUser"></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" id="button-accept"
                                data-bind="enable: UserCanEdit, attr: {title: AcceptTooltip}">Accept</button>
                            <button class="btn btn-inverse" id="button-save"
                                    data-bind="enable: UserCanEdit, attr: {title: SaveTooltip}">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <button class="btn btn-primary" data-bind="enable: EnableFirstTransaction" id="button-first-transaction" title="First Transaction">
                                    <i class="fa fa-fast-backward"></i>
                                </button>
                                <button class="btn btn-primary" data-bind="enable: EnablePreviousTransaction" id="button-previous-transaction" title="Previous Transaction">
                                    <i class="fa fa-play fa-rotate-180"></i>
                                </button>
                                <strong class="btn btn-secondary fake-button" data-bind="text: CurrentTransactionText"></strong>
                                <button class="btn btn-primary" data-bind="enable: EnableNextTransaction" id="button-next-transaction" title="Next Transaction">
                                    <i class="fa fa-play"></i>
                                </button>
                                <button class="btn btn-primary" data-bind="enable: EnableLastTransaction" id="button-last-transaction" title="Last Transaction">
                                    <i class="fa fa-fast-forward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header header-title">
                            <strong>
                                Payment Items
                                <span class="table-total">
                                    Total
                                    <span class="total-amount" data-bind="text: PaymentTotal"></span>
                                </span>
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="payments-table-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>
                                Related Items
                                <span class="table-total">
                                    Total
                                    <span class="total-amount" data-bind="text: StubsTotal"></span>
                                </span>
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="stubs-table-container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>