﻿<link href="~/Assets/PostDepositExceptions/Css/PostDepositExceptions.css" rel="stylesheet" />
<link href="~/Assets/Shared/TableDesign.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/Assets/PostDepositExceptions/PostDepositApp.js?v=20171219"></script>

<script type="text/javascript">
    initPostDeposit(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'postDepositViewModel',
        'postDepositPortlet');
</script>

<div style="margin-top: 20px"></div>
<div id="postDepositPortlet">
    <div class="card">
        <div class="card-header">
            <span class="card-title page-title"><strong>Post-Deposit Exceptions Summary</strong></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="postDepositTable" class="table datatable table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="mr-auto">Entity</th>
                            <th>Workgroup</th>
                            <th>Payment Source</th>
                            <th>Payment Type</th>
                            <th>Batch ID</th>
                            <th>Transaction ID</th>
                            <th>Deposit Date</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Dialog -->
    <div class="modal" tabindex="-1" role="dialog" id="lockModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Locked Exception Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                      <!-- Exception Detail Displayed here dynamically -->
                    </div>
                </div>
                <div class="modal-footer">
                   <a class="btn btn-inverse mr-auto" href="#" data-dismiss="modal" style="margin-right: 5px;">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
