﻿.workgroup-checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
}

.checkbox input {
    padding-top: 3px;
}

.workgroup-error {
    color: red;
}

.btn-topalignToInput {
    margin-top: 24px;
}

.grid-canvas {
    position: relative;
    outline: 0;
    width: 100% !important;
}

.panel-link a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.checkDigitPanel .form-group {
    margin-bottom: 5px;
}

.workgroup-tab-content {
    max-height: 620px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wfs-disablable-link {
    background-color: transparent;
    border: none;
}
