﻿@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Panel.cshtml";
  ViewBag.ParentId = Request["parentId"];
}

<link rel="stylesheet" href="/Assets_2.0/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/Assets_2.0/jqwidgets/styles/jqx.summer.css" type="text/css" />
<link rel="stylesheet" href="/Assets_2.0/bootstrap-duallistbox/bootstrap-duallistbox.css" type="text/css" media="all">

<script>
  $LAB
    .script("/Assets_2.0/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js")
    .script("/Assets_2.0/wfs/wfs-dateutil.js")
    .script("/Assets_2.0/jqwidgets/jqx-all.js")
    .script("/RecHubViews/Assets/BreadCrumbs/BCBase.js").wait(function () {
    	require(["/RecHubViews/Assets/Search/Filter.js"], function (filter) {
        filter.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model.Data)));
      });
    })
</script>
<style type="text/css">
.inlineCondition { float: left;margin: 0px 5px 10px 0px;}
.conditionText { width: 75px; }
.condition {
    
}
</style>
<!-- HTML Template For Conditions -->
<script id="conditionTemplate" type="text/html">
  <div class="conditionGroup">
    <input type="hidden" class="inlineCondition field" data-bind="fieldSelect: {}" />
    <input type="hidden" class="inlineCondition condition" data-bind="conditionSelect: {}" />
    <input type="text"  class="form-control inlineCondition conditionText" data-bind="value: value" />
  </div>
</script>

<div id="filterBase" class="btn-toolbar" role="toolbar" style="min-width: 1050px;">
  <div class="btn-group">
    <div style="width: 290px; margin-bottom: 5px;">
      <div>
        <label data-bind="text: 'Entity'"></label>
      </div>
      <input type='hidden' class="entitySelect" />
    </div>
    <div id='jqxTree'></div>
  </div>
  <div class="btn-group">
    <div style="display: none; min-width: 345px;" data-bind="visible: entities().length > 0">
      <div style="margin: 0 0 15px;">
        <label data-bind="text: labels.DepositDate"></label>
        <div class="btn-toolbar" role="toolbar">
          <div class="depositDate btn-group"></div>
          <div class="depositDateTo btn-group"></div>
        </div>
      </div>
      <div style="margin: 0 0 15px;">
        <label data-bind="text: 'Payment Source'"></label>
        <select size="5" class="paymentSourceSelect form-control" style="width: 125px;" data-bind="options: paymentSources, optionsText: 'Name', selectedOptions: selectedSources" multiple="multiple"></select>
      </div>
      <div style="margin: 0 0 15px;">
        <label data-bind="text: 'Payment Type'"></label>
        <select size="5" class="paymentTypeSelect form-control" style="width: 125px;" data-bind="options: paymentTypes, optionsText: 'Name', selectedOptions: selectedTypes" multiple="multiple"></select>
      </div>
      <div style="margin: 0 0 15px;">
        <label data-bind="text: 'DDA'"></label>
        <select size="5" class="ddaSelect" style="width: 125px;" data-bind="options: ddas, optionsText: 'Name', selectedOptions: selectedDDAs" multiple="multiple"></select>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <div style="display: none; width: 400px;" data-bind="visible: entities().length > 0">
       <label data-bind="text: 'Additional Conditions'"></label>
      <div data-bind="template: { name: 'conditionTemplate', foreach: conditions }"></div>
    </div>
  </div>
  <div class="btn-group">
    <div style="display: none; width: 328px;" data-bind="visible: entities().length > 0">
      <div style="margin: 0 0 15px;">
        <div>
          <button class="btn btn-primary btnFilter" title="Execute filter.">Go!</button>
        </div>
      </div>
    </div>
  </div>
</div>

