﻿@{  
  Layout = "~/Views/Shared/_Panel.cshtml";
  ViewBag.ParentId = Request["parentId"];
}
<script>
  $LAB
    .script("/RecHubViews/Assets/DrillDown/Summary.js")
    .script("/RecHubViews/Assets/DrillDown/Batch.js")
    .script("/RecHubViews/Assets/DrillDown/Detail.js")
    .script("/RecHubViews/Assets/DrillDown/Transaction.js")
    .script("/RecHubViews/Assets/BreadCrumbs/BCBase.js").wait(function () {
    	require(["/RecHubViews/Assets/Search/Search.js"], function (search) {
        search.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model.Data)));
      });
    })
</script>
<div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <div id="searchBase" class="panel panel-default">
        <div class="panel-heading">
          <span class="portlet-text" data-bind="text: 'Search'"></span>          
        </div>
        <div class="panel-body" style="font-size: 12px !important;">          
          <div class="accordion" style="display: none" data-bind="visible: showAccordian">
            <h3>Filter</h3>
            <div>
              <div id="theFilter"></div>
            </div>
            <h3>Results</h3>
            <div>
              <div id="theDrilldown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
