<ng-template #content>
  <form #alertForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title">{{operation}} Alert</h4>
    </div>
    <div class="modal-body" *ngIf="loading">
      <loading [size]="70"></loading>
    </div>
    <div class="modal-body" *ngIf="!loading">
      <div class="form">
        <div class="form-group">
          <label for="events">Event</label>
          <br>
          <div class="alertInput">

            <select class="form-control" name="selectbox-eventtype" [(ngModel)]="selectedObj"
              (change)="eventTypeChanged()" [style.width]="280 + 'px'">
              <ng-container *ngFor="let type of alertTypes">
                <option [ngValue]="type">{{type.text}}</option>
              </ng-container>
            </select>

          </div>
        </div>

        <extractcomplete *ngIf="selectedEventName==='EXTRACTCOMPLETE'" [(currentAlert)]='currentAlert'></extractcomplete>
        <fatalsystemerror *ngIf="selectedEventName==='PROCESSINGEXCEPTION'" [(currentAlert)]='currentAlert'></fatalsystemerror>
        <highdollar *ngIf="selectedEventName==='HIGHDOLLARPAYMENT'" [(currentAlert)]='currentAlert' [operators]="alertOperators"></highdollar>
        <alertpayer *ngIf="selectedEventName==='PAYERPAYMENTRECEIVED'" [(currentAlert)]='currentAlert' [alertOperators]="alertOperators"></alertpayer>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" title="Enter an alert to save" class="btn btn-primary pull-left" [disabled]="loading ||
         !currentAlert.IsValid" (click)="save()">Save</button>
      <button type="button" class="btn btn-inverse pull-left" [disabled]="loading" (click)="close()">Close</button>
    </div>
  </form>
</ng-template>