<div class="card card-default">
    <div class="card-header">
        <strong>Related Items</strong>
    </div>
    <div class="card-body">
        <ng-container *ngIf="loading">
            <loading size="100"></loading>
        </ng-container>
        <ng-container *ngIf="!loading">
            <div class="col-sm-12">
                <div id="relatedgrid-panel" class="card-body">
                    <datatable htmlid="relatedgrid-grid" [columns]="stubDataDTO.columns" [data]="stubDataDTO.stubData"
                        [order]="stubDataDTO.order" [sortEnabled]="stubDataDTO.sort" (createdRow)="createdRow($event)"
                        [lengthOptions]="lengthOptions" [scrollX]="true">
                    </datatable>
                </div>
            </div>
        </ng-container>
    </div>
</div>