:host ::ng-deep .defields {
    font-weight: bold;
}

:host ::ng-deep .iconbox {
    min-width: 55px;
}

:host ::ng-deep .fa-print {
    margin-left: 5px;
}

:host ::ng-deep table {
    table-layout: fixed;
    word-wrap: break-word;
}

:host ::ng-deep table thead tr th:after {
    content: none;
}

:host ::ng-deep #relatedgrid-grid {
    margin-bottom: 20px !important;
}

:host ::ng-deep #relatedgrid-grid .dataTables_scrollHeadInner {
    width: 100% !important;
}