﻿@{
    ViewBag.Title = "Index";

    // layout for use with framework
    Layout = "~/Views/Shared/_Panel.cshtml";

    // Framework passes you the parent id value
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/RecHubReportingViews/Assets/base.css" type="text/css" />
<script>
  $LAB
    .script("").wait(function () {
    	require(["/RecHubReportingViews/Assets/Reports/Index.js"], function (reportingView) {
        var reportingView = reportingView.get();
        reportingView.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
      });
    })
</script>
<div data-bind="visible: success == true">
    <div id="tabbase" class="card">
        <div class="card-header">
            <span class="portlet-text">Reports</span>
        </div>
        <div class="card-body landing-content" style="font-size: 12px !important;">
            <div class="row">

                <div class="col-3">
                    <div data-bind="visible: success == true">
                        <div id="reportMenu" data-bind="foreach: {data: reportMenu}">
                            <h3 data-bind="text: GroupName"></h3>
                            <ul class="utilityUL" data-bind="foreach: {data: Reports}">
                                <li>
                                    <a data-bind="text: ReportName,attr: { href: '#', title: ReportName, id: ReportID}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-9">
                    <div id="utilityContent">
                        <div class="landing-content">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
