﻿@{
    ViewBag.Title = "ParameterSelection";

    // Framework passes you the parent id value
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/RecHubReportingViews/Assets/base.css" type="text/css" />
<script>
    $LAB
        .script("/Assets/jqwidgets/jqx-all.js").wait(function () {
        	require(["mapping", "/RecHubReportingViews/Assets/Reports/ParameterSelection.js?v=20191105"], function (mapping, ParmSelect) {
                window.ko.mapping = mapping;
                ParmSelect.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
            });
        });
</script>
<div id="parameterSelection">
    <div id="tabbase" class="card">
        <div class="card-header">
            <span class="portlet-text" data-bind="text: reportConfig.ReportName" />
        </div>
        <div class="card-body landing-content" style="font-size: 12px !important;">
            <div class="col-12">
                <form class="form-horizontal" role="form" data-bind="foreach: {data: reportConfig.Parameters}">

                    <!-- ko if: ParameterType == 'ReportGenerationType'-->
                    <div class="form-group">
                        <label for="rptType" class="hubLabel col-sm-3" data-bind="text: 'Generate Report As:'"></label>
                        <div id="rptType" class="btn-group generateAsSelect" data-bind="attr: {'id': ParameterName }"></div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: ParameterType == 'BeginDate' || ParameterType == 'EndDate'-->
                    <div class="form-group">
                        <label for="rptDate" class="hubLabel col-sm-3 " data-bind="text: DisplayName + ':'"></label>
                        <div id="rptDate" class="parmDate" data-bind="attr: {'id': ParameterName }"></div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: ParameterType == 'User' -->
                    <div class="form-group">
                        <label for="rptUser" class="hubLabel col-sm-3" data-bind="text: DisplayName + ':'"></label>
                        <div id="rptUser" class="btn-group userSelect" style="width: 300px"></div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: ParameterType == 'RAAMUser' -->
                    <div class="form-group">
                        <label for="rptRaamUser" class="hubLabel col-sm-3" data-bind="text: DisplayName + ':'"></label>
                        <div id="rptRaamUser" class="btn-group userSelect" style="width: 300px"></div>
                    </div>
                    <!-- /ko -->

                     <!-- ko if: ParameterType == 'Group' -->
                    <div class="form-group">
                        <label for="rptGroup" class="hubLabel col-sm-3" data-bind="text: DisplayName + ':'"></label>
                        <div id="rptGroup" class="btn-group groupSelect" style="width: 300px"></div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: ParameterType == 'PaymentSource' -->
                    <div class="form-group">
                        <label for="rptPaymentSource" class="hubLabel col-sm-3" data-bind="text: DisplayName + ':'"></label>
                        <div id="rptPaymentSource" class="btn-group paymentSourceSelect" data-bind="attr: {'id': ParameterName }"></div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: ParameterType == 'EventType' -->
                    <div class="form-group">
                        <label for="rptEventType" class="hubLabel col-sm-3" data-bind="text: DisplayName + ':'"></label>
                        <div id="rptEventType" class="btn-group eventTypesSelect" data-bind="attr: {'id': ParameterName }"></div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: ParameterType == 'RAAMEventType' -->
                    <div class="form-group">
                        <label for="rptRaamEventType" class="hubLabel col-sm-3" data-bind="text: DisplayName + ':'"></label>
                        <div id="rptRaamEventType" class="btn-group raamEventTypesSelect" data-bind="attr: {'id': ParameterName }"></div>
                    </div>
                    <!-- /ko -->

                </form>

                <div class="form-group">
                    <a class="btn btn-primary btnPrint" href="#" id="btnPrintReport">
                        <i class="icon-white icon-print" />
                        <span>Generate Report</span>
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>
