﻿/*
    Just a shared CSS file that contains func for datatables
     - Fluid width
     - Icons on right and floated next to the column text.

*/

.dataTable {
    width: 100% !important;
}



table.dataTable thead > tr >  th.sorting:after, 
table.dataTable thead > tr >  th.sorting_desc:after, 
table.dataTable thead > tr >  th.sorting_asc:after, 
table.dataTable thead > tr >  th.sorting_desc_disabled:after,
table.dataTable thead > tr >  th.sorting_asc_disabled:after {
    display: inline-block !important;
    position: static !important;
    margin-left: 8px;
	right: auto !important;
	
}

table.dataTable thead > tr >  th,
table.dataTable thead > tr >  td  {
	padding-right:0px !important;
}



table.dataTable thead .sorting:after {
    content: "\f362" !important;
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 15px;
    transform: rotate(90deg) !important;
}
 
table.dataTable thead .sorting_asc:after {
    opacity: 0.8 !important;
    content: "\f161" !important;
    font-family: 'Font Awesome 5 Free';
    font-size: 15px;
}
 
table.dataTable thead .sorting_desc:after {
    opacity: 0.8 !important;
    content: "\f160" !important;
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 15px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
}


div.dataTables_scrollBody thead {
    visibility: hidden;
}