<div class="box">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left">Alert Manager</h4>
                    <refresh (onRefresh)="refreshPage()" [showPrint]="false"></refresh>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class=col-sm-6>
                    <button id="addButton" (click)="addAlert()" class="btn btn-primary"
                        [disabled]="!hasAddPermission">Add</button>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <checkbox htmlid="hideInactiveAlerts" text="Hide Inactive Alerts"
                            [(checked)]="hideInactiveAlerts" (checkedChange)="refreshPage()"></checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <datatable htmlid="alerts-grid" [(columns)]="columns" [(data)]="data"
                        (createdRow)="createdRow($event)" (clickedRow)="clickedRow($event)" [loading]="loading">
                    </datatable>
                </div>
            </div>
        </div>
    </div>
    <alerts-modal #alertModal (onClose)="refreshPage()"></alerts-modal>
</div>