﻿<div class="layout-header" style="position: relative; background-image: url('')">
    <div style="position: relative">
        <img class="layout-header-image" src="~/Styles/Online.NextGen/images/Mast-Header.jpg" style="height: 50px; width: 300px;" alt="Logo Here" />
        <div class="layout-header-title">
            Receivables 360
        </div>
    </div>
</div>
