﻿@model IList<WFS.RecHub.Online.cUserPermission>

@{
 var userName = ViewData["UserName"].ToString().Replace("'", "&#8216;");
 }
<script>
  
  $.ajax({
    type: 'POST',
    url: '/Framework/Framework/GetTabs',
    dataType: "json",
    success: function (resp, textStatus, jqXHR) {
      var frameworkViewModel = new ViewModel(resp.Data);
      $('#recTabs > .dropdown > .dropdown-toggle').css('display', 'block');
      ko.applyBindings(frameworkViewModel, $('.frameworkRoot').get(0));
    },
    error: function (data, textStatus, jqXHR) {
        if (data.status === 401) {
        	//location.reload(true);  This doesn't work for IPOnline, so hardcode the path back to Framework...
        	location.href = "/Framework/";
        }
    }
  });

  function ViewModel(model) {
    var self = this;

    self.menuItems = model;
    self.currentGroup = '';
    self.showGroup = ko.observable(true);

    self.isCurrentGroup = function (groupId) {
      var rvalue = false;
      if (groupId != 0 && groupId != self.currentGroup) {
        self.currentGroup = groupId;
        rvalue = true;
      }
      return rvalue;
    }
  }
</script>

<div class="tabbable frameworkRoot">

  <nav class="navbar navbar-wfs portalNav wausau-nav-container" role="navigation">

      @if (ViewBag.ShowTitle)
      {
          <a class="navbar-brand" href="#">@ViewBag.MenuTitle</a>
      }

      <script type="text/html" id="li-template">
        <!-- ko if: $index() == 0 && $data.TabGroupName != null && $data.TabGroupName != '' -->
        <li class="divider" role="presentation"></li>
        <li style="margin-left: 10px; font-weight: bold;" role="presentation" data-bind="text: $data.TabGroupName"></li>
        <!-- /ko -->
        <li role="presentation">
          <!-- ko if: IsLink && DisplayInline -->
          <a role="menu" data-bind="attr: { href: Views[0].URL }, text: Name"></a>
          <!-- /ko -->
          <!-- ko if: IsLink && !DisplayInline -->
          <a target="_new" role="menu" data-bind="attr: { href: Views[0].URL }, text: Name"></a>
          <!-- /ko -->
          <!-- ko if: !IsLink && DisplayInline -->
          <a  role="menu" data-bind="attr: { href: '/Framework/Framework?tab=' + Id }, text: Name"></a>
          <!-- /ko -->
        </li>
      </script>

      <ul id="recTabs" class="nav navbar-nav" data-bind="foreach: menuItems">
        <!-- ko if: Children == null || Children.length < 1 -->
        <!-- ko template: { name: 'li-template', data: $data } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: Children != null && Children.length == 1 -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#" style="display: none;"><span data-bind="text: Name"></span><b class="caret"></b></a>
          <ul class="dropdown-menu" aria-labelledby="drop1" role="button">
            <!-- ko template: { name: 'li-template', foreach: Children[0] } -->
            <!-- /ko -->
          </ul>
        </li>
        <!-- /ko -->
        <!-- ko if: Children != null && Children.length > 1 -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#" style="display: none;"><span data-bind="text: Name"></span><b class="caret"></b></a>
          <ul class="dropdown-menu" aria-labelledby="drop1" role="button">
            <!-- ko foreach: Children -->
            <!-- ko template: { name: 'li-template', foreach: $data } -->
            <!-- /ko -->
            <!-- /ko -->
          </ul>
        </li>
        <!-- /ko -->
      </ul>
      <div id="frameworkSettings" class="nav pull-right">
        <ul class="nav navbar-nav navbar-wfs">
          <li>
            <span class="navbar-text" data-bind="text: '@Html.Raw(@userName)'"></span>
          </li>
          <li><a id="frameworkLogout" class="navbar-link" href="/Framework/Framework/Logout" data-bind="text: 'sign out'"></a>
          </li>
        </ul>
      </div>
  </nav>
</div>