<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-left portlet-header-text">
                    <breadcrumb></breadcrumb>Batch Detail
                </span>
                <refresh (onRefresh)="buildData()" hoverMessage="Refresh batch detail page"
                    printHoverMessage="Print batch detail page (Ctrl+P)">
                </refresh>
            </div>
        </div>
    </div>

    <div class="card-body" *ngIf="loading == false">
        <div class="row">
            <div class="col-md-6">
                <div class="row" *ngIf="showBank">
                    <div class="col-md-3">
                        <strong>Bank:</strong>
                    </div>
                    <div class="col-md-4">
                        <span>{{bank}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>Workgroup:</strong>
                    </div>
                    <div class="col-md-4">
                        <span>{{workGroup}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>Deposit Date:</strong>
                    </div>
                    <div class="col-md-4">
                        <span>{{depositDate}}</span>
                    </div>
                </div>
                <div class="row" *ngIf="showAccountSiteCode">
                    <div class="col-md-3">
                        <strong>Account Site Code:</strong>
                    </div>
                    <div class="col-md-4">
                        <span>{{accountSiteCode}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" *ngIf="showBatchId">
                    <div class="col-md-6">
                        <strong>Batch ID:</strong>
                    </div>
                    <div class="col-md-6">
                        <span>{{sourceBatchId}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Batch:</strong>
                    </div>
                    <div class="col-md-6">
                        <span>{{BatchNumber}}</span>
                    </div>
                </div>
                <div class="row" *ngIf="showBatchSiteCode">
                    <div class="col-md-6">
                        <strong>Batch Site Code:</strong>
                    </div>
                    <div class="col-md-6">
                        <span>{{batchSiteCode}}</span>
                    </div>
                </div>
                <div class="row" *ngIf="showBatchCue">
                    <div class="col-md-6">
                        <strong>Batch Cue Code:</strong>
                    </div>
                    <div class="col-md-6">
                        <span></span>{{batchCue}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngIf="loading">
                <loading size="100"></loading>
            </ng-container>
            <ng-container *ngIf="!loading">
                <div class="col-sm-12">
                    <div id="batchdetail-panel" class="card-body">
                        <datatable htmlid="batchDetail-grid" [columns]="columns" [data]="batchDetailData"
                            [isDeferLoading]="!hasSharedStorageValue" (createdRow)="createdRow($event)"
                            (clickedRow)="clickedRow($event)" [isServerSide]="true" [pageLength]="10"
                            [preDataFunction]="setSearchValues" [searchFunction]="search"
                            [isSuppressDefaultErrors]="true" [errorFunction]="errorHandler"
                            [footerFunction]="buildFooter" [grouping]="selectedGrouping" [groupingFunction]="buildGroup"
                            [lengthOptions]="lengthOptions" dataUrl="/RecHubViews/BatchDetail/GetBatchDetails"
                            dataRowHoverMessage="Click to view transaction detail."
                            (initComplete)="setColumnVisibility($event)" [(search)]="searchValue">
                        </datatable>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>
<div class="modal-body" *ngIf="loading">
    <loading [size]="100"></loading>
</div>