﻿@using IntegrationPortal.Models
@model IEnumerable<IGrouping<DateTime, TestRunIdentifier>>
@{
    ViewBag.Title = "Home";
}

<h1>List of test runs</h1>
@foreach (var group in Model)
{
    <h2>@group.Key.ToString("dddd, MM/dd/yyyy")</h2>
    <ul>
        @foreach (var item in group)
        {
            <li>
                @Html.ActionLink(item.Title, "TestRun", new { dateTimeString = item.DateTimeString })
            </li>
        }
    </ul>
}
