﻿@model IntegrationPortal.Models.TestRunDetail

@{
    ViewBag.Title = "Test run " + Model.Title;
}

<h1>Test run @Model.Title</h1>

<h2>Summary</h2>
<div class="@Model.SummaryBackgroundClass">
    <ul>
        <li>Total tests: @Model.TestCount</li>
        <li>Failing: @Model.TestFailCount</li>
        <li>Not run: @Model.TestNotRunCount</li>
    </ul>
</div>

@if (Model.TestFailCount > 0)
{
    <h2>Failures</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Browser</th>
            <th>Test name</th>
            <th>Failure message</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var failure in Model.Failures)
        {
            <tr>
                <td>@failure.BrowserName</td>
                <td>@failure.Name</td>
                <td>@failure.FailureMessage</td>
                @if (failure.HasScreenShot)
                {
                    <td>@Html.ActionLink("Screenshot", "Screenshot", new
                        {
                            dateTimeString = Model.DateTimeString,
                            browserName = failure.BrowserName,
                            hash = failure.Hash,
                        })</td>
                }
            </tr>
        }
        </tbody>
    </table>
}