﻿<div id="hvHomeParent">
    <div class="row">
      <div class="col-12">
        @Html.Action("Menu", "Home")
      </div>
    </div>
    <div class="row">
      <div id="hvHomeContent" class="col-12 tabbase">
        @RenderBody()
      </div>
    </div>
</div>
