﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>BaseTitle</title>
  <link rel="stylesheet" type="text/css" href="/Assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/Assets/jquery/css/smoothness/jquery-ui.custom.min.css" />
  <link rel="stylesheet" type="text/css" href="/Assets/framework/CSS/framework.css" />
  <link rel="stylesheet" type="text/css" href="/Framework/Framework/CSSOverride" />
</head>
<script src="/Assets/etc/LAB.min.js"></script>
<script type="text/javascript" src="/Assets/jquery/js/jquery.min.js"></script>  
  <script type="text/javascript" src="/Assets/bootstrap/js/bootstrap.js"></script>  
  
  <script type="text/javascript" src="/Assets/jquery/js/jquery-ui.custom.min.js"></script>
  <script type="text/javascript" src="/Assets/framework/JS/frameworkUtils.js"></script>
<body>
<div id="hubParent">
  <div class="container">
    <div class="row" style="padding-top: 18px;"></div>
    <div class="row">
      <div class="col-12">
        <div class="container">
          @Html.Action("Menu", "Home")

          <div id="hubContent">
            @RenderBody()
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
