﻿.page-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
}

/* Page header for printable view */
.header {
    margin: 0;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.header-info {
    font-weight: bold;
}

.btn-locked {
    color: #fff;
    background-color: #337ab7;
    border-color: #357ebd;
}

.btn-locked:hover {
    color: #fff;
    background-color: #2269a6;
    border-color: #4b0082;
}

/* With scrollable datatables, the headers are rendered seperate from the table. */
#exceptionsTable thead tr th:after,
#payments-table thead tr th:after,
#stubs-table thead tr th:after{
    content: '';
}

#exceptionsTable tr,
#transactionsTable tr{
    cursor: pointer;
}

#exceptionsTable,
#payments-table,
#stubs-table{
    table-layout: fixed;
    word-wrap: break-word;
}

#payments-table tr,
#stubs-table tr{
    cursor: default;
}

.fake-button {
    cursor: default;
}

.edit-button {
    cursor: pointer;
}

.gray-out {
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.td-button {
    font-size: 12px;
    width: 95px;
}
.submit-button {
    height: 34px;
}

.toggle[disabled] .btn {
    cursor: not-allowed;
}

#stubs-table input {
    width:100%;
}
#stubs-table_wrapper td,
#stubs-table_wrapper th {
    padding: 3px;
}
#stubs-table td {
    /* investigate this at a later time.
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
}

#stubs-table input.has-exception {
    /* same as bootstrap 'text-danger' */
    background-color: #ff9d9d;
    color: #000;
}
#stubs-table input.has-exception:disabled {
    /* same as bootstrap disabled */
    opacity: .65;
}
#stubs-table p {
    text-align: left;
    margin-bottom: 0px;
}
#stubs-table .btn-remove {
    margin-right: 18px;
}
#stubs-table_wrapper tfoot td {
    text-align: left;
    padding-left: 0px;
}
#stubs-table_wrapper .btn-remove {
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
}
#stubs-table_wrapper .negative-amount {
    color: red;
}

.table-total {
    margin-left: 12px;
}
.table-total .total-amount {
    font-weight: normal;
}

.balancing-box {
    display: block;
    text-align: center;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
}
.balancing-tbl {
    width: auto;
    margin: auto;
    width: 50%;
    white-space: nowrap;
}

table.balancing-tbl th {
    min-width: 10px;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.symbol {
    padding-left: 7px;
    padding-right: 7px;
}

.alignRight input{
    text-align: right;
}

.excep-icon-row{
    color:#a94442;
    margin-top: 8px;
}

.error-border {
    border-color: red;
}