<div class="layout-header" [style.background-image]="backgroundimage">
  <div style="position: relative;">
      <img *ngIf="branding?.ShowHeaderImage1" class="layout-header-image" src="/Framework/Framework/HeaderLogo" alt="Logo Here">
      <div *ngIf="branding?.ShowTitle" class="layout-header-title">
          {{branding?.Title}}
      </div>
      <img *ngIf="branding?.ShowHeaderImage2" class="layout-header-image2" src="/Framework/Framework/HeaderLogo2" alt="Logo Here">
  </div>
</div>
