﻿@{
    ViewBag.Title = "My View";

    // layout for use with without framework
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
<link rel="stylesheet" type="text/css" href="/Assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/Assets/jquery/css/jquery-ui.min.css" />
<link rel="stylesheet" href="/Assets/bootstrap-modal/css/bs-modal.css" type="text/css" />
<link rel="stylesheet" href="/Assets/fontawesome/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/Assets/jquery-toastmessage/resources/css/jquery.toastmessage.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/Assets/framework/CSS/framework.css" />
<script src="/Assets/etc/LAB.min.js"></script>
<script type="text/javascript">
    $LAB
        .script("/Assets/jquery/js/jquery.min.js").wait()
        .script("/Assets/bootstrap/js/bootstrap.js").wait()
        .script("/Assets/jquery/js/jquery-ui.min.js")
        .script("/Assets/bootstrap-modal/js/bs-modal.js")
        .script("/Assets/etc/respond.js")
        .script("/Assets/etc/spin.min.js")
        .script("/Assets/jquery-toastmessage/js/jquery.toastmessage.js")
        .script("/Assets/framework/JS/frameworkUtils.js").wait()
        .script("/RecHubReportingViews/Assets/LoadReport/Index.js").wait(function () {
            var loadReportView = loadReportViewManager.get();
            loadReportView.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
    })
</script>
<div id="Container">
</div>
