<div class="card">
    <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <span class="portlet-header-text">
                    <breadcrumb></breadcrumb>Notification Detail
                    </span>
                </div>
            </div>
    </div>
    <div class="card-body" *ngIf="loading == false">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Date: </strong>
                        <span>{{notificationDetail.DateString}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>ID: </strong>
                        <span>{{notificationDetail.Id}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Message: </strong>
                        <span>{{notificationDetail.Message}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <notificationdetailfilegrid [notificationDetailFileGridDTO]="notificationDetailFileGridDTO" [loading]="loading"></notificationdetailfilegrid>
    </div>
</div>
<div class="modal-body" *ngIf="loading">
    <loading [size]="100"></loading>
</div>