<div class="card">
    <div class="card-header">
        <div class="flex-container">
            <div>
                <label>Receivables Summary</label>
            </div>
            <div>
                <button class="btn collapser" (click)="toggleRecSummaryClass()">{{minimizerLabel}}</button>
            </div>
        </div>
    </div>
    <div id="recsummary-panel" class="card-body" [ngClass]="recSummaryMinimizer">
        <datatable htmlid="rec-grid" [columns]="columns" [data]="receivablesData" (createdRow)="createdRow($event)"
            (clickedRow)="clickedRow($event)" [footerFunction]="buildFooter" [grouping]="selectedGrouping"
            [groupingFunction]="buildGroup" [pageLength]="50" groupRowHoverMessage="Click to expand/collapse group."
            dataRowHoverMessage="Click to view batch summary.">
        </datatable>
    </div>
</div>