.flex-container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.collapser{
    width:28px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    padding-top:1px;
    padding: 0px;
    text-align: center;
    background-color: #aaa;
    border: 1px solid #999;
    color: #444;
}

.expand{
    height:auto;
    transition: height 0.8s;
}

.collapse{
    height:0px;
    transition: height 0.8s;
}


@media print {
    .collapser {
        display: none;
    }
}