<div class="col-sm-2">
    <div class="wrapper">
        <ng-container *ngIf="positive == 'more' && data >= threshold || positive == 'less' && data <= threshold">
            <i class="positive fa fa-check-circle-o"></i>
        </ng-container>
        <ng-container *ngIf="positive == 'less' && data > threshold || positive == 'more' && data < threshold">
            <i class="negative fa fa-times-circle-o"></i>
        </ng-container>
        <p class="title">
            <strong>{{title}}</strong>
        </p>
    </div>
</div>