.wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 140px;
    text-align: center;
}

.fa {
    font-size: 72px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}