﻿.options i {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.dataTable {
  width: 100% !important;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px !important;
}

.headerlink {
    cursor: pointer;
}

/*
 * Datatables Sorting icons on left
 */

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 8px !important;
    right: auto !important;
}

table.dataTable thead .sorting:after {
    content: "\f362" !important;
    font-family: 'Font Awesome 5 Free' !important;
    transform: rotate(90deg) !important;
}

table.dataTable thead .sorting_asc:after {
    opacity: 0.8 !important;
    content: "\f161" !important;
    font-family: 'Font Awesome 5 Free' !important;
}

table.dataTable thead .sorting_desc:after {
    opacity: 0.8 !important;
    content: "\f160" !important;
    font-family: 'Font Awesome 5 Free' !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    padding-left: 30px !important;
    padding-right: initial !important;
}