﻿<!-- Page Loading Script -->
<script src="~/Assets/TransactionDetail/TransactionDetailApp.js"></script>

<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="~/Assets/TransactionDetail/Css/TransactionDetail.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />

<!-- Init the page -->
<script type="text/javascript">
    initTransactionDetail(@Html.Raw(Json.Encode(Model)));
</script>

<!-- The UI -->
<div id="transactionDetailPortlet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text">
                <span class="breadcrumbheader"></span>Transaction Detail
            </span>
        </div>
        <div class="panel-body">

            <!-- Detail panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Transaction Details</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row" data-bind="visible:PreferenceShowBankIDOnline">
                                <div class="col-md-12">
                                    <strong>Bank:</strong>
                                    <span data-bind="text:BankID"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Workgroup:</strong>
                                    <span data-bind="text:Workgroup"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Deposit Date:</strong>
                                    <span data-bind="text:DepositDateString"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Batch:</strong>
                                    <span data-bind="text:BatchNumber"></span>
                                </div>
                            </div>
                            <div class="row" data-bind="visible:DisplayBatchID">
                                <div class="col-md-12">
                                    <strong>Batch ID:</strong>
                                    <span data-bind="text:BatchID"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row" data-bind="visible:PreferenceShowLockboxSiteCodeOnline">
                                <div class="col-md-12">
                                    <strong>Account Site Code:</strong>
                                    <span data-bind="text:AccountSiteCode"></span>
                                </div>
                            </div>

                            <div class="row" data-bind="visible:PreferenceShowBatchSiteCodeOnline">
                                <div class="col-md-12">
                                    <strong>Batch Site Code:</strong>
                                    <span data-bind="text:BatchSiteCode"></span>
                                </div>
                            </div>

                            <div class="row" data-bind="visible:PreferenceDisplayBatchCueIDOnline">
                                <div class="col-md-12">
                                    <strong>Batch Cue ID:</strong>
                                    <span data-bind="text:BatchCueID"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Transaction:</strong>
                                    <span data-bind="text:TransactionSequence"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-inline pull-right">
                                <label>Transaction:</label>
                                <input id="selectedtransaction" class="form-control input-sm" type="text" data-bind="value:SelectedTransactionSequence" />
                                <button class="btn btn-primary" id="transactionswitch">Go</button>
                                <a href="#" class="viewallimagesicon" title="View All Images for Transaction" style="display: none">
                                    <span class="fa fa-picture-o fa-lg"></span> View All Images
                                </a>
                                <button class="btn btn-primary btnPrint" id="printerlink"><i class="fa fa-print" style="margin-right: 5px;"></i>Print</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Payment Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Payment Items</strong>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="paymentsTable" class="table dataTable table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Payment Sequence</th>
                                        <th>R/T</th>
                                        <th>Account Number</th>
                                        <th>Check/Trace/Ref Number</th>
                                        <th>Payer</th>
                                        <th>DDA</th>
                                        <th>Payment Amount</th>                                        
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="6"></th>
                                        <th colspan="2" id="totalsFooter">
                                            <span>
                                                <strong>Total: <span data-bind="text:PaymentTotal"></span></strong>
                                            </span>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stub Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Related Items</strong>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <table id="stubsTable" class="table dataTable table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Stub Sequence</th>
                                        <th>Amount</th>                                        
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Document Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Documents</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="documentsTable" class="table dataTable table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Document Sequence</th>
                                        <th>Description</th>                                        
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <br />
        </div>
    </div>
</div>
