﻿<link rel="stylesheet" type="text/css" href="/Assets/bootstrap/css/bootstrap.min.css" />
@using HubViews.Helpers
@using WFS.RecHub.R360Services.Common.DTO
@model HubViews.Models.TransactionDetailResponseModel

<style>
    table span,
    table ul {
        font-size: .8em;
    }
</style>

<div>
    @if (string.IsNullOrEmpty(Model.Error))
    {
        <div id="transactionDetailPortlet">
            <div class="panel panel-default">
                <div class="panel-body">

                    <!-- Detail panel -->
                    <div class="panel ">
                        <div class="panel-heading">
                            <h3>
                                <strong>Transaction Details</strong>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    @{ var bankIdPref = Model.Preferences.Any(x => x.Name == "ShowBankIDOnline" && x.Value == "Y"); }
                                    @if (bankIdPref)
                                    {
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Bank:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>@Model.BankID</span>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="col-md-5">
                                            <strong>Workgroup:</strong>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@(Model.WorkgroupID + " - " + Model.WorkgroupDisplayName)</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <strong>Deposit Date:</strong>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@Model.DepositDateString</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <strong>Batch:</strong>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@Model.BatchNumber</span>
                                        </div>
                                    </div>
                                    @if (Model.DisplayBatchID)
                                    {
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Batch ID:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>@Model.SourceBatchID</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-4">
                                    @{ var acctSitePref = Model.Preferences.Any(x => x.Name == "ShowLockboxSiteCodeOnline" && x.Value == "Y"); }
                                    @if (acctSitePref)
                                    {
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Account Site Code:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>@Model.AccountSiteCode</span>
                                            </div>
                                        </div>
                                    }
                                    @{ var batchSitePref = Model.Preferences.Any(x => x.Name == "ShowBatchSiteCodeOnline" && x.Value == "Y"); }
                                    @if (batchSitePref)
                                    {
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Batch Site Code:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>@Model.BatchSiteCode</span>
                                            </div>
                                        </div>
                                    }
                                    @{ var batchCuePref = Model.Preferences.Any(x => x.Name == "DisplayBatchCueIDOnline" && x.Value == "Y"); }
                                    @if (batchCuePref)
                                    {
                                        <div class="row">
                                            <div class="col-md-5">
                                                <strong>Batch Cue ID:</strong>
                                            </div>
                                            <div class="col-md-7">
                                                <span>@Model.BatchCueID</span>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="col-md-5">
                                            <strong>Transaction:</strong>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@Model.TransactionNumber</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Payment Panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4><strong>Payment Items</strong></h4>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="paymentsTable" class="table dataTable">
                                        <thead>
                                            <tr>
                                                @{
                                                    var paySeq = Model.Preferences.
                                                        Any(x => x.Name == "ShowCheckSequenceOnline" && x.Value == "Y");
                                                    if (paySeq)
                                                    {
                                                        <th>Payment Sequence</th>
                                                    }
                                                }
                                                <th>R/T</th>
                                                <th>Account Number</th>
                                                <th>Check/Trace/Ref Number</th>
                                                <th>Payer</th>
                                                <th>DDA</th>
                                                <th class="alignRight">Payment Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int totalPos = 6;

                                                foreach (var item in Model.Payments)
                                                {
                                                    string payAmount = AmountHelper.FormatAmountUsingNumberPattern(Convert.ToDecimal(item.PaymentAmount));
                                                    <tr>

                                                        @if (paySeq)
                                                        {
                                                            <td>
                                                                @Html.DisplayFor(i => item.PaymentSequence)
                                                                @PrintDeFields(item)
                                                            </td>
                                                        }
                                                        <td>
                                                            @Html.DisplayFor(i => item.RT)
                                                            @if (!paySeq)
                                                            {
                                                                @PrintDeFields(item)
                                                                totalPos = 5;
                                                            }
                                                        </td>
                                                        <td>@Html.DisplayFor(i => item.AccountNumber)</td>
                                                        <td>@Html.DisplayFor(i => item.CheckTraceRefNumber)</td>
                                                        <td>@Html.DisplayFor(i => item.Payer)</td>
                                                        <td>@Html.DisplayFor(i => item.DDA)</td>
                                                        <td class="alignRight">@Html.DisplayFor(i => payAmount)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="@totalPos"></th>
                                                <th colspan="3" id="totalsFooter" class="alignRight">
                                                    <strong>Total:@Html.DisplayFor(x => x.PaymentTotal)</strong>
                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Stub Panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4><strong>Related Items</strong></h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="stubsTable" class="table dataTable">
                                        <thead>
                                            @{
                                                var stubSeq = Model.Preferences.
                                                    Any(x => x.Name == "ShowTransactionStubSeqOnline" && x.Value == "Y");
                                                var headers = new List<string>();
                                                if (stubSeq)
                                                {
                                                <th>Stub Sequence</th>
                                                }
                                                foreach (var de in Model.Stubs.Where(stub => stub.DataEntryFields != null).SelectMany(stub =>
                                                    stub.DataEntryFields.Where(de => !headers.Contains(de.Title))))
                                                {
                                                    headers.Add(de.Title);
                                                    <th class="@(de.Type == "6" || de.Type == "7" ? "alignRight" : "")"> @Html.DisplayFor(x => de.Title)</th>
                                                }
                                            }
                                            </thead>
                                            <tbody>
                                                @foreach (var stub in Model.Stubs)
                                                {
                                                    <tr>
                                                        @if (stubSeq)
                                                        {
                                                            <td>@Html.DisplayFor(x => stub.StubSequence)</td>
                                                        }
                                                        @if (stub.DataEntryFields != null)
                                                        {
                                                            foreach (var de in stub.DataEntryFields)
                                                            {
                                                                string finalValue = de.Value;
                                                                if (de.Type == "7" && !string.IsNullOrEmpty(finalValue))
                                                                {
                                                                    finalValue = AmountHelper.FormatAmountUsingNumberPattern(Convert.ToDecimal(de.Value));
                                                                }

                                                                <td class="@(de.Type == "6" || de.Type == "7" ? "alignRight" : "")">@Html.DisplayFor(x => finalValue)</td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Document Panel -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h4><strong>Document Items</strong></h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="documentsTable" class="table dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Document Sequence</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var doc in Model.Documents)
                                                {
                                                    <tr>
                                                        <td>
                                                            @doc.DocumentSequence
                                                        </td>
                                                        <td>@doc.Description</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-12"><span>@Html.DisplayFor(model => model.Error)</span></div>
                                                }
</div>
@helper PrintDeFields(TransactionDetailPayment payment)
{
    if (payment.DataEntryFields != null)
    {
        <br/>
        <span style="font-weight: bold">Data Entry Fields</span>
        <ul>
            @foreach (var fld in payment.DataEntryFields)
            {
                string finalValue = fld.Value;
                if (fld.Type == "7" && !string.IsNullOrEmpty(finalValue))
                {
                    finalValue = AmountHelper.FormatAmountUsingNumberPattern(Convert.ToDecimal(finalValue));
                }
                <li>
                    <small>
                        @(fld.Title + ": " + finalValue)
                    </small>
                </li>
            }
        </ul>
    }
}