﻿@{
  ViewBag.ParentId = Request["parentId"];
}
<script>
	require(["/RecHubConfigViews/Assets/PaymentSource/DeletePaymentSourceModal.js?v=20191105"], function (deletePaymentSourceModal) {
		deletePaymentSourceModal.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
	});
</script>
<legend>Delete Payment Source</legend>
<div class="deletePaymentSourceModal container">
	<div class="row" id="formDiv">
		<form class="form-horizontal" role="form" id="deleteSourceForm">
			<table style="border-spacing: 5px; border-collapse: separate;">
				<tr>
					<td>
						<label class="control-label" data-bind="text: model.deleteLabel"></label>
					</td>
				</tr>
				<tr>
					<td style="height: 15px;"></td>
				</tr>
				<tr>
					<td style="text-align: right;">
						<button type="button" class="btn btn-primary" id="formSubmit">Delete</button>
						<button type="button" class="btn btn-inverse" id="formCancel">Cancel</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>