﻿@{
  ViewBag.ParentId = Request["parentId"];
}
<script type="text/javascript">
    console.log("EditPaymentSource - Start Loading JS....");
	require(["/RecHubConfigViews/Assets/PaymentSource/EditPaymentSource.js?v=20191105"], function (editPaymentSource) {
        editPaymentSource.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
    });
    console.log("EditPaymentSource - Done Loading JS....");
</script>
<legend>Edit Payment Source</legend>
<div class="editPaymentSourceModal container">
	<div class="row" id="formDiv">
		<form class="form-horizontal" role="form" id="paymentSourceForm">
			<table style="border-spacing: 5px; border-collapse: separate;">
				<tr>
					<td>
						<label for="inputShortName" class="control-label">Short: </label>
					</td>
					<td>
                        <p class="form-control-static" data-bind="text: model.PaymentSource.ShortName" style="width: 330px;"/>
					</td>
				</tr>
                <tr>
					<td>
						<label for="inputLongName" class="control-label">Description: </label>
					</td>
					<td>
						<input type="text" class="form-control" id="inputLongName" name="inputLongName" data-bind="value: model.PaymentSource.LongName" placeholder="Description" maxlength="128" required="" style="min-width: 200px; max-width: 330px;" />
					</td>
				</tr>
                <tr>
					<td>
						<label for="inputIsActive" class="control-label">Active: </label>
					</td>
					<td>
						 <input id="inputIsActive" type="checkbox" data-bind="checked: model.PaymentSource.IsActive">
					</td>
				</tr>
                <tr>
					<td>
						<label for="selectSystemType" class="control-label">System: </label>
					</td>
					<td>
						<div class="btn-group entitySelect" id="selectSystemType"></div><br />
                        <label class="error" style="display: none;" id="errorSelectSystemType" for="selectSystemType">A System must be selected.</label>
					</td>
				</tr>
                <tr>
					<td>
						<label for="selectFI" class="control-label">Entity/FI: </label>
					</td>
					<td>
						<div class="btn-group entitySelect" id="selectFI"></div><br />
                        <label class="error" style="display: none;" id="errorSelectFI" for="selectFI">An Entity/FI must be selected.</label>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<button type="submit" class="btn btn-primary" id="formSubmit">Save</button>
						<button type="button" class="btn btn-inverse" id="formCancel">Cancel</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>