﻿@{
    ViewBag.ParentId = Request["parentId"];
}

<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />
<style>
    .control-span {
        text-align: left !important;
        font-weight: normal !important;
    }

    .work-group-label {
        width: 200px;
    }
</style>
<script type="text/javascript">
      	require(["/RecHubConfigViews/Assets/PaymentSource/Index.js?v=20191105"], function ( paymentSource) {
             paymentSource.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
      });
</script>

<div class="psPortlet col-md-12">
    <div id="tabbase" class="card">
        <div class="card-header">
            <span class="portlet-text">Payment Source Maintenance</span>
            <div class="titleRefreshIcon">
                <a href="#" class="refresh icon-no-text"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="card-body" style="font-size: 12px !important;">

            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left: 15px; padding-bottom: 5px;" data-bind="visible: canModifyPaymentSources">
                        <a id="addPaymentSource" class="btn wausauBtn btn-primary" href="#" style="margin-left: 18px;">Add<i class="fa"></i></a>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px;">
                        <div id="psGrid" class="slickStyle"></div>
                        <div id="psPager" style="height:20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

