﻿@{
    Layout = "~/Views/Shared/_Panel.cshtml";
    ViewBag.ParentId = Request["parentId"];
}

<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link rel="stylesheet" href="/RecHubViews/Assets/ReceivablesSummary/base.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />

<script>
    $LAB
      .script("/Assets/wfs/wfs-dateutil.js")
      .script("/RecHubViews/Assets/ReceivablesSummary/groupitemmetadataprovider.js").wait(function () {
      	require(["/RecHubViews/Assets/ReceivablesSummary/SummaryIndex.js"], function (summary) {
              summary.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
      });
    })
</script>
<div id="summaryPortletContainer">
    <div id="tabbase" class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Receivables Summary</span>
            <span class="text-muted"><em data-bind="text: labels.SubTitle"></em></span>
            <div class="titleRefreshIcon">
                <a href="#_" class="summaryRefresh icon-no-text" data-bind="attr: {title: labels.PageRefresh}"><i class=" fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body" style="font-size: 12px !important;">
            <div class="row">
                <div class="col-xs-12">
                    <label class="frameworkLabel pull-left" data-bind="text: labels.DepositDate"></label>
                    <div class="summaryDepositDate pull-left"></div>
                    <div class="btn-group pull-right leftMargins">
                        <button class="btn btn-primary dropdown-toggle" style="border-radius: 4px;" data-toggle="dropdown"><i class="fa fa-print" style="margin-right: 5px;"></i><span data-bind="text: labels.Print"></span></button>
                        <ul class="dropdown-menu pull-left">
                            <li><a class="btnPrintSummary" data-bind="text: labels.Summary"></a></li>
                            <li><a class="btnPrintDetail" data-bind="text: labels.Detail"></a></li>
                        </ul>
                    </div>
                    <div class="pull-right horizontalMargins">
                        <button class="btn btn-inverse resizeSmall icon-no-text" title="Collapse all groupings.">
                            <i class="fa fa-compress"></i>
                        </button>
                    </div>
                    <div class="pull-right horizontalMargins">
                        <button class="btn btn-inverse resizeFull icon-no-text" title="Expand all groupings.">
                            <i class="fa fa-expand"></i>
                        </button>
                    </div>
                    <input type='hidden' class="groupingSelectSummary" style="float: right; margin-right: 5px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin-top: 10px;">
                    <table id="batchResultsTable" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Workgroup</th>
                                <th>Payment Source</th>
                                <th>Payment Type</th>
                                <th>Transaction Count</th>
                                <th>Total ($)</th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="4"></th>
                                <th colspan="1" id="totalsFooter">
                                    <span>
                                        <strong>Total: <span data-bind="text:total"></span></strong>
                                    </span>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
