﻿<!DOCTYPE html>
@using HubViews.Models
@model DecisioningBatchModel
@{
    Layout = null;
}
<html>
<head>
    <title>Exception Detail Report</title>
    @* ReSharper disable Html.PathError *@
    <link rel="stylesheet" type="text/css" href="/Assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/Assets/framework/css/framework.css"/>
    <link rel="stylesheet" type="text/css" href="/Assets/framework/css/wfs-bootstrap.min.css"/>
    @* ReSharper restore Html.PathError *@
    <link rel="stylesheet" type="text/css" href="~/Assets/Decisioning/Css/Decisioning.css"/>
</head>
<body style="background: none">

@helper LabelAndValue(string label, string value)
{
    <div>
        <label class="control-label">@label</label>
        @value
    </div>
}

@helper HeaderLabels()
{
    @LabelAndValue("Deposit Date:", Model.DepositDate)
    @LabelAndValue("Process Date:", Model.ProcessDate)
    @LabelAndValue("Entity:", Model.Entity)
    @LabelAndValue("Workgroup:", Model.WorkgroupName)
    @LabelAndValue("Payment Source:", Model.PaymentSource)
    @LabelAndValue("Batch:", Model.BatchId.ToString())
    @LabelAndValue("Deadline:", Model.DeadLine)
    @LabelAndValue("Status:", Model.DepositStatusDisplayName)
    @LabelAndValue("Locked By:", Model.User)
}

@helper DataEntryHeaderCell(IDataEntryField field)
{
    var cssClass = field.DataType == 7 || field.DataType == 6 ? "alignRight" : "";
    <th class="@cssClass">@field.FieldName</th>
}

@functions
{

    IDataEntryFieldWithValue GetDataEntryField(IEnumerable<IDataEntryFieldWithValue> rowDataEntryFields, IDataEntryField column)
    {
        return rowDataEntryFields != null
            ? rowDataEntryFields.FirstOrDefault(f => f.FieldName == column.FieldName && f.TableName == column.TableName)
            : null;
    }

}

@helper DataEntryCell(IDataEntryFieldWithValue dataEntryCell)
{
    if (dataEntryCell != null)
    {
        var dataType = dataEntryCell.DataType;
        var cssClass = dataType == 7 || dataType == 6 ? "alignRight" : "";
        var value = dataEntryCell.Value;
        if (dataType == 7 && !string.IsNullOrEmpty(value))
        {
            decimal decimalValue;
            if (decimal.TryParse(value, out decimalValue))
            {
                value = decimalValue.ToString("C");
            }
        }
        <td class="@cssClass">@value</td>
    }
    else
    {
        <td></td>
    }
}

@helper PaymentsGrid(DecisioningTransactionModel transaction)
{
    var payments = (transaction.Payments ?? Enumerable.Empty<DecisioningPaymentModel>()).ToList();
    var firstPayment = payments.FirstOrDefault();
    var dataEntryColumns = new List<DecisioningDataEntryModel>();
    if (firstPayment != null && firstPayment.DataEntry != null)
    {
        dataEntryColumns.AddRange(firstPayment.DataEntry);
    }

    <table class="table">
        <thead>
        <tr>
            <th>Exception Reason</th>
            <th class="alignRight">Payment Amount</th>
            <th>Payee</th>
            <th>RT</th>
            <th>Account Number</th>
            <th>Check/Ref/Trace Number</th>
            <th>Payer</th>
            @foreach (var dataEntryColumn in dataEntryColumns)
            {
                @DataEntryHeaderCell(dataEntryColumn)
            }
        </tr>
        </thead>
        <tbody>
        @if (payments.Any())
        {
            foreach (var payment in payments)
            {
                <tr>
                    <td>@payment.DecisioningReasonDesc</td>
                    <td class="alignRight">@(payment.Amount != 0 ? payment.Amount.ToString("C") : "")</td>
                    <td>@payment.PayeeName</td>
                    <td>@payment.RT</td>
                    <td>@payment.Account</td>
                    <td>@payment.Serial</td>
                    <td>@payment.RemitterName</td>
                    @foreach (var dataEntryColumn in dataEntryColumns)
                    {
                        @DataEntryCell(GetDataEntryField(payment.DataEntry, dataEntryColumn))
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="@(7 + dataEntryColumns.Count)">No data available in table</td>
            </tr>
        }
        </tbody>
    </table>
}

@helper PaymentsPanel(DecisioningTransactionModel transaction)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Payment Items</strong></div>
        <div class="panel-body">
            @PaymentsGrid(transaction)
        </div>
    </div>
}

@helper StubsGrid(DecisioningTransactionModel transaction)
{
    var stubDataEntryFields = (Model.DESetupList ?? Enumerable.Empty<DecisioningDataEntrySetupModel>())
        .Where(e => e.TableName.IndexOf("stubs", StringComparison.InvariantCultureIgnoreCase) >= 0)
        .ToList();
    var stubs = (transaction.Stubs ?? Enumerable.Empty<DecisioningStubModel>()).ToList();

    <table class="table">
        <thead>
        <tr>
            @foreach (var dataEntryColumn in stubDataEntryFields)
            {
                @DataEntryHeaderCell(dataEntryColumn)
            }
        </tr>
        </thead>
        <tbody>
        @if (stubs.Any())
        {
            foreach (var stub in stubs)
            {
                var dataEntryCells = stubDataEntryFields.Select(column => GetDataEntryField(stub.DataEntry, column)).ToList();
                if (dataEntryCells.Any(cell => cell != null))
                {
                    <tr>
                        @foreach (var dataEntryColumn in stubDataEntryFields)
                        {
                            @DataEntryCell(GetDataEntryField(stub.DataEntry, dataEntryColumn))
                        }
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="@(Math.Max(1, dataEntryCells.Count))"><i>No data entry exists for this item</i></td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="@Math.Max(1, stubDataEntryFields.Count)">No data available in table</td>
            </tr>
        }
        </tbody>
    </table>
}

@helper StubsPanel(DecisioningTransactionModel transaction)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Related Items</strong></div>
        <div class="panel-body">
            @StubsGrid(transaction)
        </div>
    </div>
}

@helper Transaction(DecisioningTransactionModel transaction)
{
    <h4>
        Transaction @transaction.TransactionSequence
        (@(!string.IsNullOrEmpty(transaction.TransactionStatusDisplay) ? transaction.TransactionStatusDisplay : "Pending"))
    </h4>
    @PaymentsPanel(transaction)
    @StubsPanel(transaction)
}

@helper Transactions()
{
    foreach (var transaction in Model.Transactions ?? Enumerable.Empty<DecisioningTransactionModel>())
    {
        @Transaction(transaction)
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="header">Exception Detail Report</div>
            @HeaderLabels()
            <hr />
            @Transactions()
        </div>
    </div>
</div>

</body>
</html>