﻿<link href="~/Assets/Decisioning/Css/Decisioning.css" rel="stylesheet" />
<link href="~/Assets/Shared/TableDesign.css" rel="stylesheet" />
@* ReSharper disable Html.PathError *@
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/Assets/bootstrap-toggle/bootstrap-toggle.css" rel="stylesheet" />
@* ReSharper restore Html.PathError *@
<script src="~/Assets/Decisioning/DecisioningApp.js?v=20170126"></script>
<script type="text/javascript">
    initDecisioning(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'decisioningDetailViewModel',
        'decisioningDetailContainer');
</script>
<div id="decisioningDetailContainer">
    <div class="card">
        <div class="card-header">
            <span class="page-title"><span class="breadcrumbheader"></span>Exceptions Detail</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <dl class="row">
                        <dt class="col-md-2">Deposit Date:</dt>
                        <dd class="col-sm-10" data-bind="text:DepositDate"></dd>

                        <dt class="col-md-2">Process Date:</dt>
                        <dd class="col-sm-10" data-bind="text:ProcessDate"></dd>

                        <dt class="col-md-2">Entity:</dt>
                        <dd class="col-sm-10" data-bind="text:Entity"></dd>

                        <dt class="col-md-2">Workgroup:</dt>
                        <dd class="col-sm-10" data-bind="text:LockBox"></dd>

                        <dt class="col-md-2">Payment Source:</dt>
                        <dd class="col-sm-10" data-bind="text:PaymentSource"></dd>

                        <dt class="col-md-2">Batch:</dt>
                        <dd class="col-sm-10" data-bind="text:Batch"></dd>

                        <dt class="col-md-2">Deadline:</dt>
                        <dd class="col-sm-10" data-bind="text:DecisioningDeadLine"></dd>

                        <dt class="col-md-2">Status:</dt>
                        <dd class="col-sm-10" data-bind="text:DepositStatus"></dd>

                        <dt class="col-md-2">Locked By:</dt>
                        <dt class="col-sm-10" data-bind="text:User"></dt>
                    </dl>
                    <div>
                        <input id="batch-lock"  class="LockToggle" type="checkbox" data-toggle="toggle" data-height="25" data-width="150" data-bind="checked: LockSwitch(), attr: { title: LockDisabledTitle }" data-on="<i class='fa fa-lock'/>&nbsp;Locked" data-onstyle="primary" data-off="<i class='fa fa-unlock'/>&nbsp;Unlocked" data-offstyle="secondary">
                        <button class="btn btn-primary submit-button" data-bind="enable: SubmitEnabled, attr: {title: SubmitMessage }">Submit</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary pull-right" id="printableView" title="Print transaction detail for the batch">
                        <i class="fa fa-print" style="margin-right: 5px"></i>
                        Print
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <table id="transactionsTable" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Transaction Number</th>
                                <th>Payment Amount</th>
                                <th>RT</th>
                                <th>Account Number</th>
                                <th>Check/Trace/Ref Number</th>
                                <th>Payer</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
