﻿<link href="~/Assets/Decisioning/Css/Decisioning.css" rel="stylesheet" />
<link href="~/Assets/Shared/TableDesign.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/Assets/Decisioning/DecisioningApp.js"></script>

<script type="text/javascript">
    initDecisioning(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'decisioningRowEditorViewModel',
        'decisioningRowEditor');
</script>

<div id="decisioningRowEditor">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text">Edit Row Data</span>
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table">
                    <tbody data-bind="foreach: EditableFields">
                        <tr>
                            <td><strong class="float-right" data-bind="text: Title"></strong></td>
                            <td><input type="text" class="form-control" data-bind="value: Value, enable:FieldDecisionStatus !== 0"/></td>
                            <td><span class="text-danger" data-bind="text: DecisioningReasonDesc"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary button-save">Save</button>
                    <button class="btn btn-primary button-cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
