﻿<link href="~/Assets/Decisioning/Css/Decisioning.css" rel="stylesheet" />
<link href="~/Assets/Shared/TableDesign.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/Assets/Decisioning/DecisioningApp.js"></script>

<script type="text/javascript">
    initDecisioning(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'decisioningViewModel',
        'decisioningPortlet');
</script>
<div id="decisioningPortlet">
    <div class="card">
        <div class="card-header">
            <span class="page-title">Pre-Deposit Exceptions Summary</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="exceptionsTable" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Entity</th>
                                <th>Workgroup</th>
                                <th>Batch</th>
                                <th>Transaction Count</th>
                                <th>Deadline</th>
                                <th>Status</th>
                                <th>User</th>
                                <th>Deposit Date</th>
                                <th>Process Date</th>
                                <th>Payment Source</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>