﻿<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/Decisioning/Css/Decisioning.css" rel="stylesheet" />
<script src="~/Assets/Decisioning/DecisioningApp.js"></script>

<script type="text/javascript">
    initDecisioning(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'decisioningTransactionDetailViewModel',
        'transactionDetailPortlet');
</script>

<div id="transactionDetailPortlet">
    <div class="card">
        <div class="card-header">
            <span class="page-title"><span class="breadcrumbheader"></span>Exceptions Transaction Detail</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl class="row">
                        <dt class="col-sm-3">Deposit Date:</dt>
                        <dd class="col-sm-9" data-bind="text:DepositDate"></dd>

                        <dt class="col-sm-3">Process Date:</dt>
                        <dd class="col-sm-9" data-bind="text:ProcessDate"></dd>

                        <dt class="col-sm-3">Entity:</dt>
                        <dd class="col-sm-9" data-bind="text:Entity"></dd>

                        <dt class="col-sm-3">Workgroup:</dt>
                        <dd class="col-sm-9" data-bind="text:Workgroup"></dd>

                        <dt class="col-sm-3">Payment Source:</dt>
                        <dd class="col-sm-9" data-bind="text:PaymentSource"></dd>

                        <dt class="col-sm-3">Batch:</dt>
                        <dd class="col-sm-9" data-bind="text:BatchId"></dd>

                        <dt class="col-sm-3">Deadline:</dt>
                        <dd class="col-sm-9" data-bind="text:DeadLine"></dd>

                        <dt class="col-sm-3">Status:</dt>
                        <dd class="col-sm-9" data-bind="text:TransactionStatus"></dd>

                        <dt class="col-sm-3">Locked By:</dt>
                        <dd class="col-sm-9" data-bind="text:LockedBy"></dd>
                    </dl>
                    <button class="btn btn-primary save-button td-button"
                            data-bind="enable: UserCanEdit, attr: {title: UserDisabledMessage }">
                        Save
                    </button>
                </div>
                <div class="col-md-6" id="error-display" style="display:none">
                    <div class="alert alert-danger">
                        <ul data-bind="foreach: Errors">
                            <li data-bind="html: html"></li>
                        </ul>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col-4">
                    <h4>
                        Transaction <span data-bind="text: TransactionSequence" /> Details
                        <a href="#" style="font-size: 12px; margin-left: 20px" class="view-all-images-link">
                            <i class="fa fa-picture-o"></i>
                            View All Images
                        </a>
                    </h4>
                    <br />
                    <button class="btn btn-primary td-button" id="button-approve" data-bind="enable: UserCanEdit, attr: {title: UserDisabledAcceptMessage }">
                        <i class="approve"></i> Accept
                    </button>
                    <button class="btn btn-inverse td-button" id="button-reject" data-bind="enable: UserCanEdit, attr: {title: UserDisabledRejectMessage }">
                        <i class="reject"></i> Reject
                    </button>
                </div>
                <div class="col-4">
                    <div class="balancing-box">
                        <table class="balancing-tbl">
                            <thead>
                                <tr>
                                    <th class="underline">Payments</th>
                                    <th></th>
                                    <th class="underline">Related Items</th>
                                    <th></th>
                                    <th class="underline">Difference</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span data-bind="text: PaymentTotal"></span></td>
                                    <td class="symbol">-</td>
                                    <td><span data-bind="text: StubTotal"> = </span></td>
                                    <td class="symbol">=</td>
                                    <td><span data-bind="text: Difference"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div class="float-right mt-4">
                        <button class="btn btn-primary" data-bind="enable: EnableFirstTransaction" id="button-first-transaction" title="First Transaction">
                            <i class="fa fa-fast-backward" />
                        </button>
                        <button class="btn btn-primary" data-bind="enable: EnablePreviousTransaction" id="button-previous-transaction" title="Previous Transaction">
                            <i class="fa fa-play fa-rotate-180" />
                        </button>
                        <strong class="btn btn-secondary fake-button" data-bind="text: CurrentTransactionText"></strong>
                        <button class="btn btn-primary" data-bind="enable: EnableNextTransaction" id="button-next-transaction" title="Next Transaction">
                            <i class="fa fa-play" />
                        </button>
                        <button class="btn btn-primary" data-bind="enable: EnableLastTransaction" id="button-last-transaction" title="Last Transaction">
                            <i class="fa fa-fast-forward" />
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">
                    <strong>
                        Payment Items
                        <span class="table-total">
                            Total
                            <span class="total-amount" data-bind="text: PaymentTotal"></span>
                        </span>
                    </strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="payments-table-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong class='item-button'>
                        Related Items
                        <span class="table-total">
                            Total
                            <span class="total-amount" data-bind="text: StubTotal"></span>
                        </span>
                    </strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="stubs-table-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>