<nav class="navbar navbar-expand-lg navbar-dark navbar-wfs" id="recTabs">
    <div class="container-fluid">
               <ul *ngIf="finishedLoading" class="nav navbar-nav">
            <ng-container *ngFor="let tab of tabs?.Data">
                <li *ngIf="!tab.Children || tab.Children.length == 0" class="nav-item">
                    <a *ngIf="!tab.IsLink && tab.ClickAction != 'JwtSsoTransfer'"
                        (click)="navigateTo('/Framework/?tab=', true, true, tab.Id)"
                        class="nav-link"><span>{{tab.Name}}</span></a>
                    <a *ngIf="tab.IsLink && tab.ClickAction == 'JwtSsoTransfer'" (click)="sendToSso(tab.Id)"
                        class="nav-link"><span>{{tab.Name}}</span></a>
                    <a *ngIf="tab.IsLink && tab.ClickAction != 'JwtSsoTransfer'" (click)="clearBreadcrumbs()"
                        [routerLink]="tab.Name | trim" routerLinkActive="active" href="#"
                        class="nav-link"><span>{{tab.Name}}</span></a>
                </li>
                <li *ngIf="tab.Children && tab.Children.length > 0" routerLinkActive="active" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        role="button"><span>{{tab.Name}}</span> <b class="caret"></b></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <ng-container *ngFor="let group of tab.Children, let i = index">

                <li class="nav-group-header">{{group[0].TabGroupName}}</li>
                <li *ngFor="let child of group" class="nav-item">
                    <a *ngIf="!child.IsLink && child.ClickAction != 'JwtSsoTransfer' "
                        (click)="navigateTo('/Framework/?tab=', true ,true,child.Id)" class="dropdown-item">
                        {{child.Name}}
                    </a>
                    <a *ngIf="child.IsLink && child.ClickAction == 'JwtSsoTransfer'" class="dropdown-item"
                        (click)="sendToSso(child.Id)">
                        {{child.Name}}
                    </a>
                    <a *ngIf="child.IsLink && child.ClickAction != 'JwtSsoTransfer'" class="dropdown-item"
                        (click)="navigateTo(child.Views[0].URL, true, true, '', child.Views[0].RAAMResourceName, child)">
                        {{child.Name}}
                    </a>
                </li>

                <li *ngIf="i != tab.Children.length - 1" role="separator" class="dropdown-divider"></li>
            </ng-container>
    </div>
    </li>
    </ng-container>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <loading *ngIf="!finishedLoading" [size]="50" [static]="true"></loading>
        <ng-container *ngIf="finishedLoading && !user">
            <li>
                <p class="nav-text">Not signed in.</p>
            </li>
        </ng-container>
        <ng-container *ngIf="finishedLoading && user">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfileLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.Username}}
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="navigateTo('/UserProfile/', true, true)">My Profile</a>
                </div>

            </li>
            <li class="nav-item"
                *ngIf="branding?.ShowCustomMenu == true && this.branding?.CustomMenuTitle?.trim()?.length > 0"><a
                    class="nav-link" (click)="customMenuClick()">{{branding?.CustomMenuTitle}}</a></li>
            <li class="nav-item" *ngIf="branding?.HideSignOutMenu == false"><a class="nav-link" (click)="logOut()">sign
                    out</a></li>
        </ng-container>
    </ul>
    </div>
</nav>