.list-group-square .list-group-item {
    border-radius: 0 !important;
}

.nav-group-header {
    margin-left: 10px;
    font-weight: bold;
}

a[routerlink],
.navbar-link,
.nav-link {
    cursor: pointer;
}


@media print {
    nav {
        display: none;
    }
}