﻿<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="~/Assets/BatchSummary/Css/BatchSummary.css" rel="stylesheet" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/BatchSummary/BatchSummaryApp.js"></script>
<script type="text/javascript">
    initBatchSummary(@Html.Raw(Json.Encode(Model)));
</script>
<!-- The Page HTML -->
<div id="batchSummaryPortlet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Batch Summary</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="dateFrom">Date Range:</label>
                            <br/>
                            <div id="dateFrom" class="middlealign"></div>
                            <span><i class="fa fa-minus daterangedash"></i></span>
                            <div id="dateTo" class="middlealign"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="dateFrom" class="control-label batchwork-group-label">Workgroup:</label>
                            <br />
                            <div id="batch-summary-treebase"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="dateFrom" class="control-label">Payment Type:</label>
                            <br />
                            <div id="paymentType"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="dateFrom" class="control-label">Payment Source:</label>
                            <br />
                            <div id="paymentSource"></div>
                            <button class="btn btn-primary horizontalMargins" id="searchButton">Search</button>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button class="btn btn-primary btnPrint" id="printerlink"><i class="fa fa-print" style="margin-right: 5px;"></i>Print</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="batchResultsTable" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Batch ID</th>
                                <th>Batch</th>
                                <th>Deposit Date</th>
                                <th>Payment Source</th>
                                <th>Payment Type</th>
                                <th>Batch Site Code</th>
                                <th>Transaction Count</th>
                                <th>Payment Count</th>
                                <th>Document Count</th>
                                <th>Batch Total</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="display:none;">
                                <th colspan="8"></th>
                                <th colspan="1" id="totalsFooter">
                                    <span>
                                        <strong>Total: <span data-bind="text:Total"></span></strong>
                                    </span>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
