﻿<link rel="stylesheet" type="text/css" href="/Assets/bootstrap/css/bootstrap.min.css" />
<link href="~/Assets/BatchSummary/Css/BatchSummary.css" rel="stylesheet" />
@using HubViews.Helpers
@model HubViews.Models.BatchSummaryPrintModel

<div>
    @if (Model.Success)
    {
        var batches = Model.Data;
        var batch = batches.FirstOrDefault();
        var wgname = Request.QueryString["WorkgroupLongName"] ?? "";
        bool showBankId = Model.Preferences != null ? Model.Preferences.Any(x => x.Name == "ShowBankIDOnline" && x.Value == "Y") : true;
        bool showSiteCode = Model.Preferences != null ? Model.Preferences.Any(x => x.Name == "ShowBatchSiteCodeOnline" && x.Value == "Y") : true;
        if (batch != null)
        {
            <div class="header">Batch Summary</div>
            <div>
                @if (showBankId)
                {
                    <div class="batch-data">BankID: @batch.BankID</div>
                }
                <div class="batch-data">Workgroup: @Html.Raw(Html.Encode(wgname))</div>
                @if (showSiteCode)
                {
                    <div class="batch-data">Site Code:@Model.SiteCode</div>
                }
            </div>
            <br />
            <div >                
                <table class="table">
                    <thead>
                        <tr>
                            @if (batch.ShowBatchId)
                            {
                                <th class="text-right">Batch ID</th>
                            }
                            <th class="text-right">Batch</th>
                            <th class="text-right">Deposit Date</th>
                            <th>Payment Source</th>
                            <th>Payment Type</th>
                            @if (showSiteCode)
                            {
                                <th class="text-right">Batch Site Code</th>
                            }
                            <th class="text-right">Transaction Count</th>
                            <th class="text-right">Payment Count</th>
                            <th class="text-right">Document Count</th>
                            <th class="text-right">Batch Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{ 
                        var tranTotal = 0;
                        var paymentTotal = 0;
                        var doctotal = 0;
                        var totalAmount = Decimal.Zero;
                    }
                    @foreach (var b in batches)
                    {
                        string formatedTotal = AmountHelper.FormatAmountUsingNumberPattern(Convert.ToDecimal(b.TotalAmount));
                        tranTotal += b.TransactionCount;
                        paymentTotal += b.PaymentCount;
                        totalAmount += b.TotalAmount;
                        doctotal += b.DocumentCount;
                        <tr>
                            @if (b.ShowBatchId)
                            {
                                <td style="text-align:right">@Html.DisplayFor(i => b.SourceBatchID)</td>
                            }
                            <td style="text-align:right">@Html.DisplayFor(i => b.BatchNumber)</td>
                            <td style="text-align:right">@Html.DisplayFor(i => b.DepositDateString)</td>
                            <td>@Html.DisplayFor(i => b.PaymentSource)</td>
                            <td>@Html.DisplayFor(i => b.PaymentType)</td>
                            @if (showSiteCode)
                            {
                                <td style="text-align: right">@Html.DisplayFor(i => b.BatchSiteCode)</td>
                            }
                            <td style="text-align:right">@Html.DisplayFor(i => b.TransactionCount)</td>
                            <td style="text-align:right">@Html.DisplayFor(i => b.PaymentCount)</td>
                            <td style="text-align:right">@Html.DisplayFor(i => b.DocumentCount)</td>
                            <td style="text-align:right">@Html.DisplayFor(i => formatedTotal)</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr>
                            @{
                                var spanPos = batch.ShowBatchId ? 2 : 1;
                                var total = AmountHelper.FormatAmountUsingNumberPattern(Convert.ToDecimal(totalAmount));
                                var spanTotal = showSiteCode ? 4 : 3;
                            }
                            <th colspan="@spanPos"></th>
                            <th colspan="1" class="text-right"><strong>Totals:</strong></th>
                            <th colspan="@spanTotal" class="text-right">@Html.DisplayFor(i => tranTotal)</th>
                            <th class="text-right">@Html.DisplayFor(i => paymentTotal)</th>
                            <th class="text-right">@Html.DisplayFor(i => doctotal)</th>
                            <th class="text-right">@Html.DisplayFor(i => total)</th>
                        </tr>

                    </tfoot>
                </table>
            </div>
        }
    }
    else
    {
        <div>There was an error retreiving the data.</div>
    }
</div>