﻿@{
  ViewBag.Title = "Index";
  ViewBag.ParentId = Request["parentId"];
}
<script>
  $LAB    
	.script("").wait(function () {
		require(["/RecHubViews/Assets/Menu/menuIndex.js"], function (menu) {
	    menu.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
	  });
	})
</script>
<style>
  .external-navbar > .navbar-default > .nav > li > a {
    padding-bottom: 9px;
  }
</style>
<div class="oltaMenu" id="oltaMenu" style=" margin: 0 -15px; position: relative; top: -15px;"></div>
