﻿@{
    ViewBag.ParentId = Request["parentId"];
}
@using HubViews.Extensions
@model HubViews.Models.DashboardModel

<link rel="stylesheet" href="~/Assets/Dashboard/base.css?v=20170206" type="text/css" />
<script>
    $LAB  
      .script("/Assets/jqwidgets/jqx-all.js")     
      .script("/Assets/wfs/wfs-dateutil.js")
      .script("/RecHubViews/Assets/Dashboard/pieSettings.js?v=20170206").wait(function () {
          require(["/RecHubViews/Assets/Dashboard/dashboardIndex.js?v=20170206"], function (dash) {
              dash.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
          });
      })
</script>
@{
    //this determines the size of the bootstrap column to be used on the top part of the
    //dashboard. It returns either  4, 6 or 12. If there needs to be more panels there needs to be a change made here
    var permCount = (Model.CanViewPaymentsChart ? 1 : 0) +
        (Model.CanViewExceptionPostProcessChart == true ? 1 : 0) +
        (Model.CanViewExceptionInProcessChart ? 1 : 0);
                    
    var colWidth = permCount != 0 ? 12 / permCount : 12;
}

<div class="dashPortlet">
    <div id="tabbase" class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text" data-bind="text: labels.Title"></span>
            <div class="titleRefreshIcon">
                <a href="#_" class="dashRefresh icon-no-text" data-bind="attr: {title: labels.PageRefresh}"><i class=" fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body" style="font-size: 12px !important;">
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="filterDivs" style="display: inline-block;">
                            <label class="frameworkLabel" for="treebase" data-bind="text: labels.WorkgroupSelector"></label>
                            <div id="dashboard-treeBase" style="width: 375px; display: inline-block;"></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; min-height: 155px;">
                    <div class="col-md-@colWidth">
                        <div class="summaryPieContainer dashAllPie well well-small @Html.SetVisibilityForPermission(Model.CanViewPaymentsChart)" data-bind="visible: canViewPaymentsChart(), style: { height: hasSData() || hasEDatapiepostprocess() || hasEDatapieinprocess() ? 'auto' : '155px', 'width':'100%' }">
                            <div class="pieTitle rowSpacing" data-bind="text: labels.PaymentTypeCountsAndAmounts"></div>
                            <div class="rowSpacing">
                                <label class="frameworkLabel" data-bind="text: labels.DepositDate"></label>
                                <div class="dashDepositDate"></div>
                            </div>
                            <div id="dashNoSumItemMessage"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="paymentTotals" class="summaryPies" data-bind="style: { 'height': hasSData() ? '150px' : '25px'}"></div>
                                    <div class="summaryLegend" style="display: none" data-bind="visible: hasSData">
                                        <div data-bind="foreach: summaryItems">
                                            <div class="legendColor" data-bind="style: {'background-color': backgroundColor}">&nbsp;</div>
                                            <div class="legendLabel" data-bind="text: formattedAmountLabel"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="paymentCounts" class="summaryPies" data-bind="style: { 'height': hasSData() ? '150px' : '25px'}"></div>
                                    <div class="summaryLegend" style="display: none" data-bind="visible: hasSData">
                                        <div data-bind="foreach: summaryItems">
                                            <div class="legendColor" data-bind="style: {'background-color': backgroundColor}">&nbsp;</div>
                                            <div class="legendLabel" data-bind="text: formattedCountLabel"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-@colWidth">
                        <div class="exceptionPieContainer dashAllPie well well-small @Html.SetVisibilityForPermission(Model.CanViewExceptionPostProcessChart)" data-bind="visible: canViewExceptionPostProcessChart(), style: { height: hasSData() || hasEDatapiepostprocess() || hasEDatapieinprocess() ? 'auto' : '155px', 'width': '100%' }">
                            <div class="pieTitle rowSpacing">Post-Process Exception Status</div>
                            <div class="rowSpacing">
                                <label class="frameworkLabel">Deposit Date:</label>
                                <div id="exceptionDateFrom"></div>
                                <!-- Little "hyphen" code taken from Batch summary -->
                                <div style="margin: 5px 2px 5px 5px; display: inline-block; vertical-align: top;"><i class="fa fa-minus"></i></div>
                                <div id="exceptionDateTo"></div>
                            </div>
                            <div class="pieContainer" id="piepostprocess"></div>
                            <div class="rowSpacing" style="display: none;" data-bind="visible: hasEDatapiepostprocess">
                                <ul class="exceptionLegend">
                                    <li>
                                        <div class="legendColor resolved">&nbsp;</div>
                                    </li>
                                    <li>
                                        <div class="legendLabel">Resolved</div>
                                    </li>
                                    <li>
                                        <div class="legendColor unresolved">&nbsp;</div>
                                    </li>
                                    <li>
                                        <div class="legendLabel">Unresolved</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-@colWidth">
                        <div class="exceptionPieContainer dashAllPie well well-small @Html.SetVisibilityForPermission(Model.CanViewExceptionInProcessChart)" data-bind="visible: canViewExceptionInProcessChart(), style: { height: hasSData() || hasEDatapiepostprocess() || hasEDatapieinprocess() ? 'auto' : '155px', 'width': '100%' }">
                            <div class="pieTitle rowSpacing">In-Process Exception Status</div>
                            <div class="rowSpacing">
                                <label class="frameworkLabel">Processing Date:</label>
                                <div id="exceptioninprocessdate"></div>
                            </div>
                            <div class="pieContainer" id="pieinprocess"></div>
                            <div class="rowSpacing" style="display: none;" data-bind="visible: hasEDatapieinprocess">
                                <ul class="exceptionLegend">
                                    <li>
                                        <div class="legendColor resolved">&nbsp;</div>
                                    </li>
                                    <li>
                                        <div class="legendLabel">Resolved</div>
                                    </li>
                                    <li>
                                        <div class="legendColor unresolved">&nbsp;</div>
                                    </li>
                                    <li>
                                        <div class="legendLabel">Unresolved</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
