﻿<!-- Initial Loading Script -->
<script src="/Assets/etc/require.js"></script>

<script src="~/Assets/ImageViewer/ImageViewerApp.js"></script>
<script type="text/javascript">
    initImageViewer(@Html.Raw(Json.Encode(Model)));
</script>
