﻿
<!-- Initial Loading Script -->
<link rel="stylesheet" type="text/css" href="/Assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/Assets/jquery/css/jquery-ui.min.css" />
<link rel="stylesheet" href="/Assets/bootstrap-modal/css/bs-modal.css" type="text/css" />
<link rel="stylesheet" href="/Assets/fontawesome/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/Assets/jquery-toastmessage/resources/css/jquery.toastmessage.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/Assets/framework/CSS/framework.css" />
<link rel="stylesheet" type="text/css" href="/RecHubViews/Assets/ImageViewer/Css/ImageViewer.css" />
<script src="/Assets/etc/LAB.min.js"></script>
<script type="text/javascript">
    $LAB
        .script("/Assets/jquery/js/jquery.min.js").wait()
        .script("/Assets/bootstrap/js/bootstrap.js").wait()
        .script("/Assets/jquery/js/jquery-ui.min.js")
        .script("/Assets/bootstrap-modal/js/bs-modal.js")
        .script("/Assets/etc/respond.js")
        .script("/Assets/etc/spin.min.js")
        .script("/Assets/jquery-toastmessage/js/jquery.toastmessage.js")
        .script("/Assets/framework/JS/frameworkUtils.js")
        .script("/RechubViews/Assets/ImageViewer/ViewModels/ImageViewerLocalViewModel.js")
        .wait(function() {
            $(function(){
                var imageViewer = ImageViewManager.get();
                imageViewer.init("imageViewerPortlet", @Html.Raw(Json.Encode(Model)));
            });
        });
</script>
<div id="imageViewerPortlet" class="container-fluid">
  
    <div class="row">
        <div class="col-sm-12" id="restore-panel" style="display:none;">
            <h4>An Error Occurred</h4>
            <div class="alert alert-danger" role="alert">
                <p id="alert-error"></p>
            </div>
            <p>
                Your session may have expired. Don't worry, your download is still processing. 
                <strong>Leave this window open</strong> and re-authenticate yourself in another window or tab.
                This window will automatically restore when you have successfully logged back in.
            </p>
            <p>
                If your session is still alive, another error may have occurred and you may need to contact your system administrator.
            </p>
            <a href="/Framework/" class="btn btn-default" target="_blank">Open the login page in a new window.</a>
        </div>
    </div>

</div>

