<ng-template #content>
  <form>
    <div class="modal-header">
      <h4 class="modal-title">{{modeTitle}}</h4>
    </div>
    <div class="modal-body">
      <div class="form">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label>Bank:</label>
            </div>
            <div class="col-sm-9">
              <label>{{bankDetail}}</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label>Workgroup:</label>
            </div>
            <div class="col-sm-9">
              <label>{{workGroupDetail}}</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label>R/T:</label>
            </div>
            <div class="col-sm-9">
              <label *ngIf="editMode">{{payer.routingNumber}}</label>
              <input *ngIf="!editMode" type="text" onlyNumbers required maxlength="9" class="form-control"
                [(ngModel)]="payer.routingNumber" name="routingNumber" />
              <div *ngIf="!isValidRN" class="validationMessage">This field is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label>Account Number:</label>
            </div>
            <div class="col-sm-9">
              <label for="account" *ngIf="editMode">{{payer.account}}</label>
              <input *ngIf="!editMode" type="text" required maxlength="34" class="form-control"
                [(ngModel)]="payer.account" name="account">
              <div *ngIf="!isValidAcct" class="validationMessage">This field is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label for="payerName">Payer:</label>
            </div>
            <div class="col-sm-9">
              <input type="text" maxlength="60" required class="form-control" [(ngModel)]="payer.payerName"
                name="payerName" />
              <div *ngIf="!isValidPayerName" class="validationMessage">This field is required.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" title="Enter an alert to save" class="btn btn-primary float-left"
        (click)="save()">Save</button>
      <button type="button" class="btn btn-inverse float-left" (click)="close()">Cancel</button>
    </div>
  </form>
</ng-template>