﻿.daterangedash{
    margin: 6px;
}

.horizontalMargins {
    margin: 0 5px;
}

.rightMargins {
    margin: 0 5px 0 0;
}

.dataTable tr {
    cursor: default !important;
}

.middlealign {
    vertical-align:middle;
}

#ps-workgroup {
    width: 300px;
    height: 28px;
}

/* Hide the PS filter for efficiency reasons. */
.dataTables_filter {
    display:none;
}

/* With scrollable datatables, the headers are rendered seperate from the table. */
#results-table thead tr th:after{
    content: '';
}

#results-table{
    table-layout: fixed;
    word-wrap: break-word;
}

.control-margin {
    margin-left: 28px;
}

table .select2-container{
    width: 100% !important;
}

.half-col {
    width: 12.499999995%
}

/* This is the default bootstrap color. */
.transaction-link,
.batch-link {
    text-decoration: underline;
    color: #337ab7;
}

.docImage {
    cursor: pointer;
}

.paymentImage{
    cursor: pointer;
}