<div class="box">
    <div class="card">
        <div class="card-header">
            <span class="portlet-header-text">
                <breadcrumb></breadcrumb>
                User Preferences
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2" *ngIf="loading">
                    <loading [size]="70"></loading>
                </div>
                <ng-container *ngIf="displayRemitterAccessible && !loading">
                    <div class="col-md-6">
                        <checkbox htmlid="displaypayer" text="Display Payer Name"
                            subtext="(In Images PDF and Batch Detail Page)" [(checked)]="displayPayerName"></checkbox>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary margin-bottom" (click)="submitChangesClick()"
                        id="submit">Submit</button>
                    <button class="btn btn-inverse margin-bottom" (click)="restoreDefaultsClick()"
                        id="restoreDefaults">Restore Defaults</button>
                </div>
            </div>
        </div>
    </div>
</div>