<br/>
<div class="card">
   <div class="card-header">
      <strong>Attachments</strong>
   </div>
   <div class="card-body">
      <ng-container *ngIf="loading">
         <loading size="100"></loading>
      </ng-container>
      <ng-container *ngIf="!loading">
         <div class="col-sm-12">
            <br />
            <div id="notificationdetailgrid-panel" class="">
               <datatable htmlid="notificationdetailgrid-grid"
                          [columns]="columns"
                          [data]="notificationDetailFileGridDTO.files"
                          (createdRow)="createdRow($event)"
                          [order]="columnOrder">
               </datatable>
            </div>
         </div>
      </ng-container>
   </div>
</div>