﻿@{
    ViewBag.ParentId = Request["parentId"];
}

<script type="text/javascript">
	require(["mapping", "/RecHubConfigViews/Assets/BankMaintenance/EditBank.js?v=20191105"], function (mapping, EditBank) {
		window.ko.mapping = mapping;
		EditBank.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
	});
    </script>

<style>
    #helpIcon {
        cursor: pointer;
        display: inline-block; /* chrome-fix */
    }

    .popover {
        max-width: 740px;
    }
</style>   

<div id="bankEdit">
	<form class="form" id="bankEditForm">
        <fieldset>
            <!-- Form Name -->
            <legend><span data-bind="text: formLegend"></span><!-- <i class="fa fa-question-circle" id="helpIcon"></i>--></legend>

            <div id="popOverHelp" style="display: none"><div class="help-block" style="font-size:12px; min-width:700px" data-bind="html: labels.OverviewHTML"></div></div>

            <div class="form-group">
                <label class=" control-label" for="fiEntitySelect" data-bind="text: labels.FI"></label>
                <div class="" data-bind="visible: !hasSingleFI">
                    <div class="fiEntitySelect"></div>
                </div>
                <div data-bind="visible: hasSingleFI">
                    <input class="form-control input-md" disabled="" type="text" data-bind="value: selectedFI().Name" />
                </div>
                <input id="fiEntityId" name="fiEntityId" type="hidden" data-bind="value: selectedFI().ID" />
                <span class="help-block" data-bind="text:labels.FIHelp"></span>
            </div>

            <div class="form-group">
                <label class=" control-label" for="siteBankID" data-bind="text: labels.ID"></label>
                <div class="">
                    <input id="siteBankID" name="siteBankID" placeholder="<ID>" class="form-control input-md" type="text" data-bind="value: selectedBank().SiteBankID, disable: updatingExisting">
                    <span class="help-block" data-bind="text:labels.SiteBankIDHelp"></span>
                </div>
            </div>

            <div class="form-group">
                <label class=" control-label" for="bankName" data-bind="text: labels.Name"></label>
                <div class="">
                    <input id="bankName" name="bankName" placeholder="<Name>" class="form-control input-md" type="text" maxlength="128" data-bind="value: selectedBank().BankName">
                    <span class="help-block" data-bind="text:labels.BankNameHelp"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a id="saveButton" class="btn wausauBtn btn-primary" href="#" data-bind="text: labels.Save"><i class="fa"></i></a>
                    <a id="cancelButton" class="btn wausauBtn btn-inverse" href="#" data-bind="text: labels.Cancel"><i class="fa"></i></a>
                </div>
            </div>
        </fieldset>
	</form>
</div>

