﻿@{
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />
<style>
    .control-span {
        text-align: left !important;
        font-weight: normal !important;
    }
    .work-group-label {
        width: 200px;
    }
</style>
<script>
    $LAB    
    .script("/Assets/jqwidgets/jqx-all.js").wait(function() {
    	require(["/RecHubConfigViews/Assets/BankMaintenance/Index.js?v=20191105"], function (Banks) {
            Banks.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
        });
    });
</script>
<div id="banksBase">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text" data-bind="text: labels.Title"></span>
            <div class="titleRefreshIcon">
                <a title="Refresh" class="icon-no-text" href="#" data-bind="attr: {title: labels.PageRefresh}, click: refreshScreen"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div id="listLoadErrors" data-bind="foreach: loadErrors"><span class="col-md-12 error" data-bind="text: $data" /></div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-12">
				<div style="padding-left: 15px; padding-bottom: 5px;" data-bind="visible: canAdd">
	                <a id="addBankButton" class="btn wausauBtn btn-primary" href="#" data-bind="text: labels.Add"><i class="fa"></i></a>
				</div>
                <div class="col-md-12">
                    <div id="bankGrid" class="slickStyle grid"></div>
                    <div id="bankPager" style="height: 20px;"></div>
                </div>
			</div>
        </div>
    </div>
</div>
