<div class="card unify bgwsmoke hideOF page_font">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12 ml50px">
                <span class="portlet-header-text">
                    <h1 class="headerLabelStyle" id="workgroupHeader">{{workgorupMaintenanceTitle}}</h1>
                </span>
            </div>
        </div>
    </div>
    <div class="unify">
        <div class="pad10l">
            <div class="row col-md-12">
                <ng-container *ngIf="loading">
                    <loading [size]="100"></loading>
                </ng-container>
                <div class="col-xsm-1"></div>
                <div class="col-sm-3 bgwhite">
                    <div class="mt10">
                        <workgroupselector label="" htmlid="workgroupmaintenance-wgs" allowEntitySelection="true"
                            [useExpander]="false" [(selectedWorkgroup)]="selectedWorkgroup" margin="auto"
                            (selectedWorkgroupChange)="selectedEntityChange()" [width]="280" entitiesOnly="true"
                            height="515px">
                        </workgroupselector>
                    </div>
                </div>
                <div *ngIf="!loading && !isValidWorkgroup" class="col-sm-8 mt15 borderlgray">
                    <span class="ml20">Please select an entity that may have workgroups assigned to it.</span>
                </div>
                <div *ngIf="!loading && isValidWorkgroup" class="col-sm-8 borderlgray">
                    <div class="panel-margin-top panel-margin-left">
                        <h5>Default Settings</h5>
                    </div>
                    <div class="panel pad20px panel-margin-left">
                        <div class="padTop10px pad10l">
                            <label class="labelW300px">Payment Image Display Mode:</label>
                            <label class="labelValue">{{paymentImageDisplayMode}}</label>
                            <button type="button" id="defaultedit" class="btn btn-secondary btn-sm float-right ">
                                <span><i class="fas fa-pencil-alt"></i> EDIT</span>
                            </button>
                        </div>

                        <div class="padTop10px pad10l">
                            <label class="labelW300px">Document Image Display Mode:</label>
                            <label class="labelValue">{{documentImageDisplayMode}}</label>
                        </div>

                        <div class="padTop10px pad10l">
                            <label class="labelW300px">Display Batch ID:</label>
                            <label class="labelValue">{{displayBatchId}}</label>
                        </div>
                        <div class="padTop10px pad10l">
                            <label class="labelW300px">Viewing Days:</label>
                            <label class="labelValue">{{viewingDays}}</label>
                        </div>
                        <div class="padTop10px pad10l">
                            <label class="labelW300px">Max Search Days:</label>
                            <label class="labelValue">{{maxSearchDays}}</label>
                        </div>
                    </div>
                    <h5 class="panel-margin-left">Optional Settings</h5>
                    <div class="panel pad20px panel-margin-left">
                        <div>
                            <div class="float-left">
                                <h6>Workgroup Settings</h6>
                            </div>
                            <div class="float-right">
                                <div class="float-right btn-xsm" (click)="workgroupList(showWorkgroup)">
                                    <i class="fas fa-chevron-up bluechev" *ngIf="showWorkgroup"></i>
                                    <i class="fas fa-chevron-down bluechev" *ngIf="!showWorkgroup"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="modal-body" *ngIf="workgroupSettingsData == null">
                                <loading [size]="70" [static]="true"></loading>
                            </div>
                            <div id="workgroupsettings-panel" class="card-body"
                                *ngIf="showWorkgroup && workgroupSettingsData != null">
                                <unifydatatable #dataTable [htmlid]="workgroupsettings-grid" [columns]="columns"
                                    (createdRow)="createdRow($event)" [data]="workgroupSettingsData" [pageLength]="10"
                                    [lengthOptions]="lengthOptions" addNewRowText="Add a New Workgroup">
                                </unifydatatable>
                            </div>
                        </div>
                        <div class="data-tablecontainer hide-table" *ngIf="!showWorkgroup"> </div>
                    </div>
                    <div class="panel pad20px panel-margin-left">
                        <div>
                            <div class="float-left">
                                <h6>Entity Assignment</h6>
                            </div>
                            <div class="float-right">
                                <div class="float-right btn-xsm" (click)="entityList(showEntity)">
                                    <i class="fas fa-chevron-up bluechev" *ngIf="showEntity"></i>
                                    <i class="fas fa-chevron-down bluechev" *ngIf="!showEntity"></i>
                                </div>
                            </div>
                        </div>
                        <div class="data-tablecontainer " *ngIf="showEntity">
                            <table class="entityist"></table>
                            now showing the entity list
                        </div>
                        <div class="data-tablecontainer hide-table" *ngIf="!showEntity"></div>
                    </div>
                    <div class="panel pad20px  panel-margin-left">
                        <div>
                            <div class="float-left">
                                <h6>Billing Information</h6>
                            </div>
                            <div class="float-right">
                                <div class="float-right btn-xsm" (click)="billinginfo(showBilling)">
                                    <i class="fas fa-chevron-up bluechev" *ngIf="showBilling"></i>
                                    <i class="fas fa-chevron-down bluechev" *ngIf="!showBilling"></i>
                                </div>
                            </div>
                        </div>
                        <div class=" " *ngIf="showBilling">
                            <div class="padTop10px pad10l">
                                <div class="float-left"> <label class="typ-body-content textmiddle">Billing
                                        Account:</label>
                                </div>
                                <div class="float-left labelW300px"><label>{{billingAccount}}</label>
                                    <button type="button" id="billingedit" class="btn btn-secondary btn-sm float-right">
                                        <span><i class="fas fa-pencil-alt"></i> EDIT</span>
                                    </button>
                                </div>
                            </div>

                            <div class="padTop10px pad10l">
                                <label class="typ-body-content textmiddle">Billing Field 1:</label>
                                <label class="padL20px ">{{billingField1}}</label>
                            </div>

                            <div class="padTop10px pad10l">
                                <label class="typ-body-content textmiddle">Billing Field 2:</label>
                                <label class="padL20px">{{billingField2}}</label>
                            </div>
                        </div>
                        <div class="data-tablecontainer hide-table" *ngIf="!showBilling"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>