:host ::ng-deep #workgroupsettings-grid th {
    background-color: #333 !important;
    color: #fff !important;
}

:host ::ng-deep #workgroupsettings-grid td {
    background-color: #fff !important;
    color: #000 !important;
}

:host ::ng-deep .headerLabelStyle {
    font-weight: 300;
    color: #e4002b;
}

:host ::ng-deep .borderlgray {
    border-left: 1px solid lightgray
}

:host ::ng-deep .ml50px {
    margin-left: 50px;
}

:host ::ng-deep .hideOF {
    overflow: hidden;
}

:host ::ng-deep .labelW300px {
    width: 300px;
}

:host ::ng-deep .labelValue {
    font-weight: 400;
}

:host ::ng-deep .page_font {
    font-size: 0.875rem;
}