﻿.portlet-text {
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 0;
}

.error {
        color: red;
}
.subText{
    display: block;
    font-size: 0.6em;
    position: relative;
    top: -6px;
}