﻿
<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="/RecHubViews/Assets/InvoiceSearch/Css/InvoiceSearch.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/InvoiceSearch/InvoiceSearchApp.js?v=20170201"></script>
<script type="text/javascript">
    initInvoiceSearch(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'invoiceSearchViewModel',
        'invoiceSearchPortlet');
</script>
<!-- The Page HTML -->
<div id="invoiceSearchPortlet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Invoice Search</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Search Criteria</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-1 half-col"><label class="control-label" for="ps-workgroup">Entity/Workgroup:</label></div>
                                    <div class="col-md-10"><div id="ps-workgroup" class="middlealign"></div></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-1 half-col"><label class="control-label" for="dateFrom">Date Range:</label></div>
                                    <div class="col-md-10">
                                        <div id="dateFrom" class="middlealign"></div>
                                        <span><i class="fa fa-minus daterangedash"></i></span>
                                        <div id="dateTo" class="middlealign"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-1 half-col"> <label class="control-label" for="paymentType">Payment Type:</label></div>
                                    <div class="col-md-10"><div id="paymentType"></div></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-1 half-col"><label class="control-label" for="paymentSource">Payment Source:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div id="paymentSource"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-1 half-col"> <label class="control-label" for="invoice-sort">Sort By:</label></div>
                                    <div class="col-md-10">
                                        <div id="invoice-sort">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Query Builder</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="query-filter"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" id="search-button">Search</button>
                            <button class="btn btn-inverse" id="clear-search-button">Clear Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>