﻿<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="/RecHubViews/Assets/InvoiceSearch/Css/InvoiceSearch.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/InvoiceSearch/InvoiceSearchApp.js?v=20170201"></script>
<script type="text/javascript">
    initInvoiceSearch(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'invoiceSearchResultsViewModel',
        'invoiceSearchResultsPortlet');
</script>
<!-- The Page HTML -->
<div id="invoiceSearchResultsPortlet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Search Results</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="results-table" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Workgroup</th>
                                <th>Deposit Date</th>
                                <th>Batch ID</th>
                                <th>Batch</th>
                                <th>Payment Source</th>
                                <th>Payment Type</th>
                                <th>Transaction</th>
                                <th>Invoice Amount</th>
                                <th>Account Number</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>