﻿@{
  Layout = "~/Views/Shared/_Panel.cshtml";
  ViewBag.ParentId = Request["parentId"];
}

<link rel="stylesheet" href="/RecHubViews/Assets/base.css" type="text/css" />
<link rel="stylesheet" href="/RecHubViews/Assets/BreadCrumbs/BCBase.css" type="text/css" />
<link rel="stylesheet" href="/RecHubViews/Assets/DrillDown/Drilldown.css" type="text/css" />

<link rel="stylesheet" href="/Assets_2.0/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets_2.0/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets_2.0/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets_2.0/slickgrid/controls/slick.pager.css" type="text/css" />
<link rel="stylesheet" href="/Assets_2.0/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/Assets_2.0/jqwidgets/styles/jqx.summer.css" type="text/css" />
<link rel="stylesheet" href="/RecHubViews/Assets/ReceivablesSummary/base.css" type="text/css" />

<script>
  $LAB
    .script("/Assets_2.0/slickgrid/lib/jquery.event.drag-2.2.js")
    .script("/Assets_2.0/slickgrid/lib/jquery.event.drop-2.2.js")
    .script("/Assets_2.0/slickgrid/slick.formatters.js")
    .script("/Assets_2.0/slickgrid/plugins/slick.cellrangedecorator.js")
    .script("/Assets_2.0/slickgrid/plugins/slick.cellrangeselector.js")
    .script("/Assets_2.0/slickgrid/plugins/slick.cellselectionmodel.js")    
    .script("/Assets_2.0/slickgrid/controls/slick.pager.js")    
    .script("/Assets_2.0/slickgrid/slick.dataview.js").wait()
    .script("/Assets_2.0/slickgrid/slick.core.js").wait()     
    .script("/Assets_2.0/slickgrid/slick.grid.js")
    .script("/RecHubViews/Assets/Drilldown/Summary.js")
    .script("/RecHubViews/Assets/Drilldown/Batch.js")
    .script("/RecHubViews/Assets/BreadCrumbs/BCBase.js").wait()
    .script("/Assets_2.0/slickgrid/slick.groupitemmetadataprovider.js").wait(function () {
    	require(["/RecHubViews/Assets/Drilldown/Drilldown.js"], function (drilldown) {
        drilldown.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model.Data)));
      });
    })
</script>

<div class="drilldown">
  <ul class="breadcrumb hubCrumb" data-bind="foreach: breadCrumbs, visible: 0 < breadCrumbs().length " style="display: none;">
    <li>
      <span class="crumb-text" data-bind="text: text, click: action.bind()"></span>
    </li>
  </ul>
  <div class="row" style="width: 100%;">
    <div class="col-xs-12" style="margin-top: 10px;">
      <div class="drilldownData">
        <div style="width: 100%;">
          <div id="grid" data-bind="grid: {}" class="slickStyle grid"></div>
          <div id="pager" style="height: 20px;"></div>
        </div>
      </div>
      <div id="noItemsMessage" style="margin-top: 15px;"></div>
    </div>
  </div>
</div>
