.w100px {
    width: 100px;
}

.faIcoSize {
    font-size: 14px !important;
}

.faIcoSize18px {
    font-size: 18px !important;
}

.modal-dialog {
    margin-top: 20px !important;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.fade {
    opacity: 1 !important;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade {
    opacity: 0.5 !important;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.ml20px {
    margin-left: 20px;
}

:host ::ng-deep #payermaintenance-grid td {
    cursor: default !important;
}