<div class="box">
  <div class="card card-default">
    <div class="card-header container">
      <div class="row">
        <div class="col-sm-12">
          <span class="pull-left portlet-header-text">
            <ng-container *ngIf="permissionsLoading">
              <breadcrumb></breadcrumb>
            </ng-container>Payer Maintenance
          </span>
          <refresh (onRefresh)="refresh()" hoverMessage="Refresh payer maintenance page"
            printHoverMessage="Print payermaintenance page (Ctrl+P)"></refresh>
        </div>
      </div>
    </div>
    <div class="card-body container">
      <div class="row">
        <div class="col-md-12">
          <div class="fieldset col-md">
            <div class="row">
              <div>
                <label>Entity/Workgroup: </label>
              </div>
            </div>
            <div class="row">
              <div class="pull-left">
                <workgroupselector label="" htmlid="payermaintenance-wgs" allowEntitySelection="true"
                  [useExpander]="false" [(selectedWorkgroup)]="selectedWorkgroup"
                  (selectedWorkgroupChange)="workgroupChange()" (selectedEntityChange)="selectedEntityChange()"
                  [width]="280" height="515px">
                </workgroupselector>
              </div>
              <div class="fieldset pull-left col-md-9 ml20px">
                <ng-container *ngIf="loading">
                  <loading [size]="100"></loading>
                </ng-container>
                <ng-container *ngIf="!loading && !isValidWorkgroup">
                  <span>Please select a workgroup that may have payers assigned to it.</span>
                </ng-container>
                <ng-container *ngIf="!loading && isValidWorkgroup">
                  <div class="row">
                    <div class="col-sm-1">
                      <button id="addButton" (click)="addPayer()" class="btn btn-primary">Add</button>
                    </div>
                    <div class="col-sm-11">
                      <label class="w100px">Bank:</label>{{bankDetail}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                      <label class="w100px">Workgroup:</label>{{workGroupDetail}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div id="payermaintenance-panel" class="card-body">
                        <datatable #dataTable htmlid="payermaintenance-grid" [columns]="columns" [data]="payerData"
                          (createdRow)="createdRow($event)" (clickedRow)="clickedRow($event)"
                          (initComplete)="tableInitiated($event)" (clickedColumn)="clickedColumn($event)"
                          [pageLength]="10" [lengthOptions]="lengthOptions">
                        </datatable>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <confirm-dialog #confirmDialog (onConfirm)="confirmDelete($event)" [body]='confirmText' [header]='confirmTitleText'>
  </confirm-dialog>
  <payer-modal #payerModal (onAdd)="payerAdded($event)" (onUpdate)="payerUpdated($event)" [bankDetail]='bankDetail'
    [workGroupDetail]='workGroupDetail'>
  </payer-modal>
</div>