body {font-family: arial, helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; background-color : #ffffff; margin : 0px }
p { font-family :  arial, helvetica, sans-serif; font-size : 11px; font-weight : normal; color : #666666; background-color : #FFFFFF; }
/*Copyright*/
.copyright { vertical-align : middle; font-family : arial, helvetica, sans-serif; font-size: 8pt; font-weight : normal; color : #000000; text-decoration : none; }
.copyright A { font-family : arial, helvetica, sans-serif; font-weight : normal; font-size : 8pt; color : #6c276a; text-decoration : underline; }
.copyright A:LINK { color : #6c276a; }
.copyright A:VISITED { color : #6c276a; }
.copyright A:HOVER { color : #6c276a; }

/*Content Title*/
.contenttitle { font-family : arial, helvetica, sans-serif; font-size: 16px; font-weight : bold; color : #000000; text-decoration : none; background-color : #F3F3F3; }
.contentsubtitle { font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : normal; font-style : normal; color : #000000; text-decoration : none; }
.contentbreak { background-color : #333399; }

/*Reports*/
.reportmain { background-color : #DDDDDD; }
.reportsub { background-color : #DDDDDD; }
.reportcaption { font-family : arial, helvetica, sans-serif; font-size : 14px; font-weight : bold; color : #000000; text-decoration : none; text-align : left; background-color : #FFFFFF; }
.recordcount { font-family : arial, helvetica, sans-serif; font-size: 11px; font-weight : bold; color : #A9A9A9; text-decoration : none; background-color : #FFFFFF; }

.reportheading { background-color : #000000; font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : bold; color : #F3F3F3; text-decoration : none; }
.reportheading A:LINK { color : #F3F3F3; text-decoration : underline; }
.reportheading A:VISITED { color : #F3F3F3; text-decoration : underline; }
.reportheading A:HOVER { color : #F3F3F3; text-decoration : underline; }

.reportdata { font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : normal; color : #000000; text-decoration : none; }
.reportdata A:LINK { color : #6c276a; text-decoration : underline; }
.reportdata A:VISITED {	color : #6c276a; }
.reportdata A:HOVER { color : #6c276a; }

.reportfooter { font-family : arial, helvetica, sans-serif; font-size: 12px; font-weight : bold; color : #000000; text-decoration : none; background-color : #FFFFFF; }
.reportfooter A { font-family : arial, helvetica, sans-serif; font-size: 11px; font-weight : bold; color : #333399; text-decoration : underline; background-color : #FFFFFF; }
.reportfooter A:LINK { color : #6c276a; }
.reportfooter A:VISITED { color : #6c276a; }
.reportfooter A:HOVER { color : #6c276a; }

.evenrow { background-color : #FFFFFF; }
.oddrow { background-color : #E0E0E0; }

div.errMsg { font-weight:bold; color:Red; }

