<div class="rel">
    <div *ngIf="loading" class="loading-overlay">
        <loading [size]="100"></loading>
    </div>
    <table id="{{htmlid}}" class="{{class}}">
        <thead>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th>{{col.title}}</th>
                </ng-container>
            </tr>
        </thead>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>