﻿<!-- Page-Specific CSS -->
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/Css/ExtractSchedulesStyle.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/ExtractScheduleApp.js"></script>
<script type="text/javascript">
    initExtractSchedules(@Html.Raw(Json.Encode(Model)), 'extractDefinitionsController');
</script>

<!-- The Page HTML -->
<div id="extractSchedulesPortlet">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text">Extract Definitions</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        <button id="addextractbutton" class="btn btn-primary" style="display: none" data-bind="visible: CanManage">Add Extract Definition</button>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table id="definitionsTable" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Options</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Filename</th>
                                <th>Type</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
