﻿<!-- Page-Specific CSS -->
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/Css/ExtractSchedulesStyle.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/ExtractScheduleApp.js"></script>
<script type="text/javascript">
    initExtractSchedules(@Html.Raw(Json.Encode(Model)), 'extractSchedulerController');
</script>

<div id="schedulerbase">
    <form class="form-vertical" method="post" action="/RecHubExtractScheduleViews/Schedule" id="scheduleForm">
        <div class="card">
            <div class="card-header">
                <span class="portlet-text" data-bind="text:labels.Title"></span>
            </div>
            <p>&nbsp;</p>
            <div class="card-body" style="font-size: 12px !important;">
                <div style="color:red;" id="ErrorMessage"></div>
                <strong><span id="actionTitle"></span></strong>
                <table class="table table-striped table-bordered table-nonfluid">

                    <tr>
                        <td style="text-align:right;" class="titleCell font-weight-bold" data-bind="text:labels.Definition"><strong></strong></td>
                        <td data-bind="enable: isEditMode, text:schedule().ExtractName"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;" class="titleCell font-weight-bold" data-bind="text:labels.Description"><strong></strong></td>
                        <td>
                            <input type="text" class="form-control required" data-bind="value:schedule().Description, enable: isEditMode" />
                            <span class="help-inline extract-error requiredDescriptionError" data-bind="text:labels.RequiredDesriptionError" style="display:none;"></span>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;" class="font-weight-bold titleCell" data-bind="text:labels.Time"><strong></strong></td>
                        <td>
                            <input type="text" class="form-control required time" data-bind="value: timeFormat, enable: isEditMode" />
                            <span class="help-inline extract-error requiredTimeError" data-bind="text:labels.RequiredTimeError" style="display:none;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;" class="titleCell font-weight-bold" data-bind="text:labels.IsActive">
                        </td>
                        <td><input type="checkbox" data-bind="checked:schedule().IsActive, enable: isEditMode" /></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold" data-bind="text:labels.OutputMode"  style="text-align: right"></td>
                        <td>
                            <div id="outputMode" data-bind=""></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;" class="titleCell">
                            <strong><span class="text-nowrap" data-bind="text:labels.ScheduleType"></span></strong>
                            <br /><br/>
                            <strong><span data-bind="text:labels.Weekly"></span></strong>
                            <input type="radio" class="scheduleType" name="scheduleType" value="1" data-bind="checked: scheduleType, enable: isEditMode" />
                            <br />
                            <strong><span data-bind="text:labels.Monthly"></span></strong>
                            <input type="radio" class="scheduleType" name="scheduleType" value="2" data-bind="checked: scheduleType, enable: isEditMode" />


                        </td>
                        <td data-bind="enable: isEditMode">



                            <table id="tblWeeklySchedule">
                                <tr>
                                    <td colspan="7" class="titleCell" data-bind="text:labels.WeeklySchedule"> </td>
                                </tr>
                                <tr>
                                    <td data-bind="text:labels.Sun">S</td>
                                    <td data-bind="text:labels.Mon">M</td>
                                    <td data-bind="text:labels.Tue">T</td>
                                    <td data-bind="text:labels.Wed">W</td>
                                    <td data-bind="text:labels.Thu">T</td>
                                    <td data-bind="text:labels.Fri">F</td>
                                    <td data-bind="text:labels.Sat">S</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" data-bind="checked:schedule().Sunday, enable: isEditMode" /></td>
                                    <td><input type="checkbox" data-bind="checked:schedule().Monday, enable: isEditMode" /></td>
                                    <td><input type="checkbox" data-bind="checked:schedule().Tuesday, enable: isEditMode" /></td>
                                    <td><input type="checkbox" data-bind="checked:schedule().Wednesday, enable: isEditMode" /></td>
                                    <td><input type="checkbox" data-bind="checked:schedule().Thursday, enable: isEditMode" /></td>
                                    <td><input type="checkbox" data-bind="checked:schedule().Friday, enable: isEditMode" /></td>
                                    <td><input type="checkbox" data-bind="checked:schedule().Saturday, enable: isEditMode" /></td>
                                </tr>
                            </table>

                            <table id="tblMonthlySchedule">
                                <tr>
                                    <td colspan="2" class="titleCell font-weight-bold" data-bind="text:labels.MonthlySchedule" class="titleCell"> </td>
                                </tr>
                                <tr>
                                    <td data-bind="text:labels.SelectDayToRun"> </td>
                                    <td>
                                        <div class="monthDays"></div>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;" class="titleCell font-weight-bold">
                            <span data-bind="text:labels.RunTimeArguments"></span>
                        </td>
                        <td>
                            <!-- ko if: isExtractWizard-->
                            <span class="extract-example" data-bind="text:labels.DefaultRunTimeArguments"></span>
                            <!-- /ko -->
                            <!-- ko if: !isExtractWizard-->
                            <span class="extract-example" data-bind="text:labels.ExampleRunTimeArgumentsBilling"></span>
                            <!-- /ko -->

                            <input type="text" class="form-control" data-bind="value: ExtractRunArgs, enable: isEditMode" />
                            <span class="help-inline extract-error argumentFormatError" data-bind="text:labels.ArgumentFormatError" style="display:none;"></span>
                        </td>
                    </tr>

                    <tr id="rowEditMode" data-bind="visible: isEditMode">
                        <td colspan="2" style="text-align:center;">
                            <button class="btn btn-primary" id="btnUpdate">
                                <span data-bind="text:labels.Save"></span>
                            </button>
                            <button class="btn  btn-inverse viewSchedules" data-bind="attr: {'data-id': schedule().ExtractScheduleId, 'data-defid': schedule().ExtractDefinitionId }">
                                <span data-bind="text:labels.Back"></span>
                            </button>
                        </td>
                    </tr>
                    <tr id="rowViewMode" data-bind="visible: !isEditMode">
                        <td style="text-align:center;">
                            <button class="btn  btn-primary" id="btnRunNow" data-bind="visible: !isExtractWizard, attr: {'data-id': schedule().ExtractScheduleId }">
                                <span data-bind="text:labels.RunNow"></span>
                            </button>
                        </td>
                        <td style="text-align:center;">
                            <button class="btn  btn-primary" id="btnEdit" data-bind="attr: {'data-id': schedule().ExtractScheduleId }">
                                <span data-bind="text:labels.Update"></span>
                            </button>
                            <button class="btn  btn-inverse viewSchedules" data-bind="attr: {'data-defid': schedule().ExtractDefinitionId }">
                                <span data-bind="text:labels.Back"></span>
                            </button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </form>
</div>
