﻿<!-- Page-Specific CSS -->
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/Css/ExtractSchedulesStyle.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/ExtractScheduleApp.js"></script>
<script type="text/javascript">
    initExtractSchedules(@Html.Raw(Json.Encode(Model)), 'extractSchedulesController');
</script>

<div id="extractSchedulesPortlet">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text"><span class="headerlink" id="definitionslink">Extract Definitions</span> > Schedules for Definition '<span data-bind="text: CurrentDefinition().ExtractName"></span>'</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        <button id="addschedulebutton" class="btn btn-primary" style="display: none" data-bind="visible: CanManage">Add Schedule</button>
                    </span>
                    <div class="pull-right">
                        <div id="definitionList"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="schedulesTable" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Options</th>
                                <th>Id</th>
                                <th>Description</th>
                                <th>Schedule Time</th>
                                <th>Type</th>
                                <th>Su</th>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>Th</th>
                                <th>F</th>
                                <th>Sa</th>
                                <th>Day In Month</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>