﻿<!-- Page-Specific CSS -->
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/Css/ExtractSchedulesStyle.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/ExtractScheduleApp.js"></script>
<script type="text/javascript">
    initExtractSchedules(@Html.Raw(Json.Encode(Model)), 'extractUploadBillingController');
</script>

<div id="uploadExtractBilling">
    <form class="form-vertical upload-form" method="post" action="/RecHubExtractScheduleViews/ExtractSchedules/UpdateExtractBilling" id="uploadForm" enctype="multipart/form-data">
        <input type="hidden" name="Id" data-bind="value: id" />
        <div class="card">
            <div class="card-header">
                <span class="portlet-text" data-bind="text: heading"></span>
            </div>
            <div class="card-body" style="font-size: 12px !important;">
                <input type="hidden" name="SecurityToken" data-bind="value: securityToken" />
                <input type="hidden" name="Mode" data-bind="value: mode" />
                <input type="hidden" name="SelectedExtractBillingValue" id="SelectedExtractBillingValue" data-bind="value: selectedExtractBillingValue"/>
                <input type="hidden" name="SelectedExtractBillingName" id="SelectedExtractBillingName" data-bind="value: selectedExtractBillingName"/>

                <div class="row">
                    <div class="form-group col-md-12" id="extractNameDiv" >
                        <label for="inputName" class="control-label" data-bind="text:labels.Name"></label>
                        <div>
                            <input class="form-control" id="extractName" name="extractName" data-bind="value: extractName">
                        </div>
                        <span class="help-inline extract-error extractNameError" style="display:none;"  data-bind="text: labels.RequiredNameError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="selExtractBilling" class="control-label" data-bind="text:labels.SelectExtractBilling"></label>
                        <br />
                        <div class="row">
                            <div class="col-md-12" style="display: none" data-bind="visible: !isNewDefinition">
                                <input class="form-control" data-bind="value: selectedExtractBillingName" disabled="disabled" />
                            </div>
                            <div class="col-md-12" data-bind="visible: isNewDefinition">
                                    <select name="selExtractBilling"  id="selExtractBilling" size="5" class="form-control" 
                                        data-bind="options: extractBillings, optionsText: function(item) {return item.Key}, optionsValue: function(item) {return item.Value}">
                                </select>
                            </div>
                            <div class="col-md-12">
                                <span class="help-inline extract-error extractRequiredEB" data-bind="text: labels.RequiredEBError" style="display:none;" ></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary" id="btnUploadExtractBilling" data-bind="text:labels.Upload"></button>
                        <button type="button" class="btn btn-inverse" id="btnCancel" data-bind="text:labels.Cancel"></button>
                        <br />

                    </div>
                </div>

            </div>
        </div>
    </form>




</div>
