﻿
<!-- Page-Specific CSS -->
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/Css/ExtractSchedulesStyle.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/ExtractScheduleApp.js"></script>
<script type="text/javascript">
    initExtractSchedules(@Html.Raw(Json.Encode(Model)), 'extractUploadDefinitionController');
</script>

<div id="uploadExtractDefinition">
    <form class="form-vertical upload-form" method="post" action="/RecHubExtractScheduleViews/ExtractSchedules/UploadFile" id="uploadForm" enctype="multipart/form-data">
        <input type="hidden" name="Id" data-bind="value: id" />
        <div class="card">
            <div class="card-header">
                <span class="portlet-text" data-bind="text: heading"></span>
            </div>
            <div class="card-body" style="font-size: 12px !important;">
                <input type="hidden" name="SecurityToken" data-bind="value: securityToken" />
                <input type="hidden" name="Mode" data-bind="value: mode" />
                <div class="row">
                    <div class="form-group col-md-12" id="extractNameDiv" >
                        <label for="inputName" class="control-label" data-bind="text:labels.Name"></label>
                        <div>
                            <input class="form-control" id="ExtractName" name="ExtractName" data-bind="value: extractName">
                        </div>
                            <span class="help-inline extract-error extractNameError" data-bind="text: labels.RequiredNameError" style="display:none;" ></span>
                    </div>
                </div>

                <div class="row" data-bind="visible: !isNewDefinition">
                    <div class="form-group col-md-12" >
                        <div>
                        <button type="submit" class="btn btn-primary" id="btnSaveName" data-bind="text:labels.SaveName"></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="uploadFile" class="control-label" data-bind="text:labels.File"></label>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn btn-primary btn-file">
                                    <span data-bind="text:labels.Browse">
                                    </span>
                                    <input type="file" name="File">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" readonly id="uploadFilePlaceholder" />
                            </div>
                            <div class="col-md-12 extractRequiredFile">
                                <span class="help-inline extract-error" data-bind="text: labels.RequiredFileError" style="display:none;" ></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary" id="btnFinalUpload" data-bind="text:labels.Upload"></button>
                        <button type="button" class="btn btn-inverse" id="btnCancel" data-bind="text:labels.Cancel"></button>
                        <br />
                        <span data-bind="text:labels.InvalidXml" style="display:none;"  class="help-inline extract-error" id="spnInvalidXml" ></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
