﻿@{
  ViewBag.Title = "Menu";
  ViewBag.ParentId = "hvHomeParent";
}

<script>  
  (function () {
  	require(["/RecHubViews/Assets/Home/Index.js"], function (hvHome) {
      hvHome.init('@ViewBag.ParentId');
    });
  })();

</script>
<div class="tabbable">
  <ul class="nav nav-pills hvUl" style="margin-bottom: 5px;">
    <li><a href="#" id="ReceivablesSummary">Receivables Summary</a></li>
    <li><a href="#" id="Dashboard">Dashboard</a></li>
    <li><a href="#" id="Payer">Payer</a></li>
  </ul>
</div>
