﻿@using WFS.RecHub.R360Shared
@{
    Layout = Layout = "~/Views/Shared/_Panel.cshtml";
    ViewBag.ParentId = Request["parentId"];
}
<style>
    .col-lg-five-and-a-half {
        width: 45.83% !important;
        max-width: 45.83% !important;
        flex: 0 0 45.83% !important;
    }
    .slick-pager-nav {
      padding: 0px !important;
    }
   .slick-pager .slick-pager-settings{
       margin-top: -2px !important;
   }

</style>
<script>
    require(["/RecHubConfigViews/Assets/Workgroups/AssignWorkgroups.js?v=20191105"], function (AssignWorkgroups) {
        AssignWorkgroups.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
    });
</script>

@{bool canAssociate = R360Permissions.Current.Allowed(R360Permissions.Perm_WorkgroupAssociation, R360Permissions.ActionType.Update);}

<div id="assignWorkgroups" style="max-height: 700px">
    <legend><span data-bind="text: headerText"></span></legend>
    <div class="form">
        <div class="row">
            <div class="@(canAssociate ? "col-lg-5 col-lg-five-and-a-half" : "col-lg-12")" >
                <div class="form-group">
                    @if (canAssociate)
                    {
                        <label for="availableGrid" data-bind="visible: CanAssociate">Available</label>
                    }
                    <div style="overflow-y: auto; max-height: 285px;">
                        <div id="availableGrid" class="slickStyle grid" style="min-height: 277px;"></div>
                    </div>
                    <div id="availablePager" style="height: 20px;"></div>
                </div>
            </div>
            @if (canAssociate)
            {
                <div class="col-md-1 text-center">
                    <div class="btn-group" style="padding-top: 25px">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group-vertical buttons">
                                <button title="Move all" class="btn btn-secondary" type="button" id="addAll">
                                    <i class="fa fa-angle-double-right" />
                                </button>
                                <button title="Move selected" class="btn btn-secondary" type="button" id="addSelected">
                                    <i class="fa fa-angle-right" />
                                </button>
                                <button title="Remove selected" class="btn btn-secondary" type="button" id="removeSelected">
                                    <i class="fa fa-angle-left" />
                                </button>
                                <button title="Remove all" class="btn btn-secondary" type="button" id="removeAll">
                                    <i class="fa fa-angle-double-left" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-five-and-a-half">
                    <div class="form-group">
                        <label for="selectedGrid">Selected</label>
                        <div style="overflow-y: auto; max-height: 285px;">
                            <div id="selectedGrid" class="slickStyle grid" style="min-height: 277px"></div>
                        </div>
                        <div id="selectedPager" style="height: 20px;"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr style="margin-top: 10px; margin-bottom: 10px">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (canAssociate)
            {
                <a id="saveButton" class="btn wausauBtn btn-primary" href="#">Save<i class="fa"></i></a>
            }
            <a id="cancelButton" class="btn wausauBtn btn-inverse" href="#" data-bind="text: cancelButtonText"><i class="fa"></i></a>
        </div>
    </div>
     </div>
</div>
