﻿@using WFS.RecHub.R360Shared
@{
    Layout = "~/Views/Shared/_Panel.cshtml";
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.summer.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />
<style>
    .nav-tabs li.active {
        font-weight: bold;
    }

    .control-span {
        text-align: left !important;
        font-weight: normal !important;
    }

    .recHub-entity-label {
        width: 250px;
        text-align: left !important;
    }
    .slick-pager .slick-pager-settings * {
       vertical-align:middle !important;
    }
    .slick-pane {
     position: relative !important;
    margin-bottom: -25px !important;
}
</style>
<script>

        require(["/RecHubConfigViews/Assets/Workgroups/Index.js?v=20191105", "jqx", "/Assets/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js"], function (Workgroups, jqx, duallist) {
            Workgroups.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
        });

</script>

@{bool CanManage = R360Permissions.Current.Allowed(R360Permissions.Perm_WorkgroupMaintenance, R360Permissions.ActionType.Update);}
@{bool CanViewAssociations = R360Permissions.Current.Allowed(R360Permissions.Perm_WorkgroupAssociation, R360Permissions.ActionType.View);}
@{bool CanManageAssociations = R360Permissions.Current.Allowed(R360Permissions.Perm_WorkgroupAssociation, R360Permissions.ActionType.Update);}

@if (R360Permissions.Current.Allowed(R360Permissions.Perm_WorkgroupMaintenance, R360Permissions.ActionType.View))
{
    <div id="workgroupsBase">
        <div class="card">
            <div class="card-header">
                <span class="portlet-text">Workgroup Maintenance</span>
                <div class="titleRefreshIcon">
                    <a title="Refresh" class="icon-no-text" href="#" data-bind="attr: { title: labels.PageRefresh }, click: refreshScreen"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div id="entitySelector"></div>
                    </div>
                    <div class="col-md-9">
                        <div style="display: none" data-bind="visible: notAssignable">
                            <span class="help-block" data-bind="text: labels.PleaseSelectAssignableEntity"></span>
                        </div>
                        <div role="tabpanel" style="display: none" data-bind="visible: assignable">
                            <ul id="workgroupMaintenanceTabs" class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="active nav-link" href="#workgroupDefaults" id="tabDefaults" data-bind="text: labels.DefaultsTab" data-toggle="tab" role="tab"></a></li>
                                <li class="nav-item"><a class="nav-link"href ="#workgroupMaintenance" id="tabMaintenance" data-toggle="tab" role="tab">Workgroup Settings</a></li>
                                @if (CanViewAssociations)
                                { 
                                    <li class="nav-item"><a class="nav-link" href="#workgroupMaintenance" id="tabAssignment" data-bind="text: assignmentTabText" data-toggle="tab" role="tab"></a></li>
                                }
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="workgroupDefaults">
                                    <div id="entityDetails" class="form-horizontal">
                                        <div class="form-group" style="padding-top: 10px;">
                                            <label for="PaymentImageDisplayMode" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.PaymentImageDisplayModeLabel"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: imageDisplayModeText(selectedEntity().PaymentImageDisplayMode)"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="DocumentImageDisplayMode" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.DocumentImageDisplayModeLabel"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: imageDisplayModeText(selectedEntity().DocumentImageDisplayMode)"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="DisplayBatchID" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.DisplayBatchIDLabel"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().DisplayBatchID === undefined ? '' : selectedEntity().DisplayBatchID ? 'Yes' : 'No'"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="ViewingDays" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.ViewingDaysLabel"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().ViewingDays"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="MaximumSearchDays" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.MaximumSearchDaysLabel"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().MaximumSearchDays"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="EntityBillingAccount" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.BillingAccountLabel"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().BillingAccount"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="EntityBillingField1" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.BillingField1Label"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().BillingField1"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="EntityBillingField2" class="col-md-4 recHub-entity-label control-label" data-bind="text: labels.BillingField2Label"></label>
                                            <span class="col-md-8 control-span control-label" data-bind="text: selectedEntity().BillingField2"></span>
                                        </div>
                                    </div>
                                    @if (CanManage)
                                    { 
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <a id="editEntityButton" class="btn wausauBtn btn-primary" href="#" data-bind="text: labels.Edit"><i class="fa"></i></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div role="tabpanel" class="tab-pane" id="workgroupMaintenance">
                                    <div style="display: none" data-bind="visible: showNoDefaultsError">
                                        <span class="help-block" style="padding: 5px;" data-bind="text: labels.EntityIsNotConfigured"></span>
                                    </div>
                                    <div style="max-width: 100%; display: none" data-bind="visible: showWorkgroupGrid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @if (CanManage)
                                                { 
                                                    <div class="row" data-bind="visible: allowAdd">
                                                        <div class="col-md-12">
                                                            <a id="addWorkgroupButton" class="btn wausauBtn btn-primary" href="#">Add</a>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="row" data-bind="visible: allowAssignment">
                                                    <div class="col-md-12">
                                                        <a id="assignWorkgroupsButton" class="btn wausauBtn btn-primary" href="#" data-bind="text: assignWorkgroupsButtonText"></a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="workgroupGrid" class="slickStyle grid"></div>
                                                        <div id="workgroupPager"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}