﻿@using WFS.RecHub.R360Shared 
@{ 
    ViewBag.ParentId = Request["parentId"];
}
<link href="~/Assets/Workgroups/CSS/WorkgroupDetails.css" rel="stylesheet" />
<style>
    .slick-pager-nav{
        margin-top:-2px !important;
    }
</style>

<script type="text/javascript">
    console.log("WorkgroupDetails - Start Loading JS....");
    require(["/RecHubConfigViews/Assets/Workgroups/WorkgroupDetails.js?v=20191105"], function (WorkgroupDetials) {
        WorkgroupDetials.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
    });
    console.log("WorkgroupDetails - Done Loading JS....");
</script>

@{bool CanManage = R360Permissions.Current.Allowed(R360Permissions.Perm_WorkgroupMaintenance, R360Permissions.ActionType.Update);}
@{bool DisableAdvancedWorkgroupSettings = bool.Parse(ConfigHelpers.GetAppSetting("DisableAdvancedWorkgroupSettings", "true"));
    /* TODO: Change default to "false" in next version... */ } @if (R360Permissions.Current.Allowed(R360Permissions.Perm_WorkgroupMaintenance,
        R360Permissions.ActionType.View))
    {
        <div id="workgroupDetails">
            <div class="row">
                <div class="col-sm-12">
                    <legend><span data-bind="text: editTitle"></span></legend>
                    <div role="tabpanel">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul id="workgroupDetailsTabs" class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a  class="nav-link active" href="#workgroupGeneral" id="tabGeneral" data-toggle="tab" role="tab">General</a></li>
                                   <li class="nav-item"><a class="nav-link" href="#workgroupFieldSetup" id="tabFieldSetup" data-toggle="tab" role="tab">Data Entry Fields</a></li>
                                   <li class="nav-item"><a class="nav-link" href="#workgroupACH" id="tabDDA" data-toggle="tab" role="tab">DDA Association</a></li>
                                    @if (!DisableAdvancedWorkgroupSettings)
                                    {
                                       <li class="nav-item"><a  class="nav-link" href="#fieldRules" id="tabRules" data-toggle="tab" role="tab">Business Rules</a></li>
                                       <li class="nav-item"><a  class="nav-link" href="#billingFields" id="tabBilling" data-toggle="tab" role="tab">Billing Fields</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content workgroup-tab-content">
                            <div role="tabpanel" class="tab-pane active" id="workgroupGeneral">
                                <div class="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="bankSelect">Bank</label>
                                                <div>
                                                    <input type="hidden" id="bankSelect" />
                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: bankError"></span></small>

                                                    <input class="form-control" disabled="" type="text" data-bind="value: BankText, visible: updatingExisting" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 0px">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="workgroupID">Workgroup ID</label>
                                                <div>
                                                    <input id="workgroupID" maxlength="10" type="text" class="form-control" data-bind="value: workgroupID, enable: !updatingExisting" />
                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: workgroupIDErrorText, visible: workgroupIDError"></span></small>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="LongName">Long Name</label>
                                                <div>
                                                    <input id="LongName" maxlength="40" type="text" class="form-control default-focus" data-bind="value: longName" />
                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredNameFormat, visible: longNameError"></span></small>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortName">Short Name</label>
                                                <div>
                                                    <input id="ShortName" maxlength="20" type="text" class="form-control" data-bind="value: selectedWorkgroup().ShortName" />
                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredNameFormat, visible: shortNameError"></span></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group" style="padding-top: 26px;">
                                                <label>
                                                    <input id="IsActive" type="checkbox" data-bind="checked: selectedWorkgroup().IsActive" />
                                                    Active
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="card">
                                                <div class="card-header">Storage Settings</div>
                                                <div class="card-body" id="storageSettingsPanel">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="DataRetentionDays">Data Retention Days</label>
                                                                <div>
                                                                    <input id="DataRetentionDays" maxlength="5" type="text" class="form-control" data-bind="value: selectedWorkgroup().DataRetentionDays" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: dataRetentionDaysErrorText, visible: dataRetentionDaysError"></span></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="ImageRetentionDays">Image Retention Days</label>
                                                                <div>
                                                                    <input id="ImageRetentionDays" maxlength="5" type="text" class="form-control" data-bind="value: selectedWorkgroup().ImageRetentionDays" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: imageRetentionDaysErrorText, visible: imageRetentionDaysError"></span></small>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="FileGroup">File Group</label>
                                                                <div>
                                                                    <input id="FileGroup" maxlength="256" type="text" class="form-control" data-bind="value: selectedWorkgroup().FileGroup" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.FileGroupFormat, visible: fileGroupError"></span></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-header">Report / Display Settings</div>
                                                <div class="card-body" id="displaySettingsPanel">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label for="ViewingDays">Viewing Days</label>
                                                                <div>
                                                                    <input id="ViewingDays" maxlength="5" type="text" class="form-control" data-bind="value: selectedWorkgroup().ViewingDays" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: viewingDaysErrorText, visible: viewingDaysError"></span></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="MaximumSearchDays">Max Search Days</label>
                                                                <div>
                                                                    <input id="MaximumSearchDays" maxlength="5" type="text" class="form-control" data-bind="value: selectedWorkgroup().MaximumSearchDays" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: maximumSearchDaysErrorText, visible: maximumSearchDaysError"></span></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="displayBatchIDSelect">Display Batch ID</label>
                                                                <input type="hidden" id="displayBatchIDSelect" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label style="margin: 0">
                                                                    <input id="IsHOA" type="checkbox" data-bind="checked: selectedWorkgroup().HOA" />
                                                                    Is HOA
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="form-group">
                                                                <label for="checkImageDisplayModeSelect">Payment Image Display</label>
                                                                <input type="hidden" id="checkImageDisplayModeSelect" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="documentImageDisplayModeSelect">Document Image Display</label>
                                                                <input type="hidden" id="documentImageDisplayModeSelect" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="card">
                                                <div class="card-header">Pre-Deposit Exception Business Rules</div>
                                                <div class="card-body"> 
                                                    <label>
                                                        <input type="checkbox" data-bind="checked: selectedWorkgroup().BusinessRules.PreDepositBalancingRequired"> Balancing Required
                                                    </label>                                                                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-header">Post-Deposit Exception Business Rules</div>
                                                <div class="card-body">
                                                    <label style="display:none">
                                                        <input id="InvoiceRequired" type="checkbox" data-bind="checked: selectedWorkgroup().BusinessRules.InvoiceRequired" />
                                                        Invoice Required
                                                    </label>
                                                    <div class="col-md-7">
                                                        <div>
                                                            <label>
                                                                <input id="PostDepositBalancingRequired" type="checkbox" data-bind="checked: selectedWorkgroup().BusinessRules.PostDepositBalancingRequired" />
                                                                Balancing Required
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div>
                                                            <label>
                                                                <input id="PostDepositPayerRequired" type="checkbox" data-bind="checked: selectedWorkgroup().BusinessRules.PostDepositPayerRequired" />
                                                                Payer Required
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="workgroupACH">
                                <div class="form">
                                    <div class="row">
                                        @if (CanManage)
                                        {
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="ABA">R/T</label>
                                                            <div>
                                                                <input id="ABA" maxlength="9" type="text" class="form-control default-focus" data-bind="value: associateRT" />
                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredRTFormat, visible: associateRTError"></span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="DDA">DDA</label>
                                                            <div>
                                                                <input id="DDA" maxlength="35" type="text" class="form-control" data-bind="value: associateDDA" />
                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: associateDDAErrorText, visible: associateDDAError"></span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a id="achAssociateButton" class="btn wausauBtn btn-primary btn-topalignToInput" href="#">Associate<i class="fa"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="@(CanManage ? " col-md-6 " : "col-md-12 ")">
                                            <div id="ddaGrid" class="slickStyle grid" style="min-height: 402px"></div>
                                            <div id="ddaPager" style="height: 20px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="workgroupFieldSetup">
                                <div class="form">
                                    <div class="row" data-bind="visible: editingField">
                                        <div class="col-md-12">
                                            <div class="row" data-bind="visible: AddingField">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="templateSelect">Template</label>
                                                        <div>
                                                            <input type="hidden" id="templateSelect" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-bind="visible: creatingNewField">
                                                <div class="row">
                                                    <div class="col-md-offset-8 col-md-4">
                                                        <div class="formgroup">
                                                            <label for="DEActive">Active</label>
                                                            <input id="DEActive" type="checkbox" data-bind="checked: DEActive" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="FieldName">Field Name</label>
                                                            <div>
                                                                <input id="FieldName" maxlength="128" type="text" class="form-control" data-bind="value: newField().FieldName, attr : { 'disabled' : DEFieldKeyEdit() &gt; 0 }" />
                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: deColumnFieldNameErrorText, visible: deColumnFieldNameError"></span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="UILabel">UI Label</label>
                                                            <input id="UILabel" maxlength="64" type="text" class="form-control" data-bind="value: newField().UILabel" />
                                                            <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: deColumnUILabelErrorText, visible: deColumnUILabelError"></span></small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="DocumentType">Item Type</label>
                                                            <div>
                                                                <input type="hidden" id="docTypeSelect" data-bind="attr : { 'disabled' : DEFieldKeyEdit() &gt; 0}" />
                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: deColumnDocTypeError"></span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="DisplayName">Source Display Name</label>
                                                            <div>
                                                                <input id="DisplayName" maxlength="64" type="text" class="form-control" data-bind="value: newField().DisplayName, enable: newField().IsIntegraPAY" />
                                                                <small><span class="help-inline workgroup-error" style="display: none"></span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="ScreenOrder">Display Order</label>
                                                            <div>
                                                                <input id="ScreenOrder" maxlength="3" type="text" class="form-control" data-bind="value: newField().ScreenOrder" />
                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredScreenOrderFormat, visible: deColumnScreenOrderError"></span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="DataType">Data Type</label>
                                                            <div>
                                                                <input type="hidden" id="dataTypeSelect" data-bind="attr : { 'disabled' : DEFieldKeyEdit() &gt; 0}" />
                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: deColumnDataTypeError "></span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="PaymentSource">Payment Source</label>
                                                            <div>
                                                                <input type="hidden" id="paymentSourceSelect" data-bind="attr : { 'disabled' : DEFieldKeyEdit() &gt; 0}" />
                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: deColumnPaymentSourceError"></span></small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="MarkSense">Mark Sense</label>
                                                            <div class="">
                                                                <label class="radio-inline" for="MarkSense-0">
                                                                    <input name="DisplayBatchID" id="MarkSense-0" type="radio" data-bind="checkedValue: true, checked: markSense" />
                                                                    <span>Yes</span>
                                                                </label>
                                                                <label class="radio-inline" for="MarkSense-1">
                                                                    <input name="DisplayBatchID" id="MarkSense-1" type="radio" data-bind="checkedValue: false, checked: markSense" />
                                                                    <span>No</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Post-Deposit Exception Business Rules</div>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label style="margin: 0">
                                                                                <input id="DERequired" type="checkbox" data-bind="checked: DERequired" />
                                                                                Field is Required
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" data-bind="visible: creatingACHFields">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="PaymentSource">Payment Source</label>
                                                        <div>
                                                            <input type="hidden" id="paymentSourceACHSelect" />
                                                            <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: deACHSourceError"></span></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @if (CanManage)
                                                        {
                                                            <a id="fieldAddButton" class="btn wausauBtn btn-primary btn-topalignToInput" href="#">Save<i class="fa"></i></a>                                                }
                                                        <a id="fieldCancelButton" class="btn wausauBtn btn-inverse btn-topalignToInput" href="#" data-bind="text: cancelButtonText"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" data-bind="visible: displayFieldGrid">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-md-6 @(CanManage ? " " : "hide ")">
                                                    <a id="addFieldLink" class="btn btn-primary" href="#">
                                                        Add<i class="fa"></i>
                                                    </a>
                                                </div>
                                                <div class="@(CanManage ? " col-md-6 " : "col-md-12 ")">
                                                    <div class="pull-right">
                                                        <label for="InactiveCheck">Hide Inactive Fields</label>
                                                        <input type="checkbox" id="InactiveCheck" data-bind="checked: hideInactive" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="fieldGrid" class="slickStyle grid"></div>
                                                    <div id="fieldPager" style="height: 20px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="fieldRules">
                                <div class="form-horizontal" data-bind="visible: editingRule">
                                    <div class="form-group row">
                                        <div class="col-md-3" style="padding-right: 0px">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <div class="panel-group" id="rulesHeaders">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h4 class="panel-title">
                                                                    <a class="panel-link" href="#appliesToPanel">Applies To</a><i class="fa fa-chevron-right" style="float: right;" data-bind="visible: appliesToPanelVisible()"></i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h4 class="panel-title">
                                                                    <a class="panel-link" href="#generalPanel">General</a>
                                                                    <i class="fa fa-chevron-right" style="float: right;" data-bind="visible: generalPanelVisible()"></i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="card" data-bind="visible: checkDigitMenuVisible()">
                                                            <div class="card-header">
                                                                <h4 class="panel-title">
                                                                    <a class="panel-link" href="#checkDigitPanel">Check Digit</a><i class="fa fa-chevron-right" style="float: right;" data-bind="visible: checkDigitPanelVisible()"></i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="card" data-bind="visible: validationValuesMenuVisible()">
                                                            <div class="card-header">
                                                                <h4 class="panel-title">
                                                                    <a class="panel-link" href="#validValuesPanel">Valid Values</a><i class="fa fa-chevron-right" style="float: right;" data-bind="visible: validValuesPanelVisible()"></i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @if (CanManage)
                                                    {
                                                        <a id="ruleAddButton" class="btn wausauBtn btn-primary btn-topalignToInput" href="#">Save</a>                                            }
                                                    <a id="ruleCancelButton" class="btn wausauBtn btn-inverse btn-topalignToInput" href="#" data-bind="text: cancelButtonText"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9" style="padding-left: 0px">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card" style="margin-bottom: 0px" data-bind="visible: appliesToPanelVisible()">
                                                        <div class="card-body">
                                                            <div class="form-group row">
                                                                <div class="col-md-4">
                                                                    <label for="fieldSelect" class="control-label">Field:</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="hidden" id="fieldSelect" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: ruleFieldErrorText, visible: ruleFieldError"></span></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-4">
                                                                    <label for="sourceSelect" class="control-label">Payment Source:</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="hidden" id="sourceSelect" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-4">
                                                                    <label for="typeSelect" class="control-label">Payment Type:</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="hidden" id="typeSelect" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group" data-bind="visible: subTypeSelectVisible()">
                                                                <div class="col-md-4">
                                                                    <label for="subTypeSelect" class="control-label">Payment Sub-type:</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="hidden" id="subTypeSelect" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card" style="margin-bottom: 0px" data-bind="visible: generalPanelVisible()">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <div class="checkbox workgroup-checkbox">
                                                                        <input id="userCanEditCheck" type="checkbox" data-bind="checked: currentRule.UserCanEdit">
                                                                        <label for="userCanEditCheck">User Can Edit</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9" style="text-align: right;">
                                                                    <label class="control-label" style="text-align: right;" data-bind="text: 'Field: ' + selectedRulesField()"></label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom: 0px;">
                                                                <div class="col-md-3">
                                                                    <div class="checkbox workgroup-checkbox">
                                                                        <input id="requiredCheck" type="checkbox" data-bind="checked: currentRule.Required">
                                                                        <label for="requiredCheck">Required</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-3" style="text-align: right;">
                                                                    <label for="RequiredMessage" class="control-label" style="text-align: right;" data-bind="enable: requiredMessageEnabled">Message:</label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <input id="RequiredMessage" maxlength="120" type="text" class="form-control" data-bind="value: currentRule.RequiredMessage, enable: requiredMessageEnabled" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.OptionalNameFormat, visible: ruleRequiredMessageError"></span></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label for="ExceptionDisplayOrder" class="control-label">Display Order:</label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div class="row" style="margin-top: 0px">
                                                                        <div class="col-md-3">
                                                                            <input id="ExceptionDisplayOrder" maxlength="3" type="text" class="form-control" data-bind="value: currentRule.ExceptionDisplayOrder" />
                                                                            <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.OptionalLengthFormat, visible: exceptionDisplayOrderError"></span></small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label class="control-label">Length:</label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div class="row" style="margin-top: 0px">
                                                                        <div class="col-md-3">
                                                                            <input id="MinLength" maxlength="3" type="text" class="form-control" data-bind="value: currentRule.MinLength" />
                                                                        </div>
                                                                        <div class="col-md-1" style="width: 10px">
                                                                            <label class="control-label">-</label>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <input id="MaxLength" maxlength="3" type="text" class="form-control" data-bind="value: currentRule.MaxLength" />
                                                                        </div>
                                                                    </div>
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: ruleLengthErrorText, visible: ruleLengthError"></span></small>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label for="FormatType" class="control-label">Format:</label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <input type="hidden" id="formatTypeSelect" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: formatTypeError"></span></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" data-bind="visible: dateMaskVisible">
                                                                <div class="col-md-3">
                                                                    <label for="dateMaskSelect" class="control-label">Date Mask:</label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <input type="hidden" id="dateMaskSelect" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: dateMaskError"></span></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" data-bind="visible: customMaskVisible">
                                                                <div class="col-md-3">
                                                                    <label for="CustomMask" class="control-label" data-bind="text: customMaskLabel() + ':'" />
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <input id="CustomMask" maxlength="80" type="text" class="form-control" data-bind="value: currentRule.Mask" />
                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: maskErrorText, visible: maskError"></span></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card checkDigitPanel" style="margin-bottom: 0px" data-bind="visible: checkDigitPanelVisible()">
                                                        <div class="card-body checkDigitPanel">
                                                            <div class="form-group row">
                                                                <div class="col-md-2">
                                                                    <label for="cdMethodSelect" class="control-label">Method:</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input type="hidden" id="cdMethodSelect" />
                                                                </div>
                                                                <div class="col-md-6" style="text-align: right;">
                                                                    <label class="control-label" style="text-align: right;" data-bind="text: 'Field: ' + selectedRulesField()"></label>
                                                                </div>
                                                            </div>
                                                            <div data-bind="enable: checkDigitEnabled()">
                                                                <div class="row" style="margin-bottom: 0px">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="col-md-4">
                                                                                <label for="Modulus" class="control-label">Modulus:</label>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <input id="Modulus" maxlength="2" type="text" class="form-control" data-bind="value: currentRule.CheckDigitRoutine.Modulus, enable: checkDigitEnabled()" />
                                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredTwoDigitNoZero, visible: cdModulusError"></span></small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-4">
                                                                                <label for="Compliment" class="control-label">Compliment:</label>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <input id="Compliment" maxlength="2" type="text" class="form-control" data-bind="value: currentRule.CheckDigitRoutine.Compliment, enable: checkDigitEnabled()" />
                                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredTwoDigit, visible: cdComplimentError"></span></small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-4">
                                                                                <label for="Rem10Repl" class="control-label">Rem 10:</label>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <input id="Rem10Repl" maxlength="2" type="text" class="form-control" data-bind="value: currentRule.CheckDigitRoutine.Rem10Replacement, enable: checkDigitEnabled()" />
                                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredTwoDigit, visible: cdRem10Error"></span></small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-4">
                                                                                <label for="Rem11Repl" class="control-label">Rem 11:</label>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <input id="Rem11Repl" maxlength="2" type="text" class="form-control" data-bind="value: currentRule.CheckDigitRoutine.Rem11Replacement, enable: checkDigitEnabled()" />
                                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.RequiredTwoDigit, visible: cdRem11Error"></span></small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-4">
                                                                                <label for="CDOffset" class="control-label">Position:</label>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <input id="CDOffset" maxlength="4" type="text" class="form-control" data-bind="value: currentRule.CheckDigitRoutine.Offset, enable: checkDigitEnabled()" />
                                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: cdOffsetErrorText, visible: cdOffsetError"></span></small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-4"></div>
                                                                            <div class="col-md-8">
                                                                                <div class="checkbox workgroup-checkbox">
                                                                                    <input id="ignoreSpacesCheck" type="checkbox" data-bind="checked: currentRule.CheckDigitRoutine.IgnoreSpaces">
                                                                                    <label for="ignoreSpacesCheck">Ignore Spaces</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @if (CanManage)
                                                                        {
                                                                            <div class="row" style="margin-top: 0px;">
                                                                                <div class="col-md-3">
                                                                                    <label for="OriginalValue" class="control-label">Original:</label>
                                                                                </div>
                                                                                <div class="col-md-2" style="padding-right: 0px">
                                                                                    <input id="OriginalValue" maxlength="1" type="text" class="form-control" data-bind="value: originalValue, enable: checkDigitEnabled()" />

                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <label for="ReplaceValue" class="control-label">Replaced:</label>
                                                                                </div>
                                                                                <div class="col-md-2" style="padding-right: 0px">
                                                                                    <input id="ReplaceValue" maxlength="1" type="text" class="form-control" data-bind="value: replaceValue, enable: checkDigitEnabled()" />
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <button title="Add Replacement" id="addReplacement" class="btn wfs-disablable-link" data-bind="enable: checkDigitEnabled()"><span style="color: green;"><i class="fa fa-plus fa-lg" style="margin-top: 9px"></i></span></button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" style="margin-top: 0px" data-bind="visible: cdReplacementError">
                                                                                <div class="col-md-12">
                                                                                    <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: cdReplacementErrorText, visible: cdReplacementError"></span></small>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div class="form-group row">
                                                                            <div class="col-md-12">
                                                                                <div id="cdReplacementGrid" class="slickStyle grid"></div>
                                                                                <div id="cdReplacementPager" style="height: 20px;"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-2">
                                                                        <label for="WeightPattern" class="control-label">Weights:</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <div class="row" style="margin-top: 0px">
                                                                            <div class="col-md-4" style="padding-right: 0px;">
                                                                                <input type="hidden" id="cdWeightDirectionSelect" />
                                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.SelectionRequired, visible: cdWeightDirectionError"></span></small>
                                                                            </div>
                                                                            <div class="col-md-8" style="padding-left: 0px;">
                                                                                <input id="WeightPattern" maxlength="40" type="text" class="form-control" data-bind="value: currentRule.CheckDigitRoutine.Weights, enable: checkDigitEnabled()" />
                                                                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.WeightPatternRequired, visible: cdWeightPatternError"></span></small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-2">
                                                                        <label for="CDMessage" class="control-label">Message:</label>
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <input id="CDMessage" maxlength="120" type="text" class="form-control" data-bind="value: currentRule.CheckDigitRoutine.FailureMessage, enable: checkDigitEnabled()" />
                                                                        <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.OptionalNameFormat, visible: cdMessageError"></span></small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card" style="margin-bottom: 0px" data-bind="visible: validValuesPanelVisible()">
                                                        <div class="card-body">
                                                            <div class="form-group row">
                                                                <div class="col-md-2">
                                                                    <label for="vtTypeSelect" class="control-label">Type:</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input type="hidden" id="vtTypeSelect" />
                                                                </div>
                                                                <div class="col-md-6" style="text-align: right;">
                                                                    <label class="control-label" style="text-align: right;" data-bind="text: 'Field: ' + selectedRulesField()"></label>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="form-group">
                                                                    <div class="col-md-2">
                                                                        <label for="VTMessage" class="control-label">Message:</label>
                                                                    </div>
                                                                    <div class="col-md-9" style="padding-right: 0px">
                                                                        <input id="VTMessage" maxlength="120" type="text" class="form-control" data-bind="value: currentRule.FieldValidations.FailureMessage, enable: validValuesEnabled()" />
                                                                        <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.OptionalNameFormat, visible: vtMessageError"></span></small>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-2">
                                                                        <label for="ValidationValue" class="control-label">Value:</label>
                                                                    </div>
                                                                    <div class="col-md-9" style="padding-right: 0px">
                                                                        <input id="ValidationValue" maxlength="255" type="text" class="form-control" data-bind="value: validationValue, enable: validValuesEnabled()" />
                                                                        <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.ValidationValueRequired, visible: validationValueError"></span></small>
                                                                    </div>
                                                                    @if (CanManage)
                                                                    {
                                                                        <div class="col-md-1">
                                                                            <button title="Add Value" id="addValidationValue" class="btn wfs-disablable-link" data-bind="enable: validValuesEnabled()"><span style="color: green;"><i class="fa fa-plus fa-lg" style="margin-top: 9px"></i></span></button>
                                                                        </div>
                                                                    }
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div id="validValuesGrid" class="slickStyle grid"></div>
                                                                        <div id="validValuesPager" style="height: 20px;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form" data-bind="visible: notEditingRule">
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="postProcessBalancingSelect">Invoice Balancing (post-process)</label>
                                                <div>
                                                    <input type="hidden" id="postProcessBalancingSelect" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="vertical-align: bottom;">Field Rules</label> @if (CanManage)
                                            {
                                                <div style="padding-left: 5px; padding-bottom: 5px; display: inline-block;">
                                                    <a id="addRuleLink" class="btn wausauBtn btn-primary" href="#">Add<i class="fa"></i></a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div id="ruleGrid" class="slickStyle grid"></div>
                                    <div id="rulePager" style="height: 20px;"></div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="billingFields">
                                <div class="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="BillingAccount">Billing Account</label>
                                                        <div>
                                                            <input id="BillingAccount" maxlength="20" type="text" class="form-control default-focus" data-bind="value: billingAccount" />
                                                            <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.OptionalNameFormat, visible: billingAccountError"></span></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="BillingField1">Billing Field 1</label>
                                                        <div>
                                                            <input id="BillingField1" maxlength="20" type="text" class="form-control" data-bind="value: billingField1" />
                                                            <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.OptionalNameFormat, visible: billingField1Error"></span></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="BillingField2">Billing Field 2</label>
                                                        <div>
                                                            <input id="BillingField2" maxlength="20" type="text" class="form-control" data-bind="value: billingField2" />
                                                            <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: labels.OptionalNameFormat, visible: billingField2Error"></span></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="margin-top: 10px; margin-bottom: 10px" />
                        <div class="row">
                            <div class="col-md-12">
                                @if (CanManage)
                                {
                                 <button id="saveButton" class="btn wausauBtn btn-primary" data-bind="enable: saveCancelEnabled">Save<i class="fa"></i></button>                        }
                                <button id="cancelButton" class="btn wausauBtn btn-inverse" data-bind="text: cancelButtonText, enable: saveCancelEnabled"></button>
                                <small><span class="help-inline workgroup-error" style="display: none" data-bind="text: saveCancelDisabledReason, visible: saveCancelDisabled"></span></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }