<div class="box">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Invoice Search</h3>
        </div>
        <div class="panel-body">
            <workgroupselector htmlid="invoicesearch-wgs" label="Workgroup:"></workgroupselector>
        </div>
    </div>
</div>