﻿@{
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />
<link rel="stylesheet" href="/Assets/jqWidgets/styles/jqx.base.css" type="text/css" />
<script>
    $LAB  
      .script("/Assets/jqwidgets/jqx-all.js")
      .script("/RecHubViews/Assets/DDASummary/groupitemmetadataprovider.js").wait(function () {
          require(["/RecHubViews/Assets/DDASummary/Index.js"], function (DDASummary) {
              DDASummary.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
          });
      })
</script>
<style>
    /* style the grid */
    .slick-group {
        background-color: #CCC !important;
        font-weight: bold;
    }

    .groupValues {
        font-weight: bold;
        color: #222;
    }

    .groupTitle {
        color: #222;
    }

    .tableIcon {
        padding-left: 4px;
        position: absolute;
        top: 4px;
    }

    .tableIcon:hover {
        text-decoration: none;
    }

    #psuedoParent .landing-content {
        min-height: 250px;
    }
    /* style the grid end */

    /* styling for the chart to center in div and size width to optimize for 1003pixel requirement*/
    .ddaChart {
        width: 455px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>

<div class="ddaSumPortlet">
    <div id="tabbase" class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text">DDA Summary</span>
            <div class="titleRefreshIcon">
                <a href="#" class="refresh icon-no-text" title="Refresh the page."><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body" style="font-size: 12px !important;">
            <div class="row" style="padding: 10px;">
                <label class="frameworkLabel">Deposit Date:</label>
                <div id="summaryDepositDate" />
                <span style="float: right;" data-bind="visible: hasData()">
                    <a class="btn btn-primary btnPrint"><i class="fa fa-print" style="margin-right: 5px;"></i>Print</a>
                </span>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center" style="background-color: #ccc; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; padding-right: 2px; overflow-y: auto;">
                    <span data-bind="visible: tooManyDDAs()">More than 10 DDA's.  Chart not available.</span>
                    <div id="paymentTotals" class="ddaChart" data-bind="style: { height: hasData() ? '230px' : '70px' }, visible: displayCharts()"></div>
                </div>
                <div class="col-xs-6 text-center" style="background-color: #ccc; padding-left: 2px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; overflow-y: auto;">
                    <span data-bind="visible: tooManyDDAs()">More than 10 DDA's.  Chart not available.</span>
                    <div id="paymentCounts" class="ddaChart" data-bind="style: { height: hasData() ? '230px' : '70px' }, visible: displayCharts()"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin-top: 10px;">
                    <div id="ddaSummaryGrid" class="slickStyle grid"></div>
                    <div id="ddaSummaryPager" style="height: 20px;"></div>
                </div>
            </div>
            <div id="ddaSummaryNoDataMessage"></div>
        </div>
    </div>
</div>
