﻿.tabbase {
  min-height: 450px;
  margin: 0 5px;
}

.hubLabel {
  margin-right: 5px;
}

.alignRight {
  text-align: right;
}

#rptUser #filterExpander,
#rptRaamUser #filterExpander,
#rptGroup #filterExpander {
    width: 300px !important;
}

.toast-container {
    z-index: 99999 !important;
}
