﻿.daterangedash{
    margin: 6px;
}

.horizontalMargins {
    margin: 0 5px;
}

.rightMargins {
    margin: 0 5px 0 0;
}

#treeBase{
    min-width: 375px;
}

.dataTable tr {
    cursor: default !important;
}

.middlealign{
    vertical-align:middle;
}

#as-workgroup {
    width: 300px;
    height: 28px;
    display: inline-block;
}

.options-column {
    width: 30px;
}

.btn-remove a {
    margin-top: 2px;
}

table .select2-container{
    width: 100% !important;
}

table {
    margin-bottom: 5px !important;
}

.btn-add-criteria, .btn-add-query, .leftMargin {
    margin-left: 8px;
}
.btn-add-criteria i, .btn-add-query i {
    margin-right: 2px;
}

/* Hide the AS filter for efficiency reasons. */
div.dataTables_filter {
    display:none;
}

#select-picker option:nth-child(even){
    background-color: #f5f5f5;
}

#select-picker .button-array {
    vertical-align: middle;
    margin-top: 20px;
    width: 75px;
}

#select-picker .button-array button {
    width: 100%;
    min-width: 45px;
  
}

#select-picker select {
    width: 100%;
    height: 142px;
}

.as-image-column i{
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

/* With scrollable datatables, the headers are rendered seperate from the table. */
#resultsTable thead tr th:after{
    content: '';
}

#resultsTable{
    table-layout: fixed;
    word-wrap: break-word;
}

.table td, .table th {
    padding: 7px !important;
}
.control-margin {
    margin-left: 28px;
}

/*this gives thead col-1 a width of 1.5 */
.half-col {
    width: 12.499999995%
}

.marksense-icon{
    cursor: default !important;
}

/* This is the default bootstrap color. */
.transaction-link,
.batch-link {
    text-decoration: underline;
    color: #337ab7;
}

#view-selected-button {
    margin-left: 4px;
}