﻿@using WFS.RecHub.R360Shared
@{
    Layout = "~/Views/Shared/_Panel.cshtml";
    ViewBag.ParentId = Request["parentId"];
}
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.summer.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/slick-default-theme.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.columnpicker.css" type="text/css" />
<link rel="stylesheet" href="/Assets/slickgrid/controls/slick.pager.css" type="text/css" />
<script>
    $LAB
    .script("/Assets/jqwidgets/jqx-all.js")
    .script("/Assets/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js").wait(function () {
    	require(["/RecHubConfigViews/Assets/FieldValidations/Index.js"], function (FieldValidations) {
            FieldValidations.init('@ViewBag.ParentId', @Html.Raw(Json.Encode(Model)));
        });
    });
</script>

<div id="fieldValidationsBase">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text">Field Validations Maintenance</span>
            <div class="titleRefreshIcon">
                <a title="Refresh" id="refreshScreen" class="icon-no-text" href="#" data-bind="attr: { title: labels.PageRefresh }"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="container" style="max-width: 100%">
            <div class="row">
                <div class="col-md-3">
                    <div id="treeSelector"></div>
                </div>
                <div class="col-md-9">
                    <div id="validationsGrid" class="slickStyle grid"></div>
                    <div id="validationsPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>
