﻿.middlealign{
    vertical-align:middle;
}

.iconbox i{
    margin-left: 5px;
    margin-right: 5px;
}

.iconbox {
    min-width: 55px;
}

.page-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
}

.dataTable .download-icon {
    cursor: pointer;
}

.dataTable tr[role='row'] {
    cursor: pointer;
}

.notification-button {
    width: 49%;
}

#workgroup-selector {
    width: 300px;
    display: inline-block;
}

#notifications-name {
    width: 300px;    
}

.daterangedash {
    margin-left: 7px;
    margin-right: 7px;
}

/*this gives thead col-1 a width of 1.5 */
.half-col {
    width: 12.499999995%
}