.mat-datepicker-toggle {
    background: none no-repeat !important;
}
.input-group-addon {
    padding: 0px 4px;
}
.input-group {
    width: 100px;
}
.datepicker-printmode {
    display: none;
}
.form-group {
    margin-bottom: 5px;
}

@media print {
    .datepicker-printmode {
        display: inline-block;
    }
    .date-control {
        display: none;
    }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon{
    width: 2em !important;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-infix {
    border-top: 0 solid;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 0;
}

::ng-deep .mat-form-field{
    font-family: inherit;
}

.form-control{
    border: 1px solid #ccc;
}