<span class="form-inline">
   <strong>{{ text }}</strong>
   <mat-form-field [style.width]="width + 'px'">
      <input
         matInput
         #dateInput
         [matDatepicker]="datepicker"         
         class="form-control"         
         [style.width]="width + 'px'"
         [disabled]="loading"
         [(ngModel)]="dateValue"
         (ngModelChange)="updateDateValue($event)"
         (dateChange)="fireDateChanged(true, dateInput.value)"
         (blur)="fireDateChanged(true, dateInput.value)"
         (keyup.tab)="fireDateChanged(true, dateInput.value)"
         (keyup.enter)="fireDateChanged(true, dateInput.value)"
      />
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
   </mat-form-field>
</span>