﻿<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Assets/Notifications/Css/Notifications.css" rel="stylesheet" />

<script src="~/Assets/Notifications/NotificationsApp.js?v=20170131"></script>
<script type="text/javascript">
    initNotifications(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'notificationDetailViewModel',
        'notificationDetailPortlet');
</script>
<div id="notificationDetailPortlet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Notification Detail</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Date:</strong>
                            <span data-bind="text:Notification().DateString"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>ID:</strong>
                            <span data-bind="text:Notification().Id"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Message:</strong>
                            <span data-bind="text:Notification().Message"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Attachments</strong>
                        </div>
                        <div class="panel-body">
                            <br />
                            <table class="table datatable table-striped table-hover files-table">
                                <thead>
                                    <tr>
                                        <td>File</td>
                                        <td>File Type</td>
                                        <td>Download</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>