﻿<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Assets/Notifications/Css/Notifications.css" rel="stylesheet" />

<script src="~/Assets/Notifications/NotificationsApp.js?v=20170131"></script>
<script type="text/javascript">
    initNotifications(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'notificationsViewModel',
        'notificationsPortlet');
</script>
<div id="notificationsPortlet">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="page-title">Notifications</span>
        </div>
        <div class="panel-body">
            <br />
            <div id="notification-controls" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-1 half-col">
                        <label class="control-label" for="workgroup-selector">Entity/Workgroup:</label>
                    </div>
                    <div class="col-md-10">
                        <div id="workgroup-selector"></div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-1 half-col">
                        <label class="control-label" for="dateFrom">Date Range:</label>
                    </div>
                    <div class="col-md-10 ">
                        <div id="dateFrom" class="middlealign date-input"></div>
                        <span><i class="fa fa-minus daterangedash"></i></span>
                        <div id="dateTo" class="middlealign date-input"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1 half-col">
                        <label for="notifications-name" class="control-label">Attachment Name:</label>
                    </div>
                    <div class="col-md-10 ">
                        <input id="notifications-name" type="text" class="form-control" data-bind="value:NotificationName"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1 half-col">
                        <label for="notifications-type" class="control-label">Attachment Type:</label>
                    </div>
                    <div class="col-md-10">
                        <div id="notifications-type" class="middlealign"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 half-col"></div>
                    <div class="col-md-3">
                        <button id="notifications-search" class="btn btn-primary">Search</button>
                        <button id="notifications-reset" class="btn btn-inverse">Clear</button>
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <table id="notification-table" class="table dataTable table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>ID</th>
                            <th>Message</th>
                            <th class="rightalign">Attachments</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>