<toaster-container></toaster-container>
<framework-header></framework-header>
<framework-nav></framework-nav>
<div id="r360-main-container">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- low-level CSS for overriding -->
<link href="/Framework/Framework/CSSOverride" rel="stylesheet">