/* WGS (select2) styles */
.select2-results table td b {
  font-size: 12px;
}

/* Validation styles*/
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.user-selector.ngx-datatable .datatable-body {
  height: 305px !important;
}

.user-selector.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #5F92E7;
}

.user-selector.ngx-datatable .datatable-footer .datatable-pager {
  text-align: left;
}

.user-selector ul.pager>li:first-child,
.user-selector ul.pager>li:last-child {
  display: none !important;
}

.user-selector .datatable-body-cell {
  display: flex !important;
  align-items: center;
}

.alert {
  padding: 5px;
}

#r360-main-container .card {
  margin-top: 0px;
  margin-bottom: 15px;
}

table tr td,
table tr th {
  page-break-inside: avoid;
}

table tr td {
  page-break-after: auto;
}

table thead {
  display: table-header-group;
}

table tfoot {
  display: table-footer-group;
}

.hide {
  display: none;
}

/*
  FUN FACT: https://bugzilla.mozilla.org/show_bug.cgi?id=1315994
  Overall - Don't use flexboxes that are big.
*/

@media print {
  @page {
    margin: 0;
  }

  .container,
  .container-fluid {
    width: 1100px;
    display: block;
    overflow: hidden;
  }

  html,
  body,
    {
    margin-left: 0;
    margin-right: 0;
  }

  .hideOnPrint {
    display: none !important;
  }

  /*
    bootstrap overrides - this just addes the boostrap styles back into the print view.
  */
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left
  }

  .col-md-12 {
    width: 100%
  }

  .col-md-11 {
    width: 91.66666667%
  }

  .col-md-10 {
    width: 83.33333333%
  }

  .col-md-9 {
    width: 75%
  }

  .col-md-8 {
    width: 66.66666667%
  }

  .col-md-7 {
    width: 58.33333333%
  }

  .col-md-6 {
    width: 50%
  }

  .col-md-5 {
    width: 41.66666667%
  }

  .col-md-4 {
    width: 33.33333333%
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-2 {
    width: 16.66666667%
  }

  .col-md-1 {
    width: 8.33333333%
  }

  .col-md-pull-12 {
    right: 100%
  }

  .col-md-pull-11 {
    right: 91.66666667%
  }

  .col-md-pull-10 {
    right: 83.33333333%
  }

  .col-md-pull-9 {
    right: 75%
  }

  .col-md-pull-8 {
    right: 66.66666667%
  }

  .col-md-pull-7 {
    right: 58.33333333%
  }

  .col-md-pull-6 {
    right: 50%
  }

  .col-md-pull-5 {
    right: 41.66666667%
  }

  .col-md-pull-4 {
    right: 33.33333333%
  }

  .col-md-pull-3 {
    right: 25%
  }

  .col-md-pull-2 {
    right: 16.66666667%
  }

  .col-md-pull-1 {
    right: 8.33333333%
  }

  .col-md-pull-0 {
    right: auto
  }

  .col-md-push-12 {
    left: 100%
  }

  .col-md-push-11 {
    left: 91.66666667%
  }

  .col-md-push-10 {
    left: 83.33333333%
  }

  .col-md-push-9 {
    left: 75%
  }

  .col-md-push-8 {
    left: 66.66666667%
  }

  .col-md-push-7 {
    left: 58.33333333%
  }

  .col-md-push-6 {
    left: 50%
  }

  .col-md-push-5 {
    left: 41.66666667%
  }

  .col-md-push-4 {
    left: 33.33333333%
  }

  .col-md-push-3 {
    left: 25%
  }

  .col-md-push-2 {
    left: 16.66666667%
  }

  .col-md-push-1 {
    left: 8.33333333%
  }

  .col-md-push-0 {
    left: auto
  }

  .col-md-offset-12 {
    margin-left: 100%
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%
  }

  .col-md-offset-9 {
    margin-left: 75%
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%
  }

  .col-md-offset-6 {
    margin-left: 50%
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%
  }

  .col-md-offset-3 {
    margin-left: 25%
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%
  }

  .col-md-offset-0 {
    margin-left: 0
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left
  }

  .col-sm-12 {
    width: 100%
  }

  .col-sm-11 {
    width: 91.66666667%
  }

  .col-sm-10 {
    width: 83.33333333%
  }

  .col-sm-9 {
    width: 75%
  }

  .col-sm-8 {
    width: 66.66666667%
  }

  .col-sm-7 {
    width: 58.33333333%
  }

  .col-sm-6 {
    width: 50%
  }

  .col-sm-5 {
    width: 41.66666667%
  }

  .col-sm-4 {
    width: 33.33333333%
  }

  .col-sm-3 {
    width: 25%
  }

  .col-sm-2 {
    width: 16.66666667%
  }

  .col-sm-1 {
    width: 8.33333333%
  }

  .col-sm-pull-12 {
    right: 100%
  }

  .col-sm-pull-11 {
    right: 91.66666667%
  }

  .col-sm-pull-10 {
    right: 83.33333333%
  }

  .col-sm-pull-9 {
    right: 75%
  }

  .col-sm-pull-8 {
    right: 66.66666667%
  }

  .col-sm-pull-7 {
    right: 58.33333333%
  }

  .col-sm-pull-6 {
    right: 50%
  }

  .col-sm-pull-5 {
    right: 41.66666667%
  }

  .col-sm-pull-4 {
    right: 33.33333333%
  }

  .col-sm-pull-3 {
    right: 25%
  }

  .col-sm-pull-2 {
    right: 16.66666667%
  }

  .col-sm-pull-1 {
    right: 8.33333333%
  }

  .col-sm-pull-0 {
    right: auto
  }

  .col-sm-push-12 {
    left: 100%
  }

  .col-sm-push-11 {
    left: 91.66666667%
  }

  .col-sm-push-10 {
    left: 83.33333333%
  }

  .col-sm-push-9 {
    left: 75%
  }

  .col-sm-push-8 {
    left: 66.66666667%
  }

  .col-sm-push-7 {
    left: 58.33333333%
  }

  .col-sm-push-6 {
    left: 50%
  }

  .col-sm-push-5 {
    left: 41.66666667%
  }

  .col-sm-push-4 {
    left: 33.33333333%
  }

  .col-sm-push-3 {
    left: 25%
  }

  .col-sm-push-2 {
    left: 16.66666667%
  }

  .col-sm-push-1 {
    left: 8.33333333%
  }

  .col-sm-push-0 {
    left: auto
  }

  .col-sm-offset-12 {
    margin-left: 100%
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%
  }

  .col-sm-offset-9 {
    margin-left: 75%
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%
  }

  .col-sm-offset-6 {
    margin-left: 50%
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%
  }

  .col-sm-offset-3 {
    margin-left: 25%
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%
  }

  .col-sm-offset-0 {
    margin-left: 0
  }

  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    float: left
  }

  .col-xs-12 {
    width: 100%
  }

  .col-xs-11 {
    width: 91.66666667%
  }

  .col-xs-10 {
    width: 83.33333333%
  }

  .col-xs-9 {
    width: 75%
  }

  .col-xs-8 {
    width: 66.66666667%
  }

  .col-xs-7 {
    width: 58.33333333%
  }

  .col-xs-6 {
    width: 50%
  }

  .col-xs-5 {
    width: 41.66666667%
  }

  .col-xs-4 {
    width: 33.33333333%
  }

  .col-xs-3 {
    width: 25%
  }

  .col-xs-2 {
    width: 16.66666667%
  }

  .col-xs-1 {
    width: 8.33333333%
  }

  .col-xs-pull-12 {
    right: 100%
  }

  .col-xs-pull-11 {
    right: 91.66666667%
  }

  .col-xs-pull-10 {
    right: 83.33333333%
  }

  .col-xs-pull-9 {
    right: 75%
  }

  .col-xs-pull-8 {
    right: 66.66666667%
  }

  .col-xs-pull-7 {
    right: 58.33333333%
  }

  .col-xs-pull-6 {
    right: 50%
  }

  .col-xs-pull-5 {
    right: 41.66666667%
  }

  .col-xs-pull-4 {
    right: 33.33333333%
  }

  .col-xs-pull-3 {
    right: 25%
  }

  .col-xs-pull-2 {
    right: 16.66666667%
  }

  .col-xs-pull-1 {
    right: 8.33333333%
  }

  .col-xs-pull-0 {
    right: auto
  }

  .col-xs-push-12 {
    left: 100%
  }

  .col-xs-push-11 {
    left: 91.66666667%
  }

  .col-xs-push-10 {
    left: 83.33333333%
  }

  .col-xs-push-9 {
    left: 75%
  }

  .col-xs-push-8 {
    left: 66.66666667%
  }

  .col-xs-push-7 {
    left: 58.33333333%
  }

  .col-xs-push-6 {
    left: 50%
  }

  .col-xs-push-5 {
    left: 41.66666667%
  }

  .col-xs-push-4 {
    left: 33.33333333%
  }

  .col-xs-push-3 {
    left: 25%
  }

  .col-xs-push-2 {
    left: 16.66666667%
  }

  .col-xs-push-1 {
    left: 8.33333333%
  }

  .col-xs-push-0 {
    left: auto
  }

  .col-xs-offset-12 {
    margin-left: 100%
  }

  .col-xs-offset-11 {
    margin-left: 91.66666667%
  }

  .col-xs-offset-10 {
    margin-left: 83.33333333%
  }

  .col-xs-offset-9 {
    margin-left: 75%
  }

  .col-xs-offset-8 {
    margin-left: 66.66666667%
  }

  .col-xs-offset-7 {
    margin-left: 58.33333333%
  }

  .col-xs-offset-6 {
    margin-left: 50%
  }

  .col-xs-offset-5 {
    margin-left: 41.66666667%
  }

  .col-xs-offset-4 {
    margin-left: 33.33333333%
  }

  .col-xs-offset-3 {
    margin-left: 25%
  }

  .col-xs-offset-2 {
    margin-left: 16.66666667%
  }

  .col-xs-offset-1 {
    margin-left: 8.33333333%
  }

  .col-xs-offset-0 {
    margin-left: 0
  }
}

.portlet-header-text {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}

/***Bootstrap 4 overrides **/
.modal-title {
  font-size: 18px;
}

.modal-dialog {
  max-width: 100%;
}

.modal-footer {
  display: flex;
  text-align: right;
  justify-content: inherit;
  padding: 15px;
  border-top: 1px solid #dee2e6;
}

.navbar {
  margin-bottom: 20px !important;
}

.container {
  width: 100%;
  max-width: none;
}

label {
  font-weight: 700;
}

.card-default {
  border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 2;
  color: #337ab7;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>li>a,
.pagination>li>span {
  color: #337ab7;
}


.page-item.active .page-link {
  background-color: #337ab7;
  border-color: #337ab7;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-item {
  cursor: pointer;
}



.unify .spinner {
  display: inline-block;
  position: relative;
  background-color: transparent !important;
  height: 100px;
  width: 100px;
  border-color: #006daf transparent transparent #006daf;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.unify .spinner:before {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  content: "";
  border-color: #ccc transparent transparent #ccc;
  -webkit-animation: spinBack 1s linear infinite;
  animation: spinBack 1s linear infinite;
}

.unify .spinner,
.unify .spinner:before {
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

.black {
  color: #000;
}

.bgwsmoke {
  background-color: whitesmoke;
}

.bgwhite {
  background-color: #fff;
}

.bluechev {
  color: #3174D8;
  font-size: 1rem;
  cursor: pointer;
}

.pad20px {
  padding: 20px;
}