﻿<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Assets/ManageQueries/Css/ManageQueries.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/ManageQueries/ManageQueriesApp.js"></script>
<script type="text/javascript">
    initManageQueries(@Html.Raw(Json.Encode(Model)), 
        '/RecHubViews/Assets/Shared/GenericController.js', 
        'manageQueriesViewModel', 
        'manageQueriesPortlet');
</script>
<!-- The Page HTML -->
<div id="manageQueriesPortlet">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text">Manage Queries</span>
        </div>
        <div class="card-body">
           <table id="query-table" class="table dataTable table-striped table-hover">
               <thead>
                   <tr>
                       <th style="width:80px"></th>
                       <th>Query Name</th>
                       <th>Query Description</th>
                       <th>Default</th>
                       <th></th>
                   </tr>
               </thead>
               <tbody></tbody>
           </table>
        </div>
    </div>
</div>