﻿<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Receivables 360</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container-fluid container">
        <div id="parentIdValue">
            @RenderBody()
        </div>
    </div>
</body>
</html>
