﻿.daterangedash {
    /*margin-bottom: 10px;*/
    margin-left: 7px;
    margin-right: 7px;
}

.middlealign{
    vertical-align:middle;
}

.horizontalMargins {
    margin: 0 5px;
}

.rightMargins {
    margin: 0 5px 0 0;
}

#treeBase {
    min-width: 375px;
}

.dataTables_filter input {
    margin-left: 0 !important;
}

.dataTables_filter .input-group {
    width: 175px;
    margin-left: 5px;
}

/* Rows are clickable on Batch summary. */
.dataTable tr {
    cursor: pointer;
}

/*Printer friendly page styles*/
.header {
    margin: 0;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.batch-data {
    font-size: 16px;
    font-weight: bold;
}

#batch-summary-treebase {
    width: 375px;
}

#printerlink {
    margin-top: 20px;
    margin-right: 18px;
}
.batchwork-group-label {
    margin-top: 5px;
}
    