﻿<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/RecHubViews/Assets/PaymentSearch/Css/PaymentSearch.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/PaymentSearch/PaymentSearchApp.js"></script>
<script type="text/javascript">
    initPaymentSearch(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'paymentSearchViewModel',
        'paymentSearchPortlet');
</script>
<!-- The Page HTML -->
<div id="paymentSearchPortlet">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Payment Search</span>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Search Criteria</strong>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-2"><label class="control-label" for="ps-workgroup">Entity/Workgroup:</label></div>
                                    <div class="col-md-10"><div id="ps-workgroup" class="middlealign"></div></div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2"><label class="control-label" for="dateFrom">Date Range:</label></div>
                                    <div class="col-md-10">
                                        <div id="dateFrom"></div>
                                        <span><i class="fa fa-minus daterangedash"></i></span>
                                        <div id="dateTo"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2"> <label class="control-label" for="paymentType">Payment Type:</label></div>
                                    <div class="col-md-10"><div id="paymentType"></div></div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="control-label" for="paymentSource">Payment Source:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div id="paymentSource"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2"> <label class="control-label" for="payment-sort">Sort By:</label></div>
                                    <div class="col-md-10">
                                        <div id="payment-sort">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Query Builder</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="query-filter"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" id="search-button">Search</button>
                    <button class="btn btn-inverse" id="clear-search-button">Clear Search</button>
                </div>
            </div>
        </div>

    </div>
</div>