﻿<!-- Page-Specific CSS -->
<link rel="stylesheet" href="~/Assets/Shared/TableDesign.css" type="text/css" />
<link href="/Assets/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/RecHubViews/Assets/PaymentSearch/Css/PaymentSearch.css" rel="stylesheet" />

<!-- Initial Loading Script -->
<script src="~/Assets/PaymentSearch/PaymentSearchApp.js"></script>
<script type="text/javascript">
    initPaymentSearch(@Html.Raw(Json.Encode(Model)),
        '/RecHubViews/Assets/Shared/GenericController.js',
        'paymentSearchResultsViewModel',
        'paymentSearchResultsPortlet');
</script>
<!-- The Page HTML -->
<div id="paymentSearchResultsPortlet">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text"><span class="breadcrumbheader"></span>Search Results</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="results-table" class="table dataTable table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Workgroup</th>
                                <th>Deposit Date</th>
                                <th>Batch ID</th>
                                <th>Batch</th>
                                <th>Payment Source</th>
                                <th>Payment Type</th>
                                <th>Transaction</th>
                                <th>Payment Amount</th>
                                <th>R/T</th>
                                <th>Account Number</th>
                                <th>Check/Trace/Ref Number</th>
                                <th>Payer</th>
                                <th>DDA</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>