.list-labels {
    font-size: 12px;
    margin-bottom: 5px;
}

.selector-align {
    margin-left: 25px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.list-container {
    width: 45%;
}

.controls-container {
    display: flex;
    width: 8%;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep datatable-body-cell.datatable-body-cell {
    cursor: pointer;
}

:host ::ng-deep .datatable-header-cell-template-wrap {
    line-height: 10px !important;
}

/*Disables text selection on users to avoid weird highlighting on users*/
.no-select {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */

}