<label>Entity</label>
<workgroupselector htmlid="{{htmlid}}-entitySelector" entitiesOnly="true" (selectedEntityChange)="clickedEntity($event)"
    allowEntitySelection="true">
</workgroupselector>
<br>
<div class="row wrapper selector-align ">
    <div class="list-container">
        <div class="list-labels">
            <strong>Available users for entity {{selectedEntity.Name}}</strong>
        </div>
        <ngx-datatable #availUsersNgx class="material user-selector no-select" [columns]="entityListUsercolumns" [rows]="entityUsers" [footerHeight]="45"
            [limit]="10" selectionType="multiClick" [loadingIndicator]="loading" [selected]="availableSelected" [sorts]="[{prop: 'Name', dir: 'asc'}]"
            [messages]="{emptyMessage: 'No available users'}">
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    , let-curPage="curPage" let-offset="offset">
                    <datatable-pager #availUsersNgxPaginator
                        [pagerLeftArrowIcon]="'datatable-icon-left'" 
                        [pagerRightArrowIcon]="'datatable-icon-right'" 
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" 
                        [page]="curPage" [size]="pageSize" 
                        [count]="rowCount"                        
                        (change)="availUsersNgx.onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>

    </div>
    <div class="controls-container">
        <div>
            <button title="Move selected" class="btn btn-default move" type="button" (click)="addSelectedUsers()">
                <i class="fa fa-angle-right click-through"></i>
            </button>
            <br>
            <button title="Remove selected" class="btn btn-default remove" type="button" (click)="removeSelectedUsers()">
                <i class="fa fa-angle-left click-through"></i>
            </button>
        </div>
    </div>
    <div class="list-container">
        <div class="list-labels">
            <strong>Associated users</strong>
        </div>
        <ngx-datatable #selectedUsersNgx class="material user-selector no-select" [columns]="selectedListUserColumns" [rows]="selectedUsers"
            [footerHeight]="45" [limit]="10" selectionType="multiClick" [loadingIndicator]="loading" [selected]="currentlySelected"
            [sorts]="[{prop: 'Name', dir: 'asc'}]" [messages]="{emptyMessage: 'No associated users'}">
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    , let-curPage="curPage" let-offset="offset">
                    <datatable-pager 
                        [pagerLeftArrowIcon]="'datatable-icon-left'" 
                        [pagerRightArrowIcon]="'datatable-icon-right'" 
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage" 
                        [size]="pageSize" 
                        [count]="rowCount"                         
                        (change)="selectedUsersNgx.onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</div>