<ng-template #confirmContent>
  <form>
    <div class="modal-header">
      <h4 class="modal-title">{{header}}</h4>
    </div>
    <div class="modal-body">
      <div class="form">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12" [innerHTML]="body">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary " (click)="confirm()">{{confirmText}}</button>&nbsp;
      <button type="button" class="btn btn btn-inverse " (click)="cancel()">{{cancelText}}</button>
    </div>
  </form>
</ng-template>