.modal-dialog {
    margin-top: 20px !important;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.fade {
    opacity: 1 !important;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade {
    opacity: 0.5 !important;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}