.daterangedash {
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.middlealign{
    vertical-align:middle;
}

.fieldset {
    margin-right: 10px;
}

.dateto {
    display: flex;
    margin-top: 5px;
}

.search {
    display: flex;
    margin-top: 5px;
}

.select-print-label {
    display: none;
}

@media print {
    
    .select-print-label {
        display: inline-block;
    }

    select {
        display: none;
    }

}