<div class="box">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-left portlet-header-text">
                        <breadcrumb></breadcrumb>Batch Summary
                    </span>
                    <refresh (onRefresh)="buildData()" hoverMessage="Refresh batch summary page"
                        printHoverMessage="Print batch summary page (Ctrl+P)"></refresh>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class=col-md-12>
                    <div class="fieldset pull-left">
                        <div>
                            <label>Date Range:</label>
                        </div>
                        <div>
                            <datepicker text="" width="150" (dateChange)="dateFromChange($event)" [loading]="loading"
                                [date]="depositDateFrom"></datepicker>
                        </div>
                    </div>
                    <div class="fieldset pull-left">
                        <br>
                        <div>
                            <span><i class="fa fa-minus daterangedash"></i></span>
                        </div>
                    </div>
                    <div class="fieldset pull-left">
                        <br>
                        <div class="dateto">
                            <datepicker text="" width="150" (dateChange)="dateToChange($event)" [loading]="loading"
                                [date]="depositDateTo"></datepicker>
                        </div>
                    </div>
                    <div class="fieldset pull-left">
                        <div>
                            <label>Workgroup:</label>
                        </div>
                        <div>
                            <workgroupselector label="" htmlid="batchsummary-wgs" allowEntitySelection="true"
                                [(selectedWorkgroup)]="selectedWorkgroup" (selectedWorkgroupChange)="workgroupChange()"
                                width="280"></workgroupselector>
                        </div>
                    </div>
                    <div class="fieldset pull-left">
                        <div>
                            <label>Payment Type:</label>
                        </div>
                        <div>
                            <select [disabled]="loading" class="form-control" id="selectbox-paymenttypes"
                                [(ngModel)]="selectedPaymentType" [style.width]="280 + 'px'">
                                <option *ngFor="let type of paymentTypes" [ngValue]="type">{{type.LongName}}</option>
                            </select>
                            <span class="select-print-label">{{selectedPaymentType?.LongName}}</span>
                        </div>
                    </div>
                    <div class="fieldset pull-left">
                        <div>
                            <label>Payment Source:</label>
                        </div>
                        <div>
                            <select [disabled]="loading" class="form-control" id="selectbox-paymentsources"
                                [(ngModel)]="selectedPaymentSource" [style.width]="280 + 'px'">
                                <option *ngFor="let source of paymentSources" [ngValue]="source">{{source.LongName}}
                                </option>
                            </select>
                            <span class="select-print-label">{{selectedPaymentType?.LongName}}</span>
                        </div>
                    </div>
                    <div class="fieldset pull-left">
                        <br>
                        <div class="search hideOnPrint">
                            <button id="searchButton" [disabled]="loading" (click)="buildData()"
                                class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ng-container *ngIf="loading">
                    <loading size="100"></loading>
                </ng-container>
                <ng-container *ngIf="!loading">
                    <div class="col-sm-12">
                        <div id="batchsummary-panel" class="card-body">
                            <datatable htmlid="batchSummary-grid" [columns]="columns" [data]="batchSummaryData"
                                [isDeferLoading]="!hasSharedStorageValue" (createdRow)="createdRow($event)"
                                (clickedRow)="clickedRow($event)" [preDataFunction]="setSearchValues"
                                [searchFunction]="search" [isServerSide]="true" [pageLength]="10"
                                dataUrl="/RecHubViews/BatchSummary/GetBatches" [isSuppressDefaultErrors]="true"
                                [headerFunction]="buildHeader" [errorFunction]="errorHandler"
                                [footerFunction]="buildFooter" [lengthOptions]="lengthOptions"
                                dataRowHoverMessage="Click to view batch detail." [(search)]="searchValue">
                            </datatable>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>