﻿.tabbase {
}

.hubLabel {
  margin-right: 5px;
}

.hubText {
  margin-right: 15px;
}

.alignRight {
  text-align: right;
}

#error-display .alert {
    word-wrap: break-word;
}

/* style the grid */
.slick-group {
  background-color: #CCC !important;
}

.groupValues {
  font-weight: bold;
  color: #222;
}

.groupTitle {
  color: #222;
}

.tableIcon {
  padding-left: 4px;
  position: absolute;
  top: 4px;
}

  .tableIcon:hover {
    text-decoration: none;
  }

#psuedoParent .landing-content {
  min-height: 250px;
}

/* style the grid end */
