table {
    font-size: 12px;
}

.rel {
    position: relative;
}

.stretch {
    width: 100% !important;
}

.loading-overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    position: absolute;
    z-index: 9;
    padding-top: 10px;
    border-radius: 3px;
}

tr.selected {
    background-color: #B0BED9;
}


/*:host ::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
*/
:host ::ng-deep .pagination>li.disabled:hover {
    cursor: not-allowed !important;
    ;
}

:host ::ng-deep table.dataTable tr {
    border: 1px solid #dee2e6 !important;
}

:host ::ng-deep table.dataTable td {
    border-right: 1px solid #dee2e6 !important;
}

table.dataTable thead>tr>th.alignRight,
table.dataTable thead>tr>td.alignRight {
    padding-right: 8px;
}

/*:host ::ng-deep .pagination>li>a,
.pagination>li>span {
    color: #337ab7;
}*/


:host ::ng-deep table.dataTable thead .sorting:after {
    opacity: 0.5 !important;
    right: .5em !important;
    content: "\2193" !important;
}

:host ::ng-deep table.dataTable thead .sorting:before {
    opacity: 0.5 !important;
    right: 1em !important;
    content: "\2191" !important;
    position: absolute;
}

:host ::ng-deep table.dataTable thead .sorting_asc:after {
    right: .5em !important;
    content: "\2193" !important;
    opacity: 0.5;
}

:host ::ng-deep table.dataTable thead .sorting_asc:before {
    right: 1em !important;
    content: "\2191" !important;
    position: absolute;
    opacity: 1;
}

:host ::ng-deep table.dataTable thead .sorting_desc::before {
    right: 1em !important;
    content: "\2191" !important;
    position: absolute;
    opacity: 0.5;
}

:host ::ng-deep table.dataTable thead .sorting_desc:after {
    right: .5em !important;
    content: "\2193" !important;
    opacity: 1;
}

:host table.dataTable ::ng-deep tbody>tr.group {
    cursor: pointer;
}

:host table.dataTable ::ng-deep tbody>tr.datarow {
    cursor: pointer;
}

:host table.dataTable ::ng-deep tbody>tr>td.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep .dataTables_filter .btn {
    width: 30px;
    height: 29px;
    padding: 0;
    text-align: center;
    margin-left: 5px;
}

:host ::ng-deep table.dataTable {
    border-collapse: collapse !important;
}

:host ::ng-deep .labelInfo {
    float: left;
    padding-right: 10px;
    line-height: 30px;
}

:host ::ng-deep .dataTables_spacer {
    color: #333;
    float: left;
    border-left: 1px solid #333;
    line-height: 20px;
    margin-top: 6px;
    margin-right: 5px;
}

:host ::ng-deep .table td,
:host ::ng-deep .table th {
    padding: 8px !important;
}

:host ::ng-deep .dt_font {
    font-size: 0.875rem;
}

:host ::ng-deep .dataTables_length {
    margin-left: -5px;
}

@media (max-width: 991px) {

    /* This is the default pixel count for bootstrap's col-md-x classes. */
    table.dataTable {
        font-size: 10px;
    }
}

@media print {

    :host ::ng-deep .dataTables_length,
    :host ::ng-deep .dataTables_filter,
    :host ::ng-deep .dataTables_info,
    :host ::ng-deep .dataTables_paginate {
        display: none !important;
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:after {
        display: none !important;
    }
}

/* Every thing below this line is temporary until we find out what we want to do for overrides*/

:host ::ng-deep .pagination>.active>a,
:host ::ng-deep .pagination>.active>a:focus,
:host ::ng-deep .pagination>.active>a:hover,
:host ::ng-deep .pagination>.active>span,
:host ::ng-deep .pagination>.active>span:focus,
:host ::ng-deep .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3174D8;
    border-color: #3174D8;

}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #3174D8;
    background-color: #eee;
    border-color: #ddd;
}

:host ::ng-deep .pagination>li>a,
:host ::ng-deep .pagination>li>span {
    color: #3174D8
}


:host ::ng-deep .page-item.active .page-link {
    background-color: #3174D8;
    border-color: #3174D8;
}