﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Framework Mock</title>
  <link rel="stylesheet" href="/Assets/jquery/css/jquery-ui.min.css" />
  <link rel="stylesheet" href="/Assets/bootstrap/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/Assets/jasny-bootstrap/css/jasny-bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/Assets/bootstrap-modal/css/bs-modal.css" type="text/css" />
  <link rel="stylesheet" href="/Assets/fontawesome/css/font-awesome.min.css" type="text/css" />  
  <link rel="stylesheet" href="/Assets/jquery-toastmessage/resources/css/jquery.toastmessage.css" type="text/css" />
  <link rel="stylesheet" href="/Assets/select2/select2.css" type="text/css" />
  <link rel="stylesheet" href="/Assets/framework/CSS/framework.css" type="text/css" />
  <link rel="stylesheet" href="/Assets/framework/CSS/wfs-bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/Assets/jqwidgets/styles/jqx.base.css" type="text/css" />
  <script type="text/javascript" src="/Assets/etc/LAB.min.js"></script>
  <script src="/Assets/etc/require.js"></script>
</head>
<body>
  <div id="loadHeader" class="frameworkContainer"></div>
  <div id="main" class="frameworkContainer col-md-12">
    <div>
      @RenderBody()
    </div>
    <div id="loadFooter"></div>
  </div>
</body>
</html>
