﻿<div id="hvHomeParent">
  <div>
    <div class="row">
      <div class="col-md-12">
        @Html.Action("Menu", "Home")
      </div>
    </div>
    <div class="row">
      <div id="hvHomeContent" class="col-md-12 tabbase">
        @RenderBody()
      </div>
    </div>
  </div>
</div>
