<i *ngIf="showRefresh" (click)="onRefresh.emit()" title="{{hoverMessage}}" class="fa fa-refresh fa-2x pull-right" id="refreshPageButton"></i>
<i *ngIf="showPrint" (click)="print()" title="{{printHoverMessage}}" class="fa fa-print fa-2x pull-right" id="printPageButton"></i>