<div class="col-sm-2">
    <div class="wrapper">
        <p class="data">
            <strong>{{data}}</strong>
        </p>
        <p class="title">
            <strong>{{title}}</strong>
        </p>
    </div>
</div>