﻿<link href="~/Assets/UserPreferences/CSS/UserPreferences.css" rel="stylesheet" />
<script src="~/Assets/UserPreferences/UserPreferencesApp.js"></script>
<script>
    initPreferences(@Html.Raw(Json.Encode(Model)));
</script>

<div id="preferences-container">
    <div class="card">
        <div class="card-header">
            <span class="portlet-text">User Preferences</span>
        </div>
        <div class="card-body">
            <div class="row" data-bind="visible: displayRemitterAccesible()">
                <div class="col-md-2">
                    <label>Display Payer Name</label>
                    <label class="subText">(In Images PDF)</label>
                </div>
                <div class="col-md-1"><input type="checkbox" data-bind="checked: displayPayerName" /></div>
            </div>
            <div class="row"></div>
            <div class="row" data-bind="visible: recordsPageAccesible()">
                <div class="col-md-2">
                    <label>Rows Displayed Per Page:</label>
                    <label class="subText">(Search, Notifications)</label>
                </div>
                <div class="col-md-1"><input class="form-control" type="text" data-bind="textInput: rowsPerPage" /></div>
                <span class="error" style="display: none" data-bind="text: labels().recordsPerPageRequired, visible: rowsDisplayedError"></span>
                <span class="error" style="display: none" data-bind="text: labels().recordsPerPageRange, visible: rowsDisplayedRangeError"></span>
            </div>
            <div class="row btns-margin" data-bind="visible: (displayRemitterAccesible() || recordsPageAccesible()) ">
                <div class="col-md-2">
                    <button class="btn btn-primary" id="SubmitButton">Submit</button>
                    <button class="btn btn-inverse" id="RestoreDefaults">Restore Defaults</button>
                </div>
            </div>
        </div>
    </div>
</div>