﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>R360 DIT Container Installer</title>
    <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="../node_modules/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div v-if="state == 0 && !silentMode" class="col s12 center">
                    <!-- UI for showing options. -->
                    <h4>
                        <strong>Welcome! Please select an option.</strong>
                    </h4>
                    <div class="row">
                        <div class="col s6">
                            <button @click="state = 1" class="btn waves-effect waves-light">Install</button>
                        </div>
                        <div class="col s6">
                            <button @click="uninstall()" class="btn waves-effect waves-light red lighten-2">Uninstall</button>
                        </div>
                    </div>
                </div>
                <div v-if="state == 1" class="col s12">
                    <!-- UI for showing options. -->
                    <h4 class="center">
                        <strong>After the installer closes, run Configurator to complete the installation</strong>
                    </h4>

                    <div class="row">
                        <div class="col s6">
                            <button @click="state = 0" class="btn waves-effect waves-light grey darken-2">Back</button>
                        </div>
                        <div class="col s6">
                            <button @click="install()" class="btn waves-effect waves-light">Install</button>
                        </div>
                    </div>
                </div>
                <div v-if="state == 2" class="col s12 center">
                    <!-- UI for showing processing work. -->
                    <h4>
                        <strong>{{ activity }} {{ name }}...</strong>
                    </h4>
                    <br>
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <ul id="logs">
                        <li v-for="log in logs">{{log}}</li>
                    </ul>
                </div>
                <div v-if="state == 3" class="col s12 center">
                    <!-- UI for showing that the work is all done. -->
                    <p>
                        <i class="material-icons large">check</i>
                    </p>
                    <p>All done!</p>
                    <p class="grey-text">This installer will close soon.</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>