#app {
    margin-top: 20px;
}

.btn {
  width: 100%;
}

#logs li {
  color: #999;
}

.input-field {
  margin-top: 0 !important;
}

::placeholder {
  color: #666;
}

.mtop {
  margin-top: 10px;
}

input {
  margin-bottom: 8px !important;
}

#logs li:nth-child(1) {
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

/* Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }