fieldset.appliesto-border {
    border: 1px solid #000 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0 0 0 0 #000;
    box-shadow:  0 0 0 0 #000;
}

legend.appliesto-border {
    width:inherit;
    font-size: 0.8em !important;
    font-weight: bold !important;
    padding: 0 10px;
    border-bottom:none;
}
.alertInput{
    width:320px;
}