<div class="form-group">
    <label>Workgroup</label>
    <workgroupselector htmlid="payer-wgs" [(selectedWorkgroup)]="currentAlert.Workgroup" (selectedWorkgroupChange)="onBlur()"></workgroupselector>
    <div [hidden]="currentAlert.IsWorkgroupValid || currentAlert.Pristine" class="alert alert-danger alertInput">
        Workgroup is required
    </div>
</div>
<div class=form-group>
    <entityuserselector htmlid="payer-user-selector" [(selectedUsers)]="currentAlert.AlertUsers" (selectedUsersChange)="onBlur()"></entityuserselector>
</div>
<div class="form-group">
    <checkbox htmlid="active-extractcomplete" text="Active" [(checked)]="currentAlert.IsActive"></checkbox>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control alertInput" required maxlength="30" [(ngModel)]="currentAlert.Description" (blur)="onBlur()">
    <div [hidden]="currentAlert.IsDescriptionValid || currentAlert.Pristine" class="alert alert-danger alertInput">
        Description is required
    </div>
</div>
<div id="mainGroup">
    <div id="appliesToGroup">
        <fieldset class="appliesto-border">
            <legend class="appliesto-border">Applies To</legend>
            <div class="form-group">
                <label>Operator</label>
                <br>
                <select [(ngModel)]="currentAlert.Operator" (ngModelChange)="operatorChanged($event)" [compareWith]="compareOperators"
                     class="alertInput form-control">                    
                    <option *ngFor="let op of alertOperators" [ngValue]="op"> {{op.text}} </option>
                </select>
                <div [hidden]="currentAlert.IsOperatorValid || currentAlert.Pristine" class="alert alert-danger alertInput">
                        Operator is Required
                </div>
            </div>
            <input id="eventValue" name="eventValue" type="text" required [(ngModel)]="currentAlert.EventValue" (blur)="onBlur()" 
                class="form-control alertInput" (keypress)="eventKeyPress($event)" maxlength="80">
            <div [hidden]="currentAlert.IsEventValueValid || currentAlert.Pristine" class="alert alert-danger alertInput">
                Value is required
            </div>
        </fieldset>
    </div>
</div>